
h1.toonWeeklyEvents{width:100%; background:url(../img/weeklyEvents.png) no-repeat scroll 0;margin:0px 0px 10px 5px;text-indent:-9999px;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../img/weeklyEvents.png');}

#colA{
float: left;
width: 191px;
padding: 10px 25px 300px;
line-height: 18px;
overflow:hidden;
}

#colB{
float: right;
width: 655px;
padding: 10px 25px 25px;
}

#colA ul li {
list-style-type: none;
font-size: 17px;
margin-bottom: 10px;
}

#colA dl dd ul li{
font-size: 15px;
padding: 3px 15px;
background: url(../img/icon_ulBullet.png) no-repeat scroll left 7px;
margin: 0px 4px 3px 12px;
padding: 3px 15px;
}

#colA dl dd ul li.colNavSelected {
background:transparent url(../../en/global/img/bg_colNavSelected.png) no-repeat scroll left top;
color:#203F4C;
font-size:16px;
height:22px;
left:-12px;
padding:5px 15px;
position:relative;
width:201px;
}

#colA h2{
padding: 50px 0px 15px;
}

#colA ul li.colNavSelected {
background:transparent url(../../en/global/img/bg_colNavSelected.png) no-repeat scroll left top;
color:#203F4C;
font-size:17px;
height:22px;
left:-12px;
padding:5px 15px;
position:relative;
width:201px;
}

#colA p img{
float: left;
margin-right: 10px;
}

#mainContent{
position: relative;
}

div.charFaqTop{
background:transparent url(../img/faqs/img_charFaqTop.png) no-repeat scroll left top;
_background: none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../img/faqs/img_charFaqTop.png', sizingMethod='crop');
height:250px;
position:absolute;
right:-10px;
top:-64px;
width:245px;
z-index:2;
}

div.charFaqBtm{
background:transparent url(../img/faqs/img_charFaqBtm.png) no-repeat scroll left top;
_background: none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../img/faqs/img_charFaqBtm.png', sizingMethod='scale');
height:250px;
position:absolute;
left: 52px;
bottom: 15px;
width:245px;
z-index:2;
}

#colB ul li{
font-size: 22px;
padding: 3px 20px 10px;
list-style-type:none;
line-height: 30px;
background: url(../img/icon_ulBullet.png) no-repeat scroll left 10px;
}

#colB dl{
margin-top: 15px;
line-height:23px;
padding-top: 30px;
}

#colB dl dd, #colB dl dt{
position:relative;
padding: 4px 25px 15px 35px;
}
#colB dl dd{
font-size: 16px;
}

#colB dl dt{
font-size: 18px;
}

#colB dl dd span, #colB dl dt{
color: #000000;
font-weight: bold;
}

#colB dl dd span, #colB dl dt span{
font-size: 26px;
position:absolute;
top: 0px;
left: 0px;
_left:-35px;
}

.arrowUp{
background-position: left: -61px;
background-repeat: no-repeat;
height:19;
padding: 0 0 4px 22px;
}