img#eula{margin:-190px 0px 0px 485px}

.boxMid960{padding:20px;width:920px;overflow:hidden;}
.boxMid960 p {font-size:18px;line-height:25px;}
.boxMid960 ul {list-style:none;font-size:18px;font-weight:bold;margin:20px;}
.boxMid960 ul li {margin-bottom:10px;}
h1.eula{width:100%; background:url(../img/title_eula.png) no-repeat scroll;margin:0px 0px 10px 5px;padding:0 0 5px;text-indent:-9999px;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/title_eula.png');}

h1.maTitle{width:100%; background:url(../img/titles/member-agreements.png) no-repeat scroll;margin:0px 0px 10px 20px;padding:0 0 5px;text-indent:-9999px;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/titles/member-agreements.png');}

.news{width:900px;text-align:justify;padding-top:12px;padding-bottom:12px}

.ttLicense{border:1px solid #CCCCCC; width: 920px; height:200px; overflow:auto; padding-top:15; padding-bottom: 15;}

/*Begin TT Change*/
a#eulaIAgree { position: relative; display: block; background: transparent url('../img/btns/btn-large-i-agree-off.png') no-repeat scroll 0 0; width: 204px; height: 48px; margin: 0 auto; text-indent: -9999px; }
a#eulaIAgree:hover { background: transparent url('../img/btns/btn-large-i-agree-on.png') no-repeat scroll 0 0; width: 204px; height: 48px; }
#eula .ttMid a { text-decoration: underline; position: relative; } 
/*End TT Change*/