img#eula {
  margin: -190px 0 0 485px;
}
#memberAgreement .boxMid960, #eula .boxMid960 {
  padding: 20px;
  width: 920px;
  overflow: hidden;
}
#eula h1.pageTitle {
  width: 100%;
  background: url(../img/title_eula.png) no-repeat scroll;
  margin: 0 0 10px 5px;
  padding: 0 0 5px;
  text-indent: -9999px;
}
#IE6 #eula h1.pageTitle {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://toontastic.sunrise.games/toontown/en/global/img/title_eula.png');
}
#eula .ttLicense, #memberAgreement .ttLicense {
  border: 1px solid #ccc;
  width: 920px;
  height: 200px;
  overflow: auto;
  padding: 10px 5px 0px 5px;
}
a#eulaIAgree {
  position: relative;
  display: block;
  background: transparent url('../img/btns/btn-large-i-agree-off.png') no-repeat scroll 0 0;
  width: 204px;
  height: 48px;
  margin: 0 auto;
  text-indent: -9999px;
}
a#eulaIAgree:hover {
  background: transparent url('../img/btns/btn-large-i-agree-on.png') no-repeat scroll 0 0;
  width: 204px;
  height: 48px;
}
#memberAgreement .boxMid960 p.headers {
  font-size: 18px;
  line-height: 25px;
  margin: 0 0 16px 0;
}
#memberAgreement .boxMid960 p, #eula .boxMid960 p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 16px 0;
}
#memberAgreement h1.pageTitle {
  width: 100%;
  background: url(../img/titles/member-agreements.png) no-repeat scroll;
  margin: 0 0 10px 20px;
  padding: 0 0 5px;
  text-indent: -9999px;
}
#IE6 #memberAgreement h1.pageTitle {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://toontastic.sunrise.games/toontown/en/global/img/titles/member-agreements.png');
}
#memberAgreement .boxMid960 ul li {
  font-size: 16px;
  padding: 4px 15px 10px 20px;
  list-style-type: none;
  line-height: 20px;
  background: url(../../global/img/icon_ulBullet.png) no-repeat scroll left 10px;
}
#IE6 #eula .ttLicense, #IE6 #memberAgreement .boxMid960 a {
  position: relative;
}