.mainContainer {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/bg_mainContainer.png',sizingMethod='scale');
}

#header {
height: 150px;
}

#headerLogo {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.gamestown/en/global/img/txt_headerLogo.png',sizingMethod='crop');
}

a#headerPlayNow {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.gamestown/en/global/img/btn_playNow.png',sizingMethod='crop');
}

a#headerPlayNow:hover {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.gamestown/en/global/img/btn_playNowOvr.png',sizingMethod='crop');
}

#headerNav,#headerNav li a,#headerNav li ul,#subNavContainer ul,#subNavContainer ul li a {
background-image: url(../img/bg_navIE.gif);
}

#footerLinks1 {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.gamestown/en/global/img/img_footerSprite.png',sizingMethod='crop');
}

#ttGeneric form input,
#ttGeneric form textarea {
 position: relative;
}

.toonHq #header #headerNavToonHQSub {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.gamestown/en/global/img/bg_navToonHq.png',sizingMethod='crop');
}

/* Blog */
#toonNews #mainContent a {
 position: relative;
}
#toonNews form#commentForm .previewBtn {
 position: relative;
 background:url(https://toontastic.sunrise.games/toontown/en/global/img/btns/preview.gif) no-repeat scroll 0 0;
}
#toonNews form#commentForm .previewBtn.on {
 background-position: 0 -56px;
}
#toonNews form#commentForm .postBtn {
 position: relative;
 background:url(https://toontastic.sunrise.games/toontown/en/global/img/btns/post.gif) no-repeat scroll 0 0;
}
#toonNews form#commentForm .postBtn.on {
 background-position:0 -54px;
}

form#commentForm .textarea-large {
 position: relative;
 z-index: 50;
 padding-left: 0;
 margin-top: 10px;
}
form#commentForm .textarea-large textarea{
 position: relative;
 z-index: 100;
}
form#commentForm .text-large {
z-index: 100; position: relative; height: 26px; width: 270px; margin-left: 0; padding: 5px 10px 5px 0; float: left;
}
form#commentForm .text-large input {
 position: relative;
 z-index: 5000;
 width: 260px;
 font-size: 16px;
 color: #666;
 text-align: left;
 font-family: Arial,Helvetica,sans-serif;
}
form#commentForm  label { width: 120px; float: left; }

/*
#toonNews form#commentForm .previewBtn {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='http://toondev.dolimg.com/toontown/en/global/img/btns/preview.png',sizingMethod='crop');
}

#toonNews form#commentForm .postBtn {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='http://toondev.dolimg.com/toontown/en/global/img/btns/post.png',sizingMethod='crop');
}

#toonNews .comments-form input {
position: relative;
}
*/
.membership #header #headerNavMembershipSub {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/bg_navMembership.gif',sizingMethod='crop');
}

/* Parents */
.parents #header #headerNavParentsSub {
position: relative;
width: 592px;
height: 61px;
overflow: hidden;
background: none;
}
.parents #header #headerNavParentsSub div {
position: absolute;
top: -305px;
}
.parents #header #headerNavParentsSub ul {
display: block;
width: 720px;
height: 507px;
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/bg_nav.png',sizingMethod='crop');
}
.parents #header #headerNavParentsSub ul li  {
margin: 305px 0 0;
position: relative;
z-index: 1000;
}

#headerNavParentsSub #parentsFeatures{left:100px;}
#features #headerNavParentsSub #parentsFeatures a,#headerNavParentsSub #parentsFeatures a:hover{background-position:-80px 546px;}
#headerNavParentsSub #parentsManage{left:102px;}
#manageAccount #headerNavParentsSub #parentsManage a,#account-management #headerNavParentsSub #parentsManage a,#headerNavParentsSub #parentsManage a:hover{background-position:-150px 546px;}
#headerNavParentsSub #parentsFaqs{left:112px;}
#faqs #headerNavParentsSub #parentsFaqs a,#headerNavParentsSub #parentsFaqs a:hover{background-position:-275px 546px;}
#headerNavParentsSub #parentsMembership{left:97px;}
#membership #headerNavParentsSub #parentsMembership a,#headerNavParentsSub #parentsMembership a:hover{background-position:-1px 546px;}
#headerNavParentsSub #parentsSafety{left:100px;}
#safety #headerNavParentsSub #parentsSafety a,#headerNavParentsSub #parentsSafety a:hover{background-position:-94px 546px;}
#headerNavParentsSub #parentsRecognition{left:124px;}
#recognition #headerNavParentsSub #parentsRecognition a,#headerNavParentsSub #parentsRecognition a:hover{background-position:-325px 546px;}

/* End Parents */
.help #header #headerNavHelpSub {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/bg_navHelp.gif',sizingMethod='crop');
}

.boxMid705x241 {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/bg_boxMid705x241.png',sizingMethod='scale');
}

.boxMid241x705 {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/bg_boxMid241x705.png',sizingMethod='scale');
}

/* faqs */
h1.faqs {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/faqs/img/txt_faqs.png', sizingMethod='crop');
}



h1.techIssues {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='http://dolimg.com/toontown/en/global/img/titles/technical-issues.png', sizingMethod='crop');
}

#faqs div.charFaqTop {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/faqs/img/img_charFaqTop.png', sizingMethod='crop');
}

#uk-move div.charFaqTop {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/faqs/img/img_charFaqTop.png', sizingMethod='crop');
}

#techIssues div.charFaqTop {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/faqs/img/img_charFaqTop.png', sizingMethod='crop');
}

#faqs div.charFaqBtm {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/faqs/img/img_charFaqBtm.png', sizingMethod='scale');
}

#uk-move div.charFaqBtm {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/faqs/img/img_charFaqBtm.png', sizingMethod='scale');
}

#faqs #colB dl dd span, #faqs #colB dl dt span {
left: -35px;
}

#uk-move #colB dl dd span, #uk-move #colB dl dt span {
left: -35px;
}

#techIssues #colB dl dd span, #techIssues #colB dl dt span {
left: -35px;
}

/* membership */
.membership h1 {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/membership/img/txt_membership.png', sizingMethod='crop');
}


.membership #displayDetail_1 {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/membership/img/bg_playForFree.png', sizingMethod='crop');
}

.membership #displayDetail_2 {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/membership/img/bg_noLimits.png', sizingMethod='crop');
}

.membership #displayDetail_3 {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/membership/img/bg_expressYourself.png', sizingMethod='crop');
}

.membership #displayDetail_4 {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/membership/img/bg_bossBattles.png', sizingMethod='crop');
}

.membership #displayDetail_5 {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/membership/img/bg_funStuff.png', sizingMethod='crop');
}

/*Begin TT Change*/
#subscribe h2 {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/membership/img/price-plans.png', sizingMethod='crop');
}
#subscribe ul li {
display: block;
margin: 0 0 0 0;
width:237px;
height:111px;
overflow: hidden;
position: relative;
z-index: 10;
}

#subscribe ul li a {
position: absolute;
top: -30px;
}
#subscribe ul li a:hover {
top: -143px;
}
#subscribe ul li a.subscribeMonth {
width: 717px;
height: 262px;
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/membership/img/price-plans.png', sizingMethod='crop');
}
#subscribe ul li a.subscribeSemi {
width: 717px;
height: 262px;
left: -242px;
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/membership/img/price-plans.png', sizingMethod='crop');
}
#subscribe ul li a.subscribeYear {
width: 717px;
height: 262px;
left: -487px;
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/membership/img/price-plans.png', sizingMethod='crop');
}
#subscribe p {
position: relative;
z-index: 100;
}
/*End TT Change*/

.membership #botBoxes {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/membership/img/bg_botBoxes.jpg', sizingMethod='crop');
}

/* parents */
h1.parents {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/parents/img/txt_parents.png', sizingMethod='crop');
}

.parents div.charColA {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/playersguide/img/img_charColA.png', sizingMethod='crop');
}

.parents .playersGuideDetail div.charPlayersGuide {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/playersguide/img/img_charPlayersGuide.png', sizingMethod='crop');
}

/* parents landing */
h1.parentsLanding {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/parents/img/txt_parents.png', sizingMethod='crop');
}

#parentsLanding .charMainContent {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/parents/img/bg_charParents.png', sizingMethod='crop');
}


/* players guide */
h1.theWorld {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/playersguide/img/txt_theWorld.png', sizingMethod='crop');
}

h1.activities {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/playersguide/img/txt_activities.png', sizingMethod='crop');
}

h1.cogs {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/playersguide/img/txt_cogs.png', sizingMethod='crop');
}

h1.controls {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/playersguide/img/txt_controls.png', sizingMethod='crop');
}

h1.toons {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/playersguide/img/txt_toons.png', sizingMethod='crop');
}

h1.welcome {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/playersguide/img/txt_welcome.png', sizingMethod='crop');
}

h1.playersGuide {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/playersguide/img/txt_playersGuide.png', sizingMethod='crop');
}

.toonHq div.charColA {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/playersguide/img/img_charColA.png', sizingMethod='crop');
}

div.nextUp {
right: 15px;
}

/*Begin TT Replace
.playersGuideDetail div.charPlayersGuide {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/playersguide/img/img_charPlayersGuide.png', sizingMethod='crop');
End TT Replace*/

/*Begin TT Change*/
.playersGuideDetail div.charPlayersGuide,
#playersGuide div.charPlayersGuide  {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/playersguide/img/img_charPlayersGuide.png', sizingMethod='crop');
}
/*End TT Change*/

#toonHqLanding #colC #topToonsMod {
padding-top: 15px;
}

/* toonHq landing */
#mainContent .toonHqMainTop {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/toon-hq/img/bg_toonHqTopMain.png',sizingMethod='crop');
}

#mainContent .toonHqMainRight {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/toon-hq/img/bg_toonHqRt.png',sizingMethod='crop');
}

h1.contact {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/contact/img/txt_sumbitContact.png',sizingMethod='crop');
}
h1.cancel {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/templates/txt_cancelTitle.png',sizingMethod='crop');
}
h1.create_account {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/templates/txt_createAccntTxt.png',sizingMethod='crop');
}
h1.error {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/error/txt_errorTitle.png', sizingMethod='crop');
}
h1.topToons {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/toptoons/img/txt_topToonsTitle.png',sizingMethod='crop');
}

#footer {
padding-top: 75px;
}
#topToonsMod .nextBtn,#topToonsMod .prevBtn {
bottom: 10px;
}
#fanArtMod #fanArtCarousel {
margin: 0px 0px 0px -13px;
}
#topToonsMod .seeAll {
bottom: 14px !important;
}

#toonArt h1.toonArt {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/fan-art/img/txt_fanArtTitle.png',sizingMethod='crop');
}
#toonArt .character#bunny {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/fan-art/img/img_fanArtCharRabbit.png',sizingMethod='crop');
}
#toonArt .character#duck {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/fan-art/img/img_fanArtCharDuck.png',sizingMethod='crop');
}
#toonArt .character#mouse {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/fan-art/img/img_fanArtCharMouse.png',sizingMethod='crop');
}

#contact .character {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/contact/img/img_submitCharMonkey.png',sizingMethod='crop');
}
#contact #leftCol {
margin-left: 10px;
width: 200px;
}
#contact .boxMid960 {
height: 450px;
}

#submitBug #leftCol p, #submitBug #rightCol p {
width: 305px;
}
#submitBug .macLauncher form, #submitBug .pcLauncher form {
height: 475px!important;
}
#submitBug #rightCol label { position: relative; }

#about #footer {
filter: none;
}

#cancel .character {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/templates/img_cancelChar.png',sizingMethod='crop');
}

#contact #leftCol {
margin-left: 10px;
}
#contact #leftCol p, #rightCol p {
width: 305px;
}
#contact .character {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/contact/img/img_submitCharMonkey.png',sizingMethod='crop');
}
#contact input#bugSubmit {
right: 200px;
}

#create_account .character {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/templates/img_createAccntChar.png',sizingMethod='crop');
}

#homepage #header {
height: 98px;
}

#topToons div.selector {
display: inline-block;
}
#topToons div.selectorContainer select {
margin-top: 3px;
}
#topToons div.selectorContainer h2 {
margin-right: 14px;
margin-top: 0px;
width: auto;
}
#topToons .sharePanel {
width: 270px;
}
#topToons .nextBtn, #topToons .prevBtn {
top: 210px;
}
#topToons .nextBtn {
right: 10px;
}
#topToons .character#monkey {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/toptoons/img/img_topToonsCharMonkey.png',sizingMethod='crop');
}
#topToons .character#duck {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/toptoons/img/img_topToonsCharDuck.png',sizingMethod='crop');
}

/*Begin TT Change*/
/* EULA */
a#eulaIAgree {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/btns/btn-large-i-agree-off.png',sizingMethod='scale');
}
a#eulaIAgree:hover {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/btns/btn-large-i-agree-on.png',sizingMethod='scale');
}
.ttLicense {
position:relative;
}

/* Join */
#joinFlash {
margin-top: 20px;
width: 1000px;
}

/* Report A Bug */
#submitBug h1.submitBug {
background: none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/templates/txt_bugTitle.png',sizingMethod='crop');
}

a.browseButtonIE  {
z-index: 1000;
background-image: url(../../bugsubmit/img/btn-browse-off.gif);
}

a.browseButtonIE:hover  {
background-image: url(../../bugsubmit/img/btn-browse-on.gif);
}

input#submitBtn  {
background: none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/bugsubmit/img/btn-submit-off.png',sizingMethod='crop');
}
input#submitBtn.on {
background: none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/bugsubmit/img/btn-submit-on.png',sizingMethod='crop');
}
#submitBug label { }
#submitBug .character#reportabug {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/templates/img_submitBugChar.png',sizingMethod='crop');
}
/*End TT Change*/

textarea.large,
input.text { background-attachment: fixed; }
#commentForm textarea.large { height: 100px; padding-bottom: 25px; }

/*Begin TT change for blog*/
#commentForm #mainContent input {
position: relative;
}
/*End TT change for blog*/
#searchForm *,
.searchResult { position: relative; }
#search .charSearch#monkey { top:-61px;right:-16px; }
#search .charSearch#bear { top:460px;right:45px; }
#search .charSearch#dog { top:761px;right:20px; }
#search #searchForm  #ttSearchBtn { filter: none; background:url("https://toontastic.sunrise.games/toontown/en/global/img/btn_findIt-big.png") no-repeat scroll 0 0 transparent; }
#search #searchForm  #ttSearchBtn.on { filter: none; background-position:0 -49px; }

/* GIB */
body#downloader #downloadbar #progress-container .progress-frame {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/game/img/progressbar-frame.png',sizingMethod='crop');
}

#help div.charHelpTop {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/faqs/img/img_charFaqTop.png', sizingMethod='crop');
}