h1.create_account {background: url(../img/templates/txt_createAccntTxt.png) no-repeat scroll 0 0;text-indent:-9999px;margin:0px 0px 10px 33px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/templates/txt_createAccntTxt.png',sizingMethod='crop');}

.boxMid960 {position:relative;min-height:585px;_height:585px;}

.character {background: url('../img/templates/img_createAccntChar.png') no-repeat scroll 0 0;width:494px;height:639px;position:absolute;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/templates/img_createAccntChar.png',sizingMethod='crop');}

#flashObj {width:560px;height:570px;margin-right:10px;position:absolute;top:0;right:0;background-color:red;}

#join #header {height:125px; min-height:125px;}
#joinFlash {width:1020px;margin-left:-40px;height:538px;}


/* ---- homepage no flash ---- */
.flash-update { text-align:center; font-size:18px; }
.flash-update p { margin-top:18px; }

/*TT change*/
#mainContent #ttNoFlash{position:relative}
#ttNoFlash{position:absolute;top:142px; left:0px}
object { outline:none; }
