.boxMid960 {position:relative;height:445px;padding-top:15px;}
.boxMid960 p {margin-left:20px;font-size:14px;line-height:20px;}


#flashObj {width:530px;height:460px;margin-right:10px;position:absolute;top:0;right:0;}

#subscribeFlash {width:1020px;margin-left:-40px;}

/*TT Change*/
object { outline:none; }