/*body styling*/
.boxMid960 { padding:10px 20px 0px; height: 400px;position: relative; width: 922px; overflow: visible;}
.titleContainer { clear:both; height:35px; width:960px; color:#1d1d1d; font-weight:bold; margin-top:5px; }
.titleContainer h2 { padding-top:12px; font-size:16px; float:left;width:200px;}
h1.topToons { background:url(../img/txt_topToonsTitle.png) no-repeat scroll 0 0; text-indent:-9999px; margin:0 0 5px 5px; float:left; width:150px; height:33px;}
#footer {padding-top: 75px;}

/*share panel*/
ul.sharePanel { display:inline; list-style:none; height:35px; width:253px; float:right; padding-top:8px; }
ul.sharePanel li { float:left; width:25px; height:25px; }
ul.sharePanel li#print { background:url(../img/icon_topToonsPrint.png) no-repeat scroll 0 0; margin-right:20px; margin-top:-3px; padding-top:6px; text-align:right; width:55px; }
ul.sharePanel li#print a { display:inline; }
ul.sharePanel li#shareThis { width:70px; padding-top:3px; }
ul.sharePanel li#mail { background:url(../img/icon_topToonsMail.png) no-repeat scroll 0 1px; width:33px; }
ul.sharePanel li#fb { background:url(../img/icon_topToonsFB.png) no-repeat scroll 0 0; }
ul.sharePanel li#twitter { background:url(../img/icon_topToonsTwitter.png) no-repeat scroll 0 0; }
ul.sharePanel li#myspace { background:url(../img/icon_topToonsMySpace.png) no-repeat scroll 0 0; }
ul.sharePanel li a { display:block; width:30px; height:30px; }

/* Select Box */
div.selectorContainer {width: 300px; float: right;margin-right:10px; display: inline; }
div.selectorContainer h2 {float: left;margin-top: 10px; font-size: 18px; display: inline; }
div.selector { display:block; width:219px; border:none; position:relative; background:url(../img/bg_topToonsSelect.png) repeat-x left center; line-height:22px; margin-top:3px; height:34px; color:#444; float:right;  }
div.selector select { width:219px; display:block;height:34px; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; position:relative; font-size:1.1em; padding:0; line-height:23px; border:0; margin:0; }
div.selector.focus { border-color:#999; }
div.selector span { position:absolute; left:6px; top:0; font-size:14px; padding:6px 10px 0 10px; display:block; background:url(../img/bg_topToonsSelectBtn.png) no-repeat 183px 10px; right:0; width: 219px; height: 34px;}
div.selector.focus span { left:5px; }


.textDesc { line-height:24px; width:555px;float:left; display: inline;}
.textDesc p {font-size:16px;line-height:18px;margin-top:10px;}

/* carousel */
.nextBtn, .prevBtn {height:66px;width:48px;position:absolute;top:190px; z-index: 500;display:block !important; cursor: pointer;}
.prevBtn {background:url(../img/btn_topToonsNav.png) no-repeat 0 0; left:7px !important; display: block;}
.nextBtn {background:url(../img/btn_topToonsNav.png) no-repeat -50px 0; right:15px; display: block;}
#carouselWrapper {height:300px;margin:100px 35px 0;overflow:hidden; width:848px;}
#carousel {width: 848px;height:300px;margin: 0 auto;position: relative;}
#carousel ul {width: 30000px;height:300px;display: inline;list-style: none;float: left;position: absolute;}
#carousel ul li {float: left; background-image:url(../img/bg_topToonsTrophy.jpg) !important; background-repeat: no-repeat; width: 848px;height: 300px;position: relative;}

ul#blindTriggers {display: none;}

div#carousel ul li h3,div#carousel ul li p{width: 150px;text-align: center;overflow: hidden;font-size: 18px;color: #1d1d1d;}
div#carousel ul li img,div#carousel table {position: absolute;}

div#carousel table {font-size: 18px;color: #1d1d1d;width:
150px;text-align: center;}
table.place0 {top: 210px;left:353px;}
table.place1,table.place2 {top:190px;}
table.place1 {left:163px;}
table.place2 {right:160px;}
table.place3,table.place4 {top: 170px;}
table.place3 {left: 5px;}
table.place4 {right: 0px;}

/*
div#carousel ul li img {top:15px;}
img.place0 {left:374px;}
img.place1 {left:187px;}
img.place2 {left:562px;}
img.place3 {left:25px;}
img.place4 {left:721px;}
*/

/*Begin TT change*/
div#carousel ul li img {top:40px;}
img.place0 {left:399px;}
img.place1 {left:212px;}
img.place2 {left:587px;}
img.place3 {left:50px;}
img.place4 {left:746px;}
/*End TT change*/

.character {position: absolute;}
.character#monkey {background:url(../img/img_topToonsCharMonkey.png) no-repeat scroll;width: 227px;height: 206px;bottom: -205px;left: -20px;}
.character#duck {background:url(../img/img_topToonsCharDuck.png) no-repeat scroll;bottom:-195px;height:223px;right:-20px;width:260px;}
