/* ------print css-------------*/

/* Remove unwanted elements */
#header, #nav, .noprint, .character, ul.sharePanel, .selectorContainer,.nextBtn, .prevBtn, #footerLinks2, #footerLinks1
{
display: none;
}

body, .boxTop960, .boxMid960, .boxBot960,.mainContainer,#footer{
	background: none;
}
/* Ensure the content spans the full width */
#container, #container2, #content
{
width: 100%; margin: 0; float: none;
}

/* Improve colour contrast of links */
a:link, a:visited
{
color: #781351
}

body {color: #000;}

ul {list-style: none;}

table {float: left;}

#carousel img {visibility: hidden;}