h1.submitBug {height:35px;background: url(../../global/img/templates/txt_bugTitle.png) no-repeat scroll 0 0;text-indent:-9999px;margin-left:33px;height:33px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/templates/txt_bugTitle.png',sizingMethod='crop');}

.boxMid960 {position:relative;padding-top: 10px;}
.macLauncher {height: 750px;}
.pcLauncher {height: 750px;*height:785px}
.boxMid960 p {font-size:16px;line-height:24px;padding:0px 30px 20px;}
.boxMid960 p.error {color: #e30202;font-weight: bold;}
.boxMid960 span.directory {color:#2078FD;}

#leftCol, #rightCol {width:470px;float: left;}
#leftCol {margin-left: 20px;_margin-left:10px;}
#leftCol p, #rightCol p {margin-top:10px;text-align:right;font-size: 12px;width:325px;_width:305px;float: right;text-align: left;}

.character {background: url(../../global/img/templates/img_submitBugChar.png) no-repeat scroll 0 0;width:238px;height:173px;position:absolute;z-index: 10;bottom: -65px;left: -40px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.gamestown/en/global/img/templates/img_submitBugChar.png',sizingMethod='crop');}

label {color:#1D1D1D;float:left;font-size:18px;font-weight:bold;width:120px;clear: left;}

/*form {width:960px;overflow: hidden;zoom:1;padding: 10px 10px 100px;}breaks chrome*/
form.rb {width:960px;overflow: hidden;zoom:1;padding: 10px 10px 100px;}
.macLauncher form, .pcLauncher form {_height:475px!important;*height:475px!important;}

textarea {resize:none;font-family:Arial,Helvetica,sans-serif;font-style: normal;font-size:12px;overflow: auto;}
/*
input.smText, input.medText, textarea.bigText,input#bugSubmit,textarea.bigText,.textAreaWrapper,.inputWrapperMed,.inputWrapperSm{background: url(../../bugsubmit/img/img_submitBugSprite.png);_background: url(../../bugsubmit/img/img_submitBugSprite.png) no-repeat fixed;color:#515151;font-size:12px;}
*/
/*Begin TT change*/
input.smText, input.medText, textarea.bigText,input#bugSubmit,textarea.bigText,.textAreaWrapper,.inputWrapperMed,.inputWrapperSm{background: url(../../global/img/form.png);_background: url(../../global/img/form.png) no-repeat fixed;color:#515151;font-size:12px;}
/*End TT change*/


input.smText, input.medText, textarea.bigText {border:none;}

input.smText,input.medText,.inputWrapperMed,.inputWrapperSm{height:23px;}
input.medText,textarea.bigText,.textAreaWrapper,.inputWrapperMed{width:311px;}
.inputWrapperMed{background-position:0 -51px;padding:0px 10px;margin-bottom:6px;height: 32px;}
input.smText, input.medText {background: none;}
input.smText, .inputWrapperSm{width: 210px;}
input.medText {padding-top: 8px;}
/*.inputWrapperSm {background-position:0 -270px;background-repeat:no-repeat;height:35px;padding-left:8px;margin-bottom: 5px;}*/
.inputWrapperSm {background-position:0 -270px;background-repeat:no-repeat;height:30px;padding-left:8px;margin-bottom: 5px;}/*TT change*/
.inputWrapperSm div {margin-left: 20px}
.inputWrapperSm input {padding-top: 8px;}
.inputWrapperMed,.inputWrapperSm {float: left;}

textarea.bigText {height:135px;background:none;}

.textAreaWrapper {background-position:0 -84px;height:135px;padding:8px 10px;float:left;}
input#bugSubmit {border:medium none;bottom:24px;height:50px;position:absolute;right:146px;_right:141px;width:145px;text-indent:-99999px;font-size:0px;display:block;line-height:0px;}
img#resetBtn{position:absolute;right:336px;bottom:24px}

.note { font-size: 14px; font-weight: bold; line-height: 18px; clear: both; margin: 0 0 15px; }
label.ttLabel1  { width: 400px; clear: both; }
.inputWrapperSm { clear: both; }

/*Begin TT*/
#formMsg{display:none;padding:0 30px}
#emailErr,#acctIDErr,#descriptionErr,#screenshotErr{display:none}
#descErr{padding:20px 0 0 0}
/*End TT*/