@font-face {
    font-family: 'Impress BT';
    src: url('../fonts/ImpressBT-Regular.woff2') format('woff2'),
        url('../fonts/ImpressBT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	border: 0;
    margin: 0;
	font-family: 'Impress BT';
}

body {
    background-color:#0d133d;
    background-image:url(../img/lightyearBG.jpg);
    background-position:center top;
    background-repeat:no-repeat;
    margin:0;
}

div.box {
  border-radius: 25px;
  border: 6px solid #e2cb7a;
  padding: 5px;
  width: 920px;
  height: 850px;
  background: #FFF;
  margin: auto;
  margin-top: 100px;
}
div.boxtext {
	padding: 45px;
}
div.content {
  padding: 55px;
  background-size: contain;
}
boximage {
  width: 100%;
  height: 400px;
}
sunrisebar-root {
    position: static;
}
#sunrisebar-bar-wrapper.sunrisebar-sticky {
    z-index: 10000;
}
#sunrisebar-bar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border: 0;
    width: 100%;
}
#sunrisebar-bar {
    background-color: #000000;
    border-bottom: 2px solid #000000;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px !important!;
    font-weight: bold;
    height: 80px;
    line-height: normal;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 3000000;
}
#sunrisebar-navbar {
    display: table;
    font-size: 0;
    height: 80px;
    margin-right: 0;
    max-width: 100%;
    text-align: center;
}
#sunrisebar-navbar.sunrisebar-content {
    text-align: center;
    height: 80px;
    flex: 1;
}
#sunrisebar-left-content {
    height: 80px;
    padding-right: 15px;
}
#sunrisebar-left-content.sunrisebar-logo {
    position: relative;
    display: inline-block;
    padding-left: 25px;
}
#sunrisebar-navbar a {
    border-bottom: 2px solid transparent;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    line-height: 76px;
    margin: 0 0.85em;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    letter-spacing: 0.1em;
}
#sunrisebar-navbar-navitem-container {
    display: inline-block;
    position: relative;
    height: 80px;
}

.footer {
   position: absolute;
   width: 100%;
   background-color: #006e99;
   border-top: 2px solid #006e99;
   color: #FFFFFF;
   text-align: center;
}