﻿@charset "UTF-8";
/* GIB Stylesheet */

/* Layout */
html { height: 100%; min-height: 100%; }
  
  /* Installation */
  #installation .boxMid960 { width: 900px !important; min-height: 200px; padding: 20px 30px; }
  #installation .boxMid960 p { width: 70%; }
  #installation dl { width: 800px; margin: 0 auto; }
  #installation dl dt { width: 88px; float: left; }
  #installation dl dd { width: 712px; margin-left: 93px; padding: 10px 0 35px; color: #2e7fd0; font-size: 14px; font-weight: bold; }
  #installation dl div { margin: 18px 0 0; text-align: center; }
  #installation dl div img { margin-right: 135px; } 
  #installation h1 { background: transparent url(../img/title-installing-for-firefox.jpg) no-repeat scroll 0 0; text-indent: -9999px; margin: 0 auto 20px; }
  
  #installation.firefox h1 { width: 416px; height: 45px; background-image: url(../img/title-installing-for-firefox.jpg); }
  
  #installation.ie h1 { width: 411px; height: 39px; background-image: url(../img/title-installing-for-internet-explorer.jpg); }  
		#installation.ie dl .one div img { margin-left: -40px; }	
	  
  
  #installation.mac h1 { width: 465px; height: 29px; background-image: url(../img/title-to-download-and-install-toontown.jpg); }  
		#installation.mac a.btn-download { display: block; width: 174px; height: 49px; background: transparent url(../img/btn-download-off.jpg) no-repeat scroll 0 0; margin: -30px 0 0 220px; }
		#installation.mac a.btn-download:hover { background-image: url(../img/btn-download-on.jpg); }
		#installation.mac a.btn-play { display: block; width: 172px; height: 56px; background: transparent url(../img/btn-play.png) no-repeat scroll 0 0; margin: 0 0 0 220px; }
		#installation.mac a.btn-play:hover { background-position: 0 -54px; }
	  
  #installation.downloading .content { width: 543px; margin: 0 auto; }
		#installation.downloading .toon-hq { width: 385px; height: 90px; margin: 10px auto 0; clear: both; }
		#installation.downloading .toon-hq  p { color: #2e7fd0; font-size: 14px; line-height: 18px; font-weight: bold; width: 260px; float: left; text-align: right; }
		#installation.downloading .toon-hq  p a { text-decoration: underline; }
		#installation.downloading .toon-hq  a.btn-toonhq  { float: right; background: transparent url(../img/btn-toon-hq.gif) no-repeat scroll 0 0; width: 112px; height: 36px; display: block; text-indent: -9999px; }
		#installation.downloading .toon-hq  a.btn-toonhq:hover  { background-position: -114px 0; }
		#installation.downloading .toon-hq  a { position: relative; }
		
  #installation.not-supported h1 { width: 500px; height: 101px; background-image: url(../img/title-the-cogs-have-blocked.jpg); }  
		#installation.not-supported .boxMid960 { text-align: center; }
		#installation.not-supported .boxMid960 .browser-list { color: #2f2fb3; font-size: 15px; text-align: left; font-weight: bold; margin-left: 250px; }
		#installation.not-supported .boxMid960 .browser-list ul { margin: 0 0 15px 15px; }
		#installation.not-supported .boxMid960 .browser-list ul li { text-align: left; color: #2f2fb3; padding: 0 0 5px 5px; }
		#installation.not-supported .boxMid960 .browser-list  ul li  a { color: #2f2fb3; font-size: 15px; text-decoration: underline; }
		#installation.not-supported .boxMid960  p { color: #447bbe; font-size: 22px; line-height: 24px; font-weight: bold; text-align: center; margin: 0 auto; }
		#installation.not-supported .boxMid960  p  a { color: #447bbe; text-decoration: underline; }
		
		/* IE6 */
		#IE6 .browser-list a { position: relative; }
		
  /* Browser Pages */
  body#installer { margin: 0; padding: 0; min-height: 100%; height: 100%; }
  body#installer #overlay { position: absolute; z-index: 7777; top: 0; left: 0; width: 100%; height: 100%; background-color: #224ba0; filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7;} 
  
  /* Downloader */
  body#downloader { margin: 0; padding: 0; min-height: 100%; height: 100%; overflow: hidden; }
  body#downloader #frame { positon: relative; width: 100%; height: 100%; padding-bottom: 96px; _margin-bottom: 0; }
  body#downloader #frame iframe { position: absolute; width: 100%; height: 100%; border: none; }
  body#downloader #downloadbar { position: absolute; bottom: 0; left: 0; height: 96px; width: 100%; text-align: center; vertical-align: middle; background: #3d9ae1 url(../img/graphic-downloadbar-divider.gif) repeat-x scroll 0 0; }
  body#downloader #downloadbar #progress-container { margin: 16px auto 0; width: 284px; height: 41px; position: relative; background: transparent url(../img/progressbar-bg.png) repeat-x scroll 0 9px; }
  body#downloader #downloadbar #progress-container .progress-frame { width: 284px; height: 41px; position: absolute; top: 0; left: 0; z-index: 100; background: transparent url(../img/progressbar-frame.png) no-repeat scroll 0 0; }
  body#downloader #downloadbar #progress-container .progress { width: 284px; position: absolute; top: 50px; left: 0; color: #0066cc; font-weight: bold; text-align: center; }
  body#downloader #downloadbar #progress-container .filler { height: 19px; position: absolute; z-index: 50; top: 11px; left: 10px; background: transparent url(../img/progressbar-loader.png) no-repeat scroll 0 0; }
  body#downloader #overlay { position: absolute; z-index: 7777; top: 0; left: 0; width: 100%; height: 100%; background-color: #224ba0; filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7;}
  body#downloader #overlay-play { position: absolute; z-index: 9999; top: 170px; font-size: 14px; left: 50%; width: 476px; height: 396px; margin-left: -238px; }
  body#downloader #overlay-play .left { width: 46px; height: 396px; float: left; }
  body#downloader #overlay-play .right { width: 46px; height: 396px; float: right; }
  body#downloader #overlay-play .middle { width: 384px; height: 396px; float: right; }
  
  /* Game in Browser */
  body#game { margin: 0; padding: 0; min-height: 100%; height: 100%; }
  body#game .header { background: transparent url(../img/gamelaunch-header.jpg) no-repeat scroll 0 0; width: 994px; height: 113px; margin: 0 auto; position: relative; }
  body#game #headerLogin { position: absolute; top: 47px; left: 609px; }
  body#game .loading { text-align: center; }
  body#game .loading h1 { width: 303px; height: 47px; background: transparent url(../img/title-do-not-close.jpg) no-repeat scroll 0 0; text-indent: -9999px; margin: 0 auto 20px; }
  body#game .loading p { padding: 0 0 20px; width: 100%; font-size: 16px; font-weight: bold; color: #2a83d7; }
  body#game .game_container { width: 640px; height: 480px; overflow: hidden; margin: 0 auto; }
  body#game #bug_report { display: none; }
  
/* Popup Overlay */
.popup-message { position: absolute; z-index: 10000; top: 190px; left: 50%; margin-left: -377px; background: transparent url(../../global/img/popup-top.gif) no-repeat scroll 0 0; width: 754px; height: 315px; padding: 29px 0 0; }
.popup-message .container { width: 754px; padding: 0 0 20px; background: transparent url(../../global/img/popup-bottom.gif) no-repeat scroll 0 bottom; }
.popup-message form { background-color: #ffffff; background-image: none; padding: 0; width: 705px; border-left: 4px solid #2c7ed0; border-right: 4px solid #2c7ed0; padding: 0 20px 20px; margin: 0; }
.popup-message a.close { display: block; width: 30px; height: 30px; position: absolute; top: 0; right: 0; text-indent: -9999em; cursor: pointer; }
.popup-message h3 { font-size: 18px; line-height: 28px; }