body  {
    color:#333333;
    background-color:#e2e4e6;
    margin:0;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    line-height:1.4em;
}

#maincontainer {
    text-align:center;
    background-color:#e2e4e6;
}

#centeredpane {
    margin:auto;
    width:725px;
    background-image:url(/images/global/disney/shadow.gif);
    background-repeat:repeat-y;
    padding:0 0 0 26px;
    text-align: left;
}

h1 {
    font-family:verdana,Arial, Helvetica, sans-serif;
    color:#333333;
    font-size:16px;
    margin:0 0 20px 14px;
}

#maincontent {
    text-align:left;
    line-height:1.4em;
    padding:0;
    min-height:300px;
    height:auto;
    _height:200px; /* this an IE min-height hack */
}

th {
    font-size:10px;
    font-family: verdana,Arial, Helvetica, sans-serif;
    padding:2px 0 2px 6px;
}

.headrow {
    background-color:#ccddee;
    color:#000000;
}

#header {
    background-image:url(https://toontastic.sunrise.games/globalmedia/guest_services/images/reg_mickey_youraccount.gif);
    background-position:center;
    background-repeat: no-repeat;
    width:698px;
    height:123px;
}

#manageaccounts {
    text-align:left;
    width:674px;
    margin:12px 0 0 12px;
    background-color:#d2dff2;
    }

.lightrow {
    background-color:#FFFFFF;
    }
.darkrow {
    background-color:#eef2f7;
    }

.gutter {
    padding:0 0 0 14px;
    width:685px;
}

.primary {
}

.boxtop{

    background: #EEF2F7;
    padding: 5px 0px 5px 10px;
    line-height: 13px;
    }

.box
    {

    border: 1px solid #D2DFF2;
    margin-bottom: 0px;
    padding-bottom: 0px;
    }

.padtop {
    margin-top:12px;
    }

.center {
    text-align:center;
    }

#instructions {
    background-color:#eef2f7;
    padding:5px 0 5px 14px;
    width:685px;
    border-bottom: 1px solid #D2DFF2;
}

.arrowlist {
list-style-image:url(/images/global/disney/arrow_black.gif)
}

#footer {
    background-color:#eef2f7;
    padding:10px 0 10px 14px;
    width:685px;
    margin:20px 0 0 0;
    text-align:center;
    color:#999999;
}
.formlabel {
    text-align:right;
    font-weight:bold;
    width: 250px;
}

.regEmailAddressTaken {
    color: RED;
}
.regEmailAddressTaken a:link {
    text-decoration: underline;
    font-weight:bold;
    color: RED;
}
.regEmailAddressTaken a:visited {
    text-decoration: underline;
    font-weight:bold;
    color: RED;
}
.regEmailAddressTaken a:hover {
    text-decoration: underline;
    font-weight:bold;
    color: RED;
}


.loginBody {
    width: 450px;
    padding: 0 0 0 0;
}

.loginAgreement {
    padding: 50px 0 0 50px;
}

.forgotSection {
    padding: 0 0 0 235px;
}

.plain {
    border: 1px solid #CCCCCC;
    padding: 2px 3px 2px 3px;
    font-size:11px;
}

.registerNow {
    float: right;
    padding: 10px 80px 0px 10px;
}

.memberInfoBanner {
    border-bottom: 1px solid #D2DFF2;
    font-weight:bold;
    font-size:12px;
    color: #006699;
}
.memberInfoSection {
    padding: 10px 30px 10px 30px;
}
.memberNameAndPasswordBanner {
    border-bottom: 1px solid #D2DFF2;
    font-weight:bold;
    font-size:12px;
    color: #006699;
}
.memberNameAndPasswordSection {
    padding: 10px 30px 10px 30px;
}
.internationalMessage {
    padding: 10px 50px 10px 100px;
}

.membernameText {
    color: #006699;
}

.exclusiveOffers {
    padding: 10px 50px 10px 30px;
}
.exclusiveOffersBanner {
    border-bottom: 1px solid #D2DFF2;
    font-weight:bold;
    font-size:12px;
    color: #006699;
}
.exclusiveOfferCheckbox {
    padding: 5px 5px 5px 5px;
}
.exclusiveOfferDisclaimer {
    font-style: italic;
}

.newsletters {
    padding: 10px 50px 10px 30px;
}
.newsletterBanner {
    border-bottom: 1px solid #D2DFF2;
    font-weight:bold;
    font-size:12px;
    color: #006699;
}
.newsletterCheckbox {
    padding: 5px 5px 5px 5px;
}
.newsletterDisclaimer {
    font-style: italic;
}

.joinNow {
    padding: 10px 80px 0px 10px;
    text-align:center;
}

.narrow {
    width:200px;
}

A:link {TEXT-DECORATION: none; COLOR: #044fb5}
A:visited {TEXT-DECORATION: none; COLOR: #044fb5}
A:hover {TEXT-DECORATION: underline; COLOR: #CC0000}

A.tip:link{TEXT-DECORATION: none; COLOR: #333333}
A.tip:visited {TEXT-DECORATION: none; COLOR: #333333}
A.tip:hover{TEXT-DECORATION: none; COLOR: #333333}

/* CSS Document */
