.boxMid960 {position: relative;}

h1.toonArt{background: url(../img/txt_fanArtTitle.png) no-repeat scroll; text-indent: -9999px;width: 120px;}

.innerBoxTop {background: url(../img/bg_fanArtBoxSprite.png) no-repeat scroll 0 0;height:15px;width:766px;margin: 0 auto;}
.innerBoxMid {background:url(../img/bg_fanArtBotMid.png) repeat-y scroll 0 0;width:766px; margin: 0 auto;}
.innerBoxBot {background: url(../img/bg_fanArtBoxSprite.png) no-repeat scroll 0 -16px;height:15px;width:766px; margin: 0 auto;}

.lightbox {list-style: none;height: 400px;margin-left:40px;}
.lightbox a {border:2px solid #D3DCE5; float: left;width: 124px; height: 90px;display: block;background: white;margin: 0px 6px 7px;}

/* .navLeft,.navRight{background: url(../img/btn_fanArtNav.png) no-repeat scroll 0 0;position: absolute;top:400px;width: 53px;height: 79px;} */

.navLeft,.navRight {
	background:transparent url(../img/btn_fanArtNav.png) no-repeat scroll 0 0;
	height:79px;
	position:absolute;
	top:175px;
	width:53px;
}

a.submit {
	background:transparent url(../img/btn_fanArtSubmit.png) no-repeat scroll 0 0;
	display:block;
	height:32px;
	margin:10px auto 0;
	width:152px;
}

.navLeft {left:19px;}
.navRight {right:19px;background-position: -52px 0;}

.character{position: absolute;}
.character#bunny {background: url(../img/img_fanArtCharRabbit.png) no-repeat scroll;width: 143px;height: 271px;bottom:-92px;left:-82px;}
.character#duck {background: url(../img/img_fanArtCharDuck.png) no-repeat scroll;width: 162px;height: 248px;right:-45px;bottom:-85px;}
.character#mouse {background: url(../img/img_fanArtCharMouse.png) no-repeat scroll;width: 71px;height: 74px;top:-75px;right:65px;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(../img/macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 2px solid #2078fd;
	text-align:left;
	top:50%;
	left:50%;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}

#TB_title{
	background-color:#e8e8e8;
	height:27px;
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}

/* toon hq */
#headerNavToonHQ,#headerNavToonHQ a {
	width:120px;
}

#headerNavToonHQ a:hover,.toonHq #headerNavToonHQ a {
	background-position:1px 387px;
}

#headerNavToonHQ {
	left:85px;
}

#headerNav #headerNavToonHQ ul {
	width:600px;
	height:62px;
	background-position:0 62px;
}

.toonHq #headerNavToonHQSub {
	background-position:0 -180px;
	display:block;
	height:61px;
	margin-left:0;
	width:592px;
}

#headerNavToonHQSub #toonToonNews {
	left:29px;
}

#toonToonNews a {
	width:79px;
}

#toonNews #headerNavToonHQSub #toonToonNews a,#headerNavToonHQSub #toonToonNews a:hover {
	background-position:0 582px;
}

#headerNavToonHQSub #toonTopToon {
	left:37px;
}

#toonTopToon a {
	width:78px;
}

#topToons #headerNavToonHQSub #toonTopToon a,#headerNavToonHQSub #toonTopToon a:hover {
	background-position:-91px 582px;
}

#headerNavToonHQSub #toonToonArt {
	left:42px;
}

#toonToonArt a {
	width:66px;
}

#toonArt #headerNavToonHQSub #toonToonArt a,#headerNavToonHQSub #toonToonArt a:hover {
	background-position:-175px 582px;
}

#headerNavToonHQSub #toonToonFun {
	left:52px;
}

#toonToonFun a {
	width:69px;
}

#toonFun #headerNavToonHQSub #toonToonFun a,#headerNavToonHQSub #toonToonFun a:hover {
	background-position:-250px 582px;
}

#headerNavToonHQSub #toonPlayersGuide {
	left:59px;
}

#toonPlayersGuide a {
	width:106px;
}

#playersGuide #headerNavToonHQSub #toonPlayersGuide a,.playersGuideDetail #headerNavToonHQSub #toonPlayersGuide a,#headerNavToonHQSub #toonPlayersGuide a:hover {
	background-position:-325px 582px;
}

#headerNavToonHQSub #toonReleaseNotes {
	left:63px;
}

#toonReleaseNotes a {
	width:105px;
}

#releaseNotes #headerNavToonHQSub #toonReleaseNotes a,#headerNavToonHQSub #toonReleaseNotes a:hover {
	background-position:-434px 582px;
}
