form#searchForm{margin:0}

h1{
margin-left: 5px;
text-indent:-9999px;
line-height: 27px;
padding-bottom: 5px;
height: 27px;
}

h1.theWorld{
background: url(../img/txt_theWorld.png) no-repeat scroll top left;
width: 176px;
}

h1.activities{
background: url(../img/txt_activities.png) no-repeat scroll top left;
width: 116px;
}

h1.cogs{
background: url(../img/txt_cogs.png) no-repeat scroll top left;
width: 68px;
height: 31px;
}

h1.controls{
background: url(../img/txt_controls.png) no-repeat scroll top left;
width: 106px;
height: 26px;
}

h1.toons{
background: url(../img/txt_toons.png) no-repeat scroll top left;
width: 78px;
height: 26px;
}

h1.welcome{
background: url(../img/txt_welcome.png) no-repeat scroll top left;
width: 116px;
height: 26px;
}

h1.playersGuide{
background: url(../img/txt_playersGuide.png) no-repeat scroll top left;
float:left;
width: 176px;
height:31px;
padding-bottom: 5px;
}

#colA{
float: left;
width: 191px;
padding: 0px 25px 25px;
overflow:hidden;
}

#colB{
float: right;
width: 655px;
padding: 20px 25px 186px;
}

hr{clear:both;}

.arrowBack{
float: right;
margin-bottom: 10px;
}

h2.hrDottedGray, h3.hrDottedGray{
background-position: top left;
font-size:21px;
font-weight:bold;
padding: 15px 0px;
margin-top: 15px;
clear: right;
}

h2.hrDottedGray{
margin-top: 25px;
padding: 15px 0px 0px;
}

#colA ul{
list-style-type: none;
padding-left: 10px;
font-size: 18px;
}

#colA dl dt{
font-size: 18px;
}

#colA dl{
padding-left: 12px;
}

#colA dl dd{
padding: 10px 0px;
}

#colA dl dd ul li{
font-size: 14px;
padding: 3px 15px;
background: url(../../global/img/icon_ulBullet.png) no-repeat scroll left 7px;
}

#colA dl dt.colNavSelected{
background: url(../../global/img/bg_colNavSelected.png) no-repeat scroll left top;
width: 201px;
height:22px;
padding:5px 15px;
position:relative;
font-size:18px;
left: -14px;
color: #203f4c;
}

#colA dl dt.colNavSelectedDbl{
background: url(../../global/img/bg_colNavSelectedDbl.png) no-repeat scroll left top;
width: 201px;
height:41px;
padding:5px 15px;
position:relative;
font-size:18px;
left: -14px;
color: #203f4c;
}

/*Begin TT change*/
#colA dl dt.colNavSelected a,
#colA dl dt.colNavSelectedDbl a
{
color: #203F4C;
}
/*End TT change*/

#colB h2{
font-size: 24px;
margin:10px 0px;
}

#colB h3{
font-size: 24px;
}

#colB p{
padding: 12px 10px 0px 0px;
font-size: 16px;
}

#colB .print{
float: right;
}

#colB .arrowUp{
margin: 10px 0px 20px;
float:right;
}

#colB .botPadd{padding-bottom:10px;}

div#mainContent{
position:relative;
}

div.nextUp{
background: url(../img/bg_nextUp.jpg) no-repeat scroll right bottom;
height:31px;
clear:both;
text-align:right;
position:absolute;
bottom: 15px;
right: 6px;
width: 337px;
padding:155px 13px 0px 0px;
}

div.charColA{
background: url(../img/img_charColA.png) no-repeat scroll top left;
height:219px;
position:absolute;
top: 64px;
left: -132px;
width: 150px;
}

#playersGuide div.charPlayersGuide{
background: url(../img/img_charPlayersGuide.png) no-repeat scroll top left;
display:block;
height:99px;
position:absolute;
right:-73px;
top:37px;
width:195px;
}

/*
.charMainContent, ul.pgUlNav li a{
background-image: url(../img/btn_playersGuideNav.png);
width: 305px;
}
*/

/*Begin TT change*/
.charMainContent, ul.pgUlNav li a{
background-image: url(../img/btn-sprite.png);
_background-image: url(../img/btn-sprite.gif);
width: 305px;
}
/*End TT change*/

.boxMid960{
padding: 10px 25px;
width: 910px;
}

.boxTop960{
clear: both;
}

.boxBot960{
	position: relative;
}

ul.pgUlNav li{
list-style-type: none;
background-repeat: no-repeat;
height: 63px;
text-indent: -9999px;
}

ul.pgUlNav a{display: block;width: 303px;height: 63px;}

ul.pgUlNav #pgWelcome {height: 70px;}
ul.pgUlNav #pgWelcome a{ background-position: 0px -3px;height: 70px;}
ul.pgUlNav #pgWelcome a:hover{background-position: -302px -3px;}
ul.pgUlNav #pgControls a{background-position: 0px -74px;}
ul.pgUlNav #pgControls a:hover {background-position: -302px -74px;}
ul.pgUlNav #pgToons a{background-position: 0px -137px}
ul.pgUlNav #pgToons a:hover {background-position: -302px -137px}
ul.pgUlNav #pgTheWorld a{background-position: 0px -202px;}
ul.pgUlNav #pgTheWorld a:hover{background-position: -302px -202px;}
ul.pgUlNav #pgCogs a{background-position: 0px -266px;}
ul.pgUlNav #pgCogs a:hover{background-position: -302px -266px;}
ul.pgUlNav #pgActivities a{background-position: 0px -329px;}
ul.pgUlNav #pgActivities a:hover{background-position: -302px -329px;}


.charMainContent{
background-position: 0px;
background-repeat:no-repeat;
width: 594px;
height:410px;
position: absolute;
bottom: 4px;
right:7px;
z-index:1;
background: url(../img/img_playersGuideChar.jpg) no-repeat scroll center left;
}

form.searchForm{
/*
float: right;
background: url(../img/bg_playersGuideSearch.png) no-repeat scroll left 2px;
width: 650px;
height:65px;
position:relative;
z-index:2;
margin-bottom:7px;
*/
}

form.searchForm .inputText{
/*
width: 157px;
height:20px;
border: none;
background-color: transparent;
padding: 10px 10px 0px;
color: #1d1d1d;
*/
}

/*form.searchForm .btnSubmit{*/
form.btnSubmit{
cursor: pointer;
background: url(../../global/img/btn_findIt.png) no-repeat scroll center left;
width: 106px;
height:32px;
text-align: -9999px;
border: none;
margin-left:7px;
}

body form#searchForm {
/*margin:0px 0px 20px 1px;*/
}

#playersGuide.playersGuideLanding div.charPlayersGuide{
display: none;
}

/*Begin TT change*/
#colB strong{
font-size: 16px;
}
#colB table{
width: 80%;
border-spacing: 1px;
border-collapse: separate;
border: 1px solid #7596B4;
margin: 3px 0 0 0;
}
#colB th,
#colB td{
font-size: 16px;
line-height: 24px;
text-align: left;
padding: 2px 15px 2px 6px;
}
#colB th{
background-color: #7596B4;
color: #fff;
}
#colB th.col1{
width: 15%;
}
#colB th.col2{
width: 45%;
}
#colB th.col3{
width: 40%;
}

.boxMid960PGL{padding: 10px 25px;width: 910px;height:423px;background:url(../img/bg-toon-clouds.jpg) no-repeat scroll 0 0;}
.boxTop960PGL{clear: both;background:url() no-repeat scroll 0 0;height:0;width:960px;}
.boxBot960PGL{position: relative;height:0;background:url();}
/*End TT change*/

#searchErrTxt2{display:none;color:#2078fd;font-size:26px;font-weight:bold;padding-bottom:30px}
div.ttInputWrapper input { padding: 1px 8px 0px 8px;}
#IE div.ttInputWrapper input { padding: 8px 8px 0px 8px;}

#worldMap{width:600px;height:470px;position:relative;background: url(../img/world-map.jpg) no-repeat scroll 0 0;}

.sprite { background: transparent url(../img/world-map-labels.gif) no-repeat scroll 0 0;border: none; outline: none; cursor: pointer; text-indent: -9999em; }
	input.sprite { display: block; text-transform: capitalize; } /* Necessary for IE7/IE6 */
	a.sprite { display: block; text-indent: -9999em; }

#worldMap	.sprite.btnCashbot { position:absolute;top:26px;left:16px;width: 131px; height: 107px; background-position: -0px -470px; margin: 0; }
#worldMap	.sprite.btnCashbot:hover { position:absolute;top:26px;left:16px;background-position: -16px -26px; }

#worldMap	.sprite.btnDreamland { position:absolute;top:16px;left:150px;width: 210px; height: 103px; background-position: -0px -470px; margin: 0; }
#worldMap	.sprite.btnDreamland:hover { position:absolute;top:16px;left:150px;background-position: -150px -16px; }

#worldMap	.sprite.btnLawbot { position:absolute;top:18px;left:463px;width: 112px; height: 88px; background-position: -0px -470px; margin: 0; }
#worldMap	.sprite.btnLawbot:hover { position:absolute;top:18px;left:463px;background-position: -463px -18px; }

#worldMap	.sprite.btnSpeedway { position:absolute;top:136px;left:16px;width: 181px; height: 160px; background-position: -0px -470px; margin: 0; }
#worldMap	.sprite.btnSpeedway:hover { position:absolute;top:136px;left:16px;background-position: -16px -136px; }

#worldMap	.sprite.btnMelodyland {position:absolute;top:120px;left:199px;width:187px;height:103px;background-position: -0px -470px;margin:0;}
#worldMap	.sprite.btnMelodyland:hover {position:absolute;top:120px;left:199px;background-position:-199px -120px;}

#worldMap	.sprite.btnBrrrgh {position:absolute;top:107px;left:402px;width:174px;height:99px;background-position: -0px -470px;margin:0;}
#worldMap	.sprite.btnBrrrgh:hover {position:absolute;top:107px;left:402px;background-position:-402px -107px;}

#worldMap	.sprite.btnCentral {position:absolute;top:222px;left:199px;width:240px;height:101px;background-position: -0px -470px;margin:0;}
#worldMap	.sprite.btnCentral:hover {position:absolute;top:222px;left:199px;background-position:-199px -222px;}

#worldMap	.sprite.btnDonalds {position:absolute;top:205px;left:443px;width:133px;height:114px;background-position: -0px -470px;margin:0;}
#worldMap	.sprite.btnDonalds:hover {position:absolute;top:205px;left:443px;background-position:-443px -205px;}

#worldMap	.sprite.btnSellbot {position:absolute;top:297px;left:16px;width:90px;height:154px;background-position: -0px -470px;margin:0;}
#worldMap	.sprite.btnSellbot:hover {position:absolute;top:297px;left:16px;background-position:-16px -297px;}

#worldMap	.sprite.btnDaisy {position:absolute;top:327px;left:104px;width:174px;height:123px;background-position: -0px -470px;margin:0;}
#worldMap	.sprite.btnDaisy:hover {position:absolute;top:327px;left:104px;background-position:-104px -327px;}

#worldMap	.sprite.btnChipDales {position:absolute;top:330px;left:279px;width:175px;height:118px;background-position: -0px -470px;margin:0;}
#worldMap	.sprite.btnChipDales:hover {position:absolute;top:330px;left:279px;background-position:-279px -330px;}

#worldMap	.sprite.btnBossbot {position:absolute;top:322px;left:454px;width:127px;height:126px;background-position: -0px -470px;margin:0;}
#worldMap	.sprite.btnBossbot:hover {position:absolute;top:322px;left:454px;background-position:-454px -322px;}

#colB ul li{font-size:17px;padding:0px 20px 0px;list-style-type:none;line-height:20px;background:url(../../global/img/icon_ulBullet.png) no-repeat scroll left 10px;margin-left:40px;margin-top:10px}
#colB ul li.pgBullet{font-size:16px;padding:0px 15px 0px 20px;line-height:23px;margin-left:40px;margin-top:10px}
#colB table.fieldOffcTBL{width:655px;border-spacing:0px;border:0px solid #fff}
#colB td.fieldOffcTD1{width:132px}
#colB td.fieldOffcTD2{width:523px;vertical-align:middle}

#playersGuide ol li {
	font-size: 16px;
	padding: 3px 0 0 0;
	line-height: 20px;
	margin: 0;
}

#playersGuide ol {
	margin: 0 0 16px 23px;
	list-style-type: decimal;
}

#playersGuide ol ol {
	list-style-type: lower-alpha;
	margin: 0 0 20px 23px
}

#playersGuide ol ol ol {
	list-style-type: lower-roman;
}

#playersGuide ol ol ol ol {
	list-style-type: lower-alpha;
}
