
/* ------print css-------------*/

/* Remove unwanted elements */
#header, #nav, .noprint, #footerLinks2, #footerLinks1, #colA,.charColA,a.print,.nextUp,.arrowUp, #headerPlayNow, #disChrome, #footer, #searchForm, .hrSolid, #ttLog,#searchErrTxt2{display: none;}

body, .boxTop241x705, .boxMid241x705, .boxBot241x705,.mainContainer{background: none;}
/* Ensure the content spans the full width */
#container, #container2, #content, #colB,.boxMid241x705{width: 100%; margin: 0; float: none;}

/* Improve colour contrast of links */
a:link, a:visited{color: #781351;}
body {color: #000;}
