#header {
	min-height:105px;
}

body div#footer {
	padding-top:100px;
	background:none!important;
	filter:none!important;
}

.fauxFooter {
	width:994px;
	height:33px;
	margin:0 auto;
	text-align:center;
	font-size:10px;
	padding:0;
	background:url(../../global/img/bg_mainContainerBtmT2.png) no-repeat scroll -14px 0;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/bg_mainContainerBtmT2.png',sizingMethod='crop');
}

#mainContent {
	padding:0 0 0 6px;
	width:980px;
}

.boxMid975 {
	padding:0 0 0 13px;
	width:968px;
}

.dockWrapper {
	position:relative;
	top:-105px;
	margin:0 auto;
	width:853px;
	height:109px;
	z-index:3;
}

div.dockBackground {
	top:-215px;
	left:-2px;
	margin:0 auto -200px;
	width:853px;
	height:109px;
	position:relative;
	z-index:2;
	background:url(../img/bg_aboutCarousel.png) no-repeat 0 0;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/about/img/bg_aboutCarousel.png',sizingMethod='crop');
}

ul.dock {
	list-style:none;
	display:block;
	width:853px;
	height:109px;
	margin:0 auto;
}

.toolTip {
	width:107px;
	height:60px;
	position:absolute;
	top:-50px;
	right:30px;
	display:none;
	background: url(../img/img_aboutTTSprite.gif) no-repeat scroll 0 0;
}

ul.dock li,ul.dock li span {
	width:84px;
	height:100px;
	display:block;
	position:absolute;
	z-index:2;
	cursor:pointer;
}
/*Begin TT Change*/
ul.dock li a{ 
  text-indent: -9999px;
}
/*End TT Change*/
ul.dock li span.hover,ul.dock li span.clicked {
	width:89px;
	height:103px;
	top:0;
	z-index:3;
}

.hover,.click {
	top:109px;
}

ul.dock li#toonsDock {
	left:0;
}

#toonsDock span.clicked,ul.dock li#toonsDock span.hover {
	background:url(../img/btn_atgToonsHover.png) no-repeat scroll 0 0;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/about/img/btn_atgToonsHover.png',sizingMethod='crop');
}

ul.dock li#toonsDock .toolTip {
	width:96px;
	background-position:0 0;
}

ul.dock li#cogsDock {
	left:84px;
}

ul.dock li#cogsDock span.clicked,ul.dock li#cogsDock span.hover {
	background:url(../img/btn_atgCogsHover.png) no-repeat scroll 0 0;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/about/img/btn_atgCogsHover.png',sizingMethod='crop');
}

ul.dock li#cogsDock .toolTip {
	width:80px;
	background-position:-104px 0;
}

ul.dock li#cogHQDock {
	left:252px;
}

ul.dock li#cogHQDock span.clicked,ul.dock li#cogHQDock span.hover {
	background:url(../img/btn_atgCogHQHover.png) no-repeat scroll 0 0;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/about/img/btn_atgCogHQHover.png',sizingMethod='crop');
	top:0;
}

ul.dock li#cogHQDock .toolTip {
	width:110px;
	background-position:-282px 0;
}

ul.dock li#battlesDock {
	left:168px;
}

ul.dock li#battlesDock span.clicked,ul.dock li#battlesDock span.hover {
	background:url(../img/btn_atgBattlesHover.png) no-repeat scroll 0 0;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/about/img/btn_atgBattlesHover.png',sizingMethod='crop');
}

ul.dock li#battlesDock .toolTip {
	width:92px;
	background-position:-185px 0;
}

ul.dock li#rewardsDock {
	left:336px;
}

ul.dock li#rewardsDock span.clicked,ul.dock li#rewardsDock span.hover {
	background:url(../img/btn_atgRewardsHover.png) no-repeat scroll 0 0;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/about/img/btn_atgRewardsHover.png',sizingMethod='crop');
}

ul.dock li#rewardsDock .toolTip {
	width:107px;
	background-position:-392px 0;
}

ul.dock li#partiesDock {
	left:420px;
}

ul.dock li#partiesDock span.clicked,ul.dock li#partiesDock span.hover {
	background:url(../img/btn_atgPartiesHover.png) no-repeat scroll 0 0;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/about/img/btn_atgPartiesHover.png',sizingMethod='crop');
}

ul.dock li#partiesDock .toolTip {
	width:92px;
	background-position:-503px 0;
}

ul.dock li#kartsDock {
	left:504px;
}

ul.dock li#kartsDock span.clicked,ul.dock li#kartsDock span.hover {
	background:url(../img/btn_atgKartsHover.png) no-repeat scroll 0 0;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/about/img/btn_atgKartsHover.png',sizingMethod='crop');
}

ul.dock li#kartsDock .toolTip {
	width:126px;
	background-position:-599px 0;
}

ul.dock li#mapsDock {
	left:588px;
}

ul.dock li#mapsDock span.clicked,ul.dock li#mapsDock span.hover {
	background:url(../img/btn_atgExploreHover.png) no-repeat scroll 0 0;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/about/img/btn_atgExploreHover.png',sizingMethod='crop');
}

ul.dock li#mapsDock .toolTip {
	width:99px;
	background-position:-729px 0;
}

ul.dock li#trolleysDock {
	left:672px;
}

ul.dock li#trolleysDock span.clicked,ul.dock li#trolleysDock span.hover {
	background:url(../img/btn_atgTrolleyHover.png) no-repeat scroll 0 0;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/about/img/btn_atgTrolleyHover.png',sizingMethod='crop');
}

ul.dock li#trolleysDock .toolTip {
	width:125px;
	background-position:-830px 0;
}

ul.dock li#cattleDock {
	left:756px;
}

ul.dock li#cattleDock span.clicked,ul.dock li#cattleDock span.hover {
	background:url(../img/btn_atgCattleHover.png) no-repeat scroll 0 0;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/about/img/btn_atgCattleHover.png',sizingMethod='crop');
}

ul.dock li#cattleDock .toolTip {
	width:116px;
	background-position:-961px 0;
}

.imageArea {
	position:relative;
	z-index:1;
	width:960px;
	height:450px;
	overflow:hidden;
}

.swappableItems {
	width:960px;
	height:450px;
	display:none;
}

.swappableItems p {
	font-weight:bold;
	font-size:16px;
	font-family:Arial, Helvetica, Verdana, sans-serif;
	color:#ffffff;
	height:153px;
	position:absolute;
	right:88px;
	top:99px;
	width:202px;
	text-align: center;
	letter-spacing: -0.75px;
}

.swappableItems .learnMore {
	position:absolute;
	width:74px;
	height:62px;
	bottom:87px;
	right:90px;
	background:url(../img/bg_atgLearnMore.png) no-repeat scroll 0 0;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/about/img/bg_atgLearnMore.png',sizingMethod='crop');
}

.swappableItems .learnMore a {
	width:74px;
	height:62px;
	display:block;
	text-indent:-9999px;
}

.imageArea #toons {
	background:url(../img/bg_atgToons.jpg) no-repeat scroll 0 0;
}

.imageArea #cogs {
	background:url(../img/bg_atgCogs.jpg) no-repeat scroll 0 0;
}

.imageArea #cogHQ {
	background:url(../img/bg_atgCogHQ-1.6.jpg) no-repeat scroll 0 0;
}

.imageArea #battles {
	background:url(../img/bg_atgBattles.jpg) no-repeat scroll 0 0;
}

.imageArea #rewards {
	background:url(../img/bg_atgRewards-1.5.jpg) no-repeat scroll 0 0;
}

.imageArea #parties {
	background:url(../img/bg_atgParties-1.6.jpg) no-repeat scroll 0 0;
}

.imageArea #karts {
	background:url(../img/bg_atgKart.jpg) no-repeat scroll 0 0;
}

.imageArea #maps {
	background:url(../img/bg_atgExplore.jpg) no-repeat scroll 0 0;
}

.imageArea #trolleys {
	background:url(../img/bg_atgTrolley.jpg) no-repeat scroll 0 0;
}

.imageArea #cattle {
	background:url(../img/bg_atgCattle.jpg) no-repeat scroll 0 0;
}
