body.dist { background: #8DFFF3 url(../img/candystand-landing-bg.jpg) 0 -115px repeat-x !important; }
	.dist  iframe { margin: 0; }
	.dist iframe#mainFrameContent { overflow: hidden; /*border-left: 5px solid #ffffff; border-right: 5px solid #ffffff;*/ }
	.dist #frame-header { height: 210px; }
	.dist #frame-content { width: 994px; margin: 0 auto; padding: 0 20px 0 0; }
	.dist .mainContainer  { padding-top: 15px; }
	
/* Landing Page */
body#dist-landing { background: none; background-color: #3180CF }
#dist-landing .landingPage { width: 994px; margin: 0 auto; }
	#dist-landing .landingPage .top { position: relative; width: 994px; height: 480px; background: transparent url(../img/candystand-landing-top.jpg) 0 0 no-repeat; }
	#dist-landing .landingPage .bottom { position: relative; width: 994px; height: 211px; background: transparent url(../img/candystand-landing-bottom.jpg) 0 0 no-repeat; }
#dist-landing .top ul { position: absolute; top: 10px; left: 12px; width: 400px; }
	#dist-landing .top ul li { list-style: none; display: inline; }
	#dist-landing .top ul a { float: left; font-size: 13px; color: #ffffff; text-decoration: none; font-weight: bold; padding: 0 20px 0 0; }
	#dist-landing .top  #nav-login, 
	#dist-landing .top  #ttLoginMsg1 a,
	#dist-landing .top  #ttLoginMsg2 a { font-size: 13px; color: #ffffff; text-decoration: none; font-weight: bold; }
	#dist-landing .top  #nav-login { position: absolute; right: 12px; top: 10px; }
#dist-landing .sprite { display: block; background: transparent url(../img/candystand-landing-sprites.png) 0 0 no-repeat; _background: transparent url(../img/candystand-landing-sprites.gif) 0 0 no-repeat; }
#dist-landing a.sprite { cursor: pointer; text-indent: -9999em; }
	#dist-landing .playNow { width: 205px; height: 95px; position: absolute; top: 145px; left: 390px; background-position: -327px -10px; }
		#dist-landing a.playNow:hover { background-position: -327px -110px; }
	#dist-landing .whatsNew { width: 195px; height: 180px; position: absolute; top: 0; left: 45px; background-position: 0 -139px; }
		#dist-landing a.whatsNew:hover { background-position: 0 -329px; }
	#dist-landing .createAccount { width: 275px; height: 42px; position: absolute; top: 0; left: 347px; background-position: -296px -331px; }
		#dist-landing a.createAccount:hover { background-position: -296px -381px; }
	#dist-landing .joinNow { width: 195px; height: 180px; position: absolute; top: 0; left: 768px; background-position: -710px -139px; }
		#dist-landing a.joinNow:hover { background-position: -710px -329px; }
		
body#dist { background: #8DFFF3 url(../img/candystand-home-bg.jpg) 0 -115px repeat-x !important; }

/* Game Pages */
body#downloader.candy #overlay-play { top: 55px !important; }
body.candy .mainContainer { background-color: #44B8E7; }
body#dist-landing,
body#pg-join { overflow: hidden; }