h1.faqs{background:url(../img/txt_faqs.png) no-repeat scroll top left;text-indent:-9999px;margin-left:5px;line-height:27px;padding-bottom:5px;width:75px;}
#colA{float:left;width:191px;padding:10px 25px 300px;line-height:18px;overflow:hidden;}
#colB{float:right;width:655px;padding:20px 25px 25px;}
#colA ul li{list-style-type:none;font-size:17px;margin-bottom:10px;}
#colA h2{padding:50px 0px 15px;}
#colA ul li.colNavSelected{background:transparent url(../../global/img/bg_colNavSelected.png) no-repeat scroll left top;color:#203F4C;font-size:17px;height:22px;left:-12px;padding:5px 15px;position:relative;width:201px;}
#mainContent{position:relative;}
div.charFaqTop{background:transparent url(../img/img_charFaqTop.png) no-repeat scroll left top;height:250px;position:absolute;right:-10px;top:-64px;width:245px;z-index:2;}
div.charFaqBtm{background:transparent url(../img/img_charFaqBtm.png) no-repeat scroll left top;height:250px;position:absolute;left:37px;bottom:15px;width:245px;z-index:2;}
/* TTP-359 - Changed font-size:22px to font-size:17px and line-height:30px to line-height:20px on line 12. */
#colB ul li{font-size:17px;padding:3px 20px 10px;list-style-type:none;line-height:20px;background:url(../../global/img/icon_ulBullet.png) no-repeat scroll left 10px;}
#colB dl{margin-top:15px;line-height:23px;padding-top:30px;}
#colB dl dd,#colB dl dt{position:relative;padding:4px 25px 15px 35px;}
#colB dl dd{font-size:16px;}
#colB dl dt{font-size:18px;}
#colB dl dd span,#colB dl dt{color:#000000;font-weight:bold;}
#colB dl dd span,#colB dl dt span{font-size:26px;position:absolute;top:0px;left:0px;}


/* TT-specific*/
#colB ul li.questionBullets{font-size:16px;padding:4px 15px 10px 20px;line-height:23px;}
#colA dl dd ul li{font-size: 15px;padding: 3px 15px;background: url(../../global/img/icon_ulBullet.png) no-repeat scroll left 7px;margin: 0px 4px 3px 12px;padding: 3px 15px;}#colA p img{float:left;margin-right:10px;} /* TT Added */
#colB h2 {font-size:24px;margin:0px 0px -10px 0px;color:#1D1D1D;}
#colA ul li.colNavSelected a{color: #203F4C;}

form#searchForm{margin:0}

h1.techIssues{background:url(../../global/img/titles/technical-issues.png) no-repeat scroll top left;text-indent:-9999px;margin-left:5px;line-height:27px;padding-bottom:5px;width:210px;}
