h1.faqs{background:url(../img/txt_faqs.png) no-repeat scroll top left;text-indent:-9999px;margin-left:5px;line-height:27px;padding-bottom:5px;width:75px;}
#colA{float:left;width:191px;padding:10px 25px 300px;line-height:18px;overflow:hidden;}
#colB{float:right;width:655px;padding:20px 25px 25px;}
#colA ul li{list-style-type:none;font-size:17px;margin-bottom:10px;}
#colA h2{padding:50px 0px 15px;}
#colA ul li.colNavSelected{background:transparent url(../../global/img/bg_colNavSelected.png) no-repeat scroll left top;color:#203F4C;font-size:17px;height:22px;left:-12px;padding:5px 15px;position:relative;width:201px;}
#mainContent{position:relative;}
div.charFaqTop{background:transparent url(../img/img_charFaqTop.png) no-repeat scroll left top;height:250px;position:absolute;right:-10px;top:-64px;width:245px;z-index:2;}
div.charFaqBtm{background:transparent url(../img/img_charFaqBtm.png) no-repeat scroll left top;height:250px;position:absolute;left:37px;bottom:15px;width:245px;z-index:2;}
/* TTP-359 - Changed font-size:22px to font-size:17px and line-height:30px to line-height:20px on line 12. */
#colB ul li{font-size:17px;padding:3px 20px 10px;list-style-type:none;line-height:20px;background:url(../../global/img/icon_ulBullet.png) no-repeat scroll left 10px;}
#colB dl{margin-top:15px;line-height:23px;padding-top:30px;}
#colB dl dd,#colB dl dt{position:relative;padding:4px 25px 15px 35px;}
#colB dl dd{font-size:16px;}
#colB dl dt{font-size:18px;}
#colB dl dd span,#colB dl dt{color:#000000;font-weight:bold;}
#colB dl dd span,#colB dl dt span{font-size:26px;position:absolute;top:0px;left:0px;}


/* TT-specific*/
#colB ul li.questionBullets{font-size:16px;padding:4px 15px 10px 20px;line-height:23px;}
#colA dl dd ul li{font-size: 15px;padding: 3px 15px;background: url(../../global/img/icon_ulBullet.png) no-repeat scroll left 7px;margin: 0px 4px 3px 12px;padding: 3px 15px;}#colA p img{float:left;margin-right:10px;} /* TT Added */
#colB h2 {font-size:24px;margin:0px 0px -10px 0px;color:#1D1D1D;}
#colA ul li.colNavSelected a{color: #203F4C;}

form#searchForm{margin:0}

h1.techIssues{background:url(../../global/img/titles/technical-issues.png) no-repeat scroll top left;text-indent:-9999px;margin-left:5px;line-height:27px;padding-bottom:5px;width:210px;}

#searchErrTxt2{display:none;color:#2078fd;font-size:26px;font-weight:bold;padding-bottom:30px}
form#searchForm .btnSubmitBig{position:relative;z-index:3}
div.ttInputWrapper input { padding: 1px 8px 0px 8px;}
#IE div.ttInputWrapper input { padding: 8px 8px 0px 8px;}


#memberDiv{width:630px;/*height:736px;*/position:relative;}
.memberSprite { background: transparent url(../img/free-paid-icons.gif) no-repeat scroll 0 0;border: none; outline: none; text-indent: -9999em; }
	input.memberSprite { display: block; text-transform: capitalize; } /* Necessary for IE7/IE6 */
	a.memberSprite { display: block; text-indent: -9999em; }
	span.memberSprite { display: block; text-indent: -9999em; }

#memberDiv	#memberLogo {position:absolute;top:-12px;left:380px;width: 230px;height:72px;background: transparent url(../img/member.png) no-repeat scroll 0 0;z-index:51}
#IE6 #memberDiv	#memberLogo {background: none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='http://dolimg.com/toontown/en/faqs/img/member.png',sizingMethod='crop');}

.numOfToons {width: 113px; height: 78px; background-position: -8px -7px; margin:0 auto}
.toonSpecies {width: 113px; height: 78px; background-position: -8px -92px; margin:0 auto}
.shopping {width: 113px; height: 78px; background-position: -8px -178px; margin:0 auto}

.toonTasks {width: 113px; height: 78px; background-position: -127px -7px; margin:0 auto}
.laffPoints {width: 113px; height: 78px; background-position: -127px -92px; margin:0 auto}
.neighborhoods {width: 113px; height: 78px; background-position: -127px -178px; margin:0 auto}

.cogBuildings {width: 113px; height: 78px; background-position: -246px -7px; margin:0 auto}
.gags {width: 113px; height: 78px; background-position: -246px -92px; margin:0 auto}
.cogHQs {width: 113px; height: 78px; background-position: -246px -178px; margin:0 auto}

.trolleyGames {width: 113px; height: 78px; background-position: -367px -7px; margin:0 auto}
.fishing {width: 113px; height: 78px; background-position: -367px -92px; margin:0 auto}
.gardening {width: 113px; height: 78px; background-position: -367px -178px; margin:0 auto}

.kartRacing {width: 113px; height: 78px; background-position: -486px -7px; margin:0 auto}
.miniGolf {width: 113px; height: 78px; background-position: -486px -92px; margin:0 auto}
.adoptDoodle {width: 113px; height: 78px; background-position: -486px -178px; margin:0 auto}

#memberTBL{border-collapse:collapse;/*font-family:verdana;*/}
#memberTBL{border:4px solid #c5c5c5;position:relative;z-index:50}
#memberTBL td, #memberTBL th{border:4px solid #c5c5c5;padding:8px 0px;}

th.memberCol1{width:162px;font-size:22px;font-weight:bold;color:#111}
td.memberCol1{width:162px;text-align:center;font-size:14px;font-weight:bold;color:#111}

th.memberCol2{width:197px;font-size:22px;font-weight:bold;color:#111}
td.memberCol2{width:197px;text-align:center;font-size:14px;font-weight:bold;color:#111}

th.memberCol3{width:259px;font-size:22px;font-weight:bold;color:#111}
td.memberCol3{width:259px;text-align:center;font-size:24px;font-weight:bold;color:#024aec;background-color:#c2f2ff}

