h1.blog{background:url(../img/whats-new.png) no-repeat scroll;margin:0 0 0px 20px;height:32px;text-indent:-9999px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/blog/img/whats-new.png',sizingMethod='crop');}
h2{font-size:21px;color:#2078fd;margin-bottom:5px;}
.navSpacer{margin:20px 0;height:1px;border-bottom:2px dotted;}
.imgFrame{margin:10px 0;}
.pagingcontrols{height:25px;}
.pagerNext,.pagerPrev{padding:2px 25px;width:250px;height:25px}
.pagerNext{float:right;background-position:280px -24px;text-align:right;}
.pagerPrev{float:left;text-align:right;background-position:0px 7px;text-align:left;}
.blogEntries{width:660px;background:#FFF;float:left;margin:10px 20px;_margin-left:10px;font-size:16px;line-height:24px;}
/*
.blogTitle{font-size:34px;font-weight:bold;margin:10px 0px 24px;}
.blogTitle a{margin-bottom:24px;}
*/
/*Begin TT change*/
.blogTitle{font-size:34px;font-weight:bold;margin:0 0 24px;line-height:34px}
.blogTitle a{margin-bottom:24px;line-height:44px}
/*End TT change*/

.blogDate{margin:10px 0;font-size:11px;text-transform:uppercase;}
.commentContainer,.blgComments,div.love,ul.shareLinks li#mail,ul.shareLinks li#fb,ul.shareLinks li#twitter,ul.shareLinks li#myspace{background:url(../img/icons_blogShare.png) no-repeat;}
.commentContainer{height:44px;width:664px;margin:0 auto;text-align:right;padding:7px;font-size:12px;font-weight:bold;color:#1d1d1d;background-position:left -170px;}
.comments{line-height:24px;}
.comments h3,label.desc{font-size:18px;font-weight:bold;color:#1d1d1d;}
.comments p{font-size:16px;}
.comments p.postDate{font-size:11px;}
/*
Toon and Cog comments
these are not impliemented in the current theme
activate them if needed. The exact selector will need to be changed
.toon{background-color:#32a6e3;}
.cog{background-color:#9e9ca8;}
*/
.blgComments{float:left;width:115px;height:24px;padding:3px;margin:0 10px 0 5px;background-position:0 1px;}
/*div.character{background:url(../img/cat.png) no-repeat scroll 0 0;height:224px;left:519px;position:absolute;top:10px;*top:13px;width:154px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/blog/img/cat.png',sizingMethod='crop');}*/
div.character{z-index:0;background:url(../img/cat.png) no-repeat scroll 0 0;height:224px;left:519px;position:absolute;top:10px;*top:13px;left:543px;width:154px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/blog/img/cat.png',sizingMethod='crop');}/*TT change*/
div.love{float:left;width:105px;height:24px;padding:3px;background-position:2px -27px;}
ul.shareLinks{display:inline;list-style:none;float:right;width:220px;}
ul.shareLinks li{float:left;display:block;height:30px;width:35px;}
ul.shareLinks li#shareThis{width:70px;text-align:left;margin-top:3px;}
ul.shareLinks li#mail{background-position:2px -54px;}
ul.shareLinks li#fb{background-position:1px -83px;}
ul.shareLinks li#twitter{background-position:2px -111px;}
ul.shareLinks li#myspace{background-position:-3px -139px;width:29px;}
.sidePanel{width:200px;background:#FFF;float:right;margin:13px 20px;}
.sidePanel img{margin-bottom:25px;}
ul.sidePanelTags{list-style-type:none;}
ul.sidePanelTags li{float:left;clear:left;margin-left:5px;font-size:18px;line-height:28px;text-transform:capitalize;} /*TT Change*/
.comments-form{position:relative;}
.blogEntry form ul{list-style:none;}
input.text{background:url(../img/bg_blogTxtInputName.png) no-repeat scroll 0 0;height:26px;padding:5px 10px;width:270px;border:none;font-size:16px;color:#666;margin-bottom:5px;}
label.desc{float:left;margin:1px 5px 0 0;}
/*textarea.large{background:url(../img/bg_blogTxtInputComment.png) no-repeat scroll 0 0;width:574px;height:132px;margin-top:20px;border:none;padding:5px 10px;font-size:16px;color:#666;font-family:Arial,Helvetica,sans-serif;overflow:auto;resize:none;}*/
textarea.large{z-index:10;position:relative;background:url(../img/bg_blogTxtInputComment.png) no-repeat scroll 0 0;width:574px;height:115px;margin-top:20px;border:none;padding:5px 10px 17px;font-size:16px;color:#666;font-family:Arial,Helvetica,sans-serif;overflow:auto;resize:none}/*TT change*/

input.button{background:url(../img/btn_blogPost.png) no-repeat scroll 0 0;border:medium none;cursor:pointer;text-indent:-9999px;height:50px;margin:20px 0 0;top:0;width:138px;display:block;}
h1.commentFormTitle{background:url(../img/txt_blogSpeakup.png) no-repeat scroll 0 0;height:30px;text-indent:-9999px;width:125px;margin-bottom:20px;}
span.status{background:#b1d4ff;min-height:48px;line-height:24px;display:block;margin-top:25px;padding:25px 20px;}
span.error{/*background:#d61826;*/min-height:48px;line-height:24px;display:block;margin-top:25px;padding:25px 20px;}

/*Begin TT change*/
div.next-previous{padding:0 0 20px 0;text-align:center}
.blogComments{background-color:#6dceee}
.blogCommentsInner{padding:10px 5px}
.comments-head{font-weight:bold}
/*Begin TT change*/

/*Begin TT change for preview and post buttons*/
form#commentForm{margin:10px 0 20px 20px;margin-left:20px;}
form#commentForm .previewBtn{cursor:pointer;background:url(../../global/img/btns/preview.png) no-repeat scroll 0 0;width:172px;height:56px;float:left;text-align:-9999px;border:none;margin-left:7px;top:0;}
form#commentForm .previewBtn:hover{background-position:0 -56px;}
form#commentForm .postBtn{cursor:pointer;background:url(../../global/img/btns/post.png) no-repeat scroll 0 0;width:122px;height:54px;float:left;text-align:-9999px;border:none;margin-left:7px;top:0;}
form#commentForm .postBtn:hover{background-position:0 -54px;}
form#commentForm .textarea-large { z-index: 10; position: relative; background:url(../img/bg_blogTxtInputComment.png) no-repeat scroll 0 0; width: 574px; height: 115px; margin-top: 20px; padding: 5px 10px 17px; }
form#commentForm .textarea-large textarea { position: relative; z-index: 1000; width: 540px; height: 115px; font-size: 16px; color: #666; font-family: Arial,Helvetica,sans-serif; overflow:auto; resize: none;  border-width: 0px; outline: none;}
form#commentForm .text-large { z-index: 10; position: relative; background: url(../img/bg_blogTxtInputName.png) no-repeat scroll 0 0; height: 26px; width: 270px; margin-left: 150px; padding: 5px 10px; }
form#commentForm .text-large input { position: relative; z-index: 100; width: 260px; font-size: 16px; color: #666; font-family: Arial,Helvetica,sans-serif; border-width: 0px; outline: none; }
form#commentForm  label { width: 120px; overflow: hidden; }

/*End TT change for preview and post buttons*/

/*Begin TT change for Admin Comments*/
p.adminTxt1{color:#fff}
p.adminTxt2{font-family:courier,arial}
.blgImgR{float:right;padding:0 0 10px 10px}
.ttAdminToonCouncil{background-color:#2c7ed0;color:#fff}
.ttAdminToonCouncil a:link{color:#ffff00;text-decoration:underline;}
.ttAdminToonCouncil a:visited{color:#ffffff;text-decoration:underline;}
.ttAdminToonCouncil a:hover{color:#ffff00;text-decoration:underline;}
.ttAdminToonCouncil a:active{color:#ffff00;text-decoration:underline;}

.ttAdminTheCogs{background-color:#828282;color:#000}
.ttAdminTheCogs a:link{color:#cc0000;text-decoration:underline;}
.ttAdminTheCogs a:visited{color:#000;text-decoration:underline;}
.ttAdminTheCogs a:hover{color:#cc0000;text-decoration:underline;}
.ttAdminTheCogs a:active{color:#cc0000;text-decoration:underline;}
/*End TT change for Admin Comments*/

#disChrome{display:none}