.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

body {
padding: 0 0 0 0;
margin:0 0 0 0;
}

fieldset{
border: none;
margin-left: -5px;
}

img{
border: 0;
}

/*
---------------------------------
Column Layout Styles
---------------------------------
*/

#wrapper{
margin:0 0 0 0;
width: 760px;
padding-right: 10px;
}

#footer{
clear: both;
width: 760px;
text-align: center;
font: 11px Verdana, Arial, Helvetica, sans-serif;
padding-top: 12px;
padding-bottom: 20px;
}

#threeColumnLayout #leftColumn{
float: left;
clear: left;
width: 200px;
padding: 0 5px 5px 5px;
}


#threeColumnLayout #mainColumn{
float: left;
width: 360px;
padding: 5px 5px 5px 5px;
}

#threeColumnLayout #rightColumn{
float: left;
clear: right;
width: 170px;
padding: 0 5px 5px 5px;
margin: 0 0 0 0;
}


#twoColumnLayout #leftColumn{
float: left;
clear: left;
width: 200px;
padding: 0 5px 5px 5px;
}

#twoColumnLayout #mainColumn{
float: left;
clear: right;
width: 540px;
padding: 5px 5px 20px 5px;
}


#oneColumnLayout #mainColumn{
width:750px;
padding: 5px 5px 5px 5px;
clear: both;
}

/*
This is a Custom clearfix for the layouts, to reduce graphic overrun in Firefox
*/
#threeColumnLayout:after, #twoColumnLayout:after, #oneColumnLayout:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
margin-bottom: -12px;
}

#toolbar ul{
margin: 10px 5px 0 0;
}
#toolbar li{
display: inline;
list-style: none;
}

#toolbarBottomRow, #toolbarTopRow{
float: right;
}
#toolbar form{
display: inline;
}

#toolbar .toolbarLogo{
float: left;
margin: 10px 0 0 0;
}
#toolbar {
height: 80px;
}

/*
Global Navigation CSS
*/


#globalNav{
position:relative;
width: 760px;
height: 20px;
}

#nav, #nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 3;
  width: 584px;
}

#nav 	{
  float: left;
  position: auto;
}

#nav a {
  display: block;
  width: auto;
}

#nav li {
  float: left;
  padding-left: 15px;
  width: auto;
}


#nav li ul li {
  clear: both;
  background: White;
  padding-left: 0px;
  padding-bottom: 12px;
}

#nav li ul {
  position: absolute;
  left: -999px;
  padding-bottom: 2px;
  margin-top: -2px;
}

html>body #nav li ul {
  margin-top: -5px;
}

#nav li:hover ul, #nav li.iehover ul {
  left: auto;
}

#nav li ul ul {
  margin: -20px 0 0 75px;
  border: 0px;
}


#nav li:hover ul ul, #nav li.iehover ul ul {
  left: -999px;
}


#nav li:hover ul, #nav li li:hover ul, #nav li.iehover ul, #nav li li.iehover ul {
  left: auto;
}

#nav li:hover img, #nav li.iehover img {
  visibility: hidden;
}

#nav li:hover li img, #nav li.iehover li img, #nav li li:hover img, #nav li li.iehover img {
  visibility: visible;
}

/*
Global Chrome CSS
*/

#chrome {
background-color: #003399;
width: 760px;
}
#globalChromeSearch{
float: right;
}
#globalChromeLogo{
float: left;
}
#globalChromeBreadcrumb{
float: left;
}
.globalChromeText{
font: 10px Arial, Helvetica, sans-serif;
color: #FFFFFF;
}

.globalChromeText a {
font: 10px Arial, Helvetica, sans-serif;
color: #FFFFFF;
}