h1 { width: 222px; height: 29px; background: transparent url(../../global/img/titles/uk-move-set1.png) no-repeat scroll -24px -23px;_background: transparent url(../../global/img/titles/uk-move-set1.gif) no-repeat scroll -24px -23px;
margin: 0 0 10px 20px;  padding:0 0 5px; text-indent: -9999em; }
h2 { width: auto; height: 18px; font-size: 22px; font-weight: bold; letter-spacing: -0.05em; color: #0085EC; background: transparent url(../../global/img/titles/uk-move-set1.gif) no-repeat scroll -25px 0; text-indent: -9999em; }
h3 { font-size: 18px; line-height: 28px; }
label { float: left; text-align: right; color: #000000; font-size: 18px; font-weight: bold; padding-top: 19px; width: 210px; margin-right: 10px; }
textarea { resize:none; font-family: Arial,Helvetica,sans-serif; font-style: normal; font-size: 12px; overflow: auto; }
textarea,
input.bigText { background: url(../../contact/img/bg_contactTxtSpt.png) no-repeat scroll 0 0; width: 352px; border: none; color: #666666; font-size: 12px; padding: 8px 10px 0px; height: 23px; }
textarea.bigText { background-position: 0 -32px; height: 115px; padding: 8px 10px 8px 10px; margin: 0px 0px 57px 0px; }
input.smallText { width: 244px; height: 24px; padding: 8px 10px 8px 10px; background: url(../../global/img/text-field.jpg) no-repeat scroll 0 0; border: none; color: #666666; font-size: 12px; }

/* Page - Login */
.mainContainer.login h2 { height: 30px; background-position: -25px -111px; margin: 0; }
.login hr { margin: 0 0 25px; }
.login form { background: transparent url(../../global/img/login.jpg) no-repeat scroll left bottom; padding: 0 0 0 50px; }
.login .boxMid960 form p { color: #000000; font-size: 18px; font-weight: bold; }
.login .support { margin: 0 0 0 288px; }
.login .sprite.btn-login { margin: 20px 0 0; }
.login .forgot { width: 585px; padding: 10px 0 0; }
/*.login .acctIDWhy { width: 585px; padding: 10px 0 0; }*/
.login .support .forgot { width: 100%; text-align: left; font-size: 15px; font-weight: normal; margin: 15px 0 12px; }
.login .boxMid960 .support p { font-size: 12px; font-weight: normal; }
#loginAlt{height:178px;clear:both}


/* Page - Get Started */
.get-started h2 { margin: 0 0 20px; background-position: -25px -74px; }
.get-started ol { font-size: 14px; margin: 0; width: 445px; }
	.get-started ol li { line-height: 24px; margin: 0 0 5px 35px; }
	.get-started ol li strong { display: block; color: #000000; }
.get-started .btn-continue { margin: 10px 0 20px 182px; }
.get-started .graphic { width: 462px; height: 331px; float: right; background: transparent url(../../global/img/toons.jpg) no-repeat scroll 0 0; }

/* Page - Account Details */
.account-details h2 { margin: 0 0 20px; background-position: -25px -157px; }
.account-details h3 { font-size: 18px; margin: 0 0 20px; }
.account-details .info { width: 570px; height: 238px; background: transparent url(../../global/img/account-details.jpg) no-repeat scroll right -5px; padding: 0 350px 0 0; margin: 0 0 15px; }
	.account-details .info dl { margin: 0 0 5px 5px; }
		.account-details .info dl dt { font-size: 14px; font-weight: bold; margin: 0 0 21px; color: #000000; }
.account-details .create { background: transparent url(../../global/img/picture-frame.jpg) no-repeat scroll right 0; width: 527px; padding: 0 393px 0 0; }
.account-details .create2 {width: 527px; padding: 0 393px 0 0; }
	.account-details .create .note .warning { margin: 0 0 5px; }
.account-details .disclaimer label { width: 650px; }
.account-details .sprite.btn-submit { margin: 15px 0 10px 270px; }

/* Page - Contact Us */
.contact-us h2 { height: 20px; margin: 0 0 20px; background-position: -25px -361px; }
.contact-us .graphic { position: absolute; top: 100px; left: 10px; width: 340px; height: 298px; background: transparent url(../../contact/img/img_submitCharMonkey.png) no-repeat scroll 0 0; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/contact/img/img_submitCharMonkey.png',sizingMethod='crop'); float: left; }
.contact-us #contactForm { float: right; width: 625px; }
	.contact-us #contactForm .btn-submit { margin-left: 318px; }
	.contact-us #contactForm textarea.bigText  { margin-bottom: 15px; }

/* Page - Cancel Account */
.cancel-account h2 { margin: 0 0 20px; background-position: -25px -320px; }
.cancel-account .buttons { width: 373px; margin: 20px 0 0 218px; text-align: right; }
	.cancel-account .buttons .btn-submit { margin: 0 0 10px; clear: both; float: right; }
	.cancel-account .buttons .sprite.btn-cancel,
	.cancel-account .buttons .sprite.btn-go-back { float: right; margin: 0; text-align: left; }
	.cancel-account .buttons .sprite.btn-cancel { margin-right: 5px; }
	.cancel-account form { min-height: 305px; background: transparent url(../../global/img/cancel.jpg) no-repeat scroll left top; padding: 0 0 0 300px; }

/* Page - Thank You */
.thank-you h2 { margin: 0 0 20px; background-position: -25px -400px; height: 24px; }
.thank-you .graphic { width: 445px; height: 338px; position: absolute; top: 0; right: 0; background: transparent url(../../global/img/map.jpg) no-repeat scroll 0 0; z-index: 1; }
.thank-you ul { margin-left: 0; }

/* Page - Create Child Account */
.create-child-account h2 { margin: 0 0 20px; background-position: -25px -197px; }
.create-child-account form { margin: 15px 0 0; background: transparent url(../../global/img/water-splash.jpg) no-repeat scroll right top; }
	.create-child-account form p { color: #000000; font-size: 18px; font-weight: bold; }
	.create-child-account form #Member_Name { margin: 6px 0 0; }
	.create-child-account form .btn-submit { margin: 15px 0 15px 265px; }

/* Page - Error */
.error h2 { margin: 0 0 20px; background-position: -25px -280px; }
.error .graphic { width: 445px; height: 338px; position: absolute; top: 0; right: 0; background: transparent url(../../global/img/map.jpg) no-repeat scroll 0 0; z-index: 1; }
.error .support { float: left; }
.error .boxMid960 .support p,
.error .support dt,
.error .support dd { font-size: 14px; }

/* Page - Move Complete */
.move-complete h2 { margin: 0 0 20px; background-position: -25px -239px; }
.move-complete #mainContent ul { font-size: 16px; font-weight: normal; list-style: none; }
	.move-complete #mainContent ul li { padding: 0 0 8px 25px; background: transparent url(../../global/img/icon_ulBullet.png) no-repeat scroll 0 6px; }
	.move-complete #mainContent ul ul { list-style: none; margin: 0 0 0 20px; }
	.move-complete #mainContent ul ul li { background: transparent url(../../global/img/icon_ulBullet.png) no-repeat scroll 0 8px; }
.move-complete .graphic { width: 366px; height: 362px; background: transparent url(../../global/img/jumping-toons.jpg) no-repeat scroll 0 0; float: right; }
.move-complete .sprite.btn-play { margin-left: 180px; }

/* Page - FAQ */
.faq .boxMid960 { padding: 0; width: 960px; }
.faq #colA h2.didYouKnow { margin-bottom: 10px; padding: 50px 0 15px; line-height: 18px; font-size: 18px; color: #1D1D1D; background: none; letter-spacing: normal; text-indent: 0; }


/* Generic */
.boxMid960 { padding: 20px; width: 920px; overflow: hidden; position: relative; }
.boxMid960 p { font-size: 16px; line-height: 25px; margin: 0 0 10px; color: #515151; }
.boxMid960 ul { list-style: none; font-size: 18px; font-weight: bold;  margin: 20px; }
.boxMid960 ul li { margin-bottom: 10px; }
.forgot { text-align: right; font-weight: bold; font-size: 16px; }
.acctIDWhy {/* text-align: right; font-weight: bold; font-size: 16px; */}
.note { color: #3E8DE9; font-weight: bold; font-size: 14px; line-height: 20px; }
.warning { color: #ff0000; font-weight: bold; font-size: 14px; line-height: 20px; }
.disclaimer { font-size: 14px; line-height: 18px; }
	.disclaimer input { /*float: left; */}
.mainContainer.login h2 { padding: 0 0 4px; margin: 0 0 10px; }

/* Support Subsection */
.boxMid960 .support p { font-size: 12px; line-height: 28px; }
.support dl { margin: 5px 0; }
.support dt { width: 85px; height: 24px; margin: 0 8px 0 15px; float: left; font-size: 12px; }
.support dd { height: 24px; margin: 0 0 0 110px; padding: 10px 0 0; clear: right; font-size: 12px; }

/* Buttons */
.sprite { background: transparent url(../../global/img/btns/set1.png) no-repeat scroll 0 0; _background-image: url(../../global/img/btns/set1.gif); border: none; outline: none; cursor: pointer; text-indent: -9999em; }
	input.sprite { display: block; text-transform: capitalize; } /* Necessary for IE7/IE6 */
	a.sprite { display: block; text-indent: -9999em; }
	.sprite.btn-email { width: 84px; height: 28px; background-position: -9px -564px; margin: 5px 0 0; }
	.sprite.btn-email:hover { background-position: -304px -564px; }
	.sprite.btn-continue { width: 101px; height: 32px; background-position: -9px -17px; }
	.sprite.btn-continue:hover { background-position: -304px -17px; }
	.sprite.btn-login { width: 288px; height: 69px; background-position: -9px -54px; }
	.sprite.btn-login:hover { background-position: -304px -54px; }
	.sprite.btn-submit { width: 175px; height: 50px; background-position: -10px -125px; margin: 0; }
	.sprite.btn-submit:hover { background-position: -304px -125px; }
	.sprite.btn-cancel { width: 98px; height: 27px; background-position: -9px -299px; }
	.sprite.btn-cancel:hover { background-position: -304px -299px; }
	.sprite.btn-go-back { width: 98px; height: 27px; background-position: -9px -328px; }
	.sprite.btn-go-back:hover { background-position: -304px -328px; margin: 0; }
	.sprite.btn-email-password { width: 120px; height: 27px; background-position: -9px -270px; }
	.sprite.btn-email-password:hover { background-position: -304px -270px; margin: 0; }
	.sprite.btn-cancel-wide { width: 120px; height: 27px; background-position: -9px -238px; }
	.sprite.btn-cancel-wide:hover { background-position: -304px -238px; }
	.sprite.btn-play { width: 175px; height: 50px; background-position: -9px -180px; }
	.sprite.btn-play:hover { background-position: -304px -180px; }
	.sprite.btn-ok-small { width: 48px; height: 38px; background-position: -9px -596px; }
	.sprite.btn-ok-small:hover { background-position: -304px -596px; }

.btn-live-chat { display: block; text-indent: -9999em; block; width: 86px; height: 29px; margin: 5px 0 0; background: transparent url(../../global/img/btns/live-chat-off.png) no-repeat scroll 0 0; _background-image: url(../../global/img/btns/live-chat-off.gif); border: none; outline: none; }
.btn-live-chat:hover { background: transparent url(../../global/img/btns/live-chat-on.png) no-repeat scroll 0 0; _background-image: url(../../global/img/btns/live-chat-on.gif); }

/* Popup Overlay */
.popup { position: absolute; top: 600px; left: 20px; background: transparent url(../../global/img/popup-top.gif) no-repeat scroll 0 0; width: 754px; height: 315px; padding: 29px 0 0; }
.popup .container { width: 754px; padding: 0 0 20px; background: transparent url(../../global/img/popup-bottom.gif) no-repeat scroll 0 bottom; }
.popup form { background-color: #ffffff; background-image: none; padding: 0; width: 705px; border-left: 4px solid #2c7ed0; border-right: 4px solid #2c7ed0; padding: 0 20px 20px; margin: 0; }
.popup a.close { display: block; width: 30px; height: 30px; position: absolute; top: 0; right: 0; text-indent: -9999em; cursor: pointer; }

/* Popup Overlay Create Child Acct*/
.popupCca { position: absolute; top: 335px; left: 20px; background: transparent url(../../global/img/popup-top.gif) no-repeat scroll 0 0; width: 754px; height: 315px; padding: 29px 0 0; }
.popupCca .container { width: 754px; padding: 0 0 20px; background: transparent url(../../global/img/popup-bottom.gif) no-repeat scroll 0 bottom; }
.popupCca form { background-color: #ffffff; background-image: none; padding: 0; width: 705px; border-left: 4px solid #2c7ed0; border-right: 4px solid #2c7ed0; padding: 0 20px 20px; margin: 0; }
.popupCca a.close { display: block; width: 30px; height: 30px; position: absolute; top: 0; right: 0; text-indent: -9999em; cursor: pointer; }

/* Popup Overlay Login*/
.popupLogin { position: absolute; top: 70px; left: 68px; background: transparent url(../../global/img/popup-top.gif) no-repeat scroll 0 0; width: 754px; height: 315px; padding: 29px 0 0; }
.popupLogin .container { width: 754px; padding: 0 0 20px; background: transparent url(../../global/img/popup-bottom.gif) no-repeat scroll 0 bottom; }
.popupLogin form { background-color: #ffffff; background-image: none; padding: 0; width: 705px; border-left: 4px solid #2c7ed0; border-right: 4px solid #2c7ed0; padding: 0 20px 20px; margin: 0; }
.popupLogin a.close { display: block; width: 30px; height: 30px; position: absolute; top: 0; right: 0; text-indent: -9999em; cursor: pointer; }

/* Popup Overlay AcctIDWhy*/
.popupAcctIDWhy { position: absolute; top: 600px; left: 68px; background: transparent url(../../global/img/popup-top.gif) no-repeat scroll 0 0; width: 754px; height: 315px; padding: 29px 0 0; }
.popupAcctIDWhy .container { width: 754px; padding: 0 0 20px; background: transparent url(../../global/img/popup-bottom.gif) no-repeat scroll 0 bottom; }
.popupAcctIDWhy form { background-color: #ffffff; background-image: none; padding: 0; width: 705px; border-left: 4px solid #2c7ed0; border-right: 4px solid #2c7ed0; padding: 0 20px 20px; margin: 0; }
.popupAcctIDWhy a.close { display: block; width: 30px; height: 30px; position: absolute; top: 0; right: 0; text-indent: -9999em; cursor: pointer; }
a.popupAcctIDWhy {color:#ff0000}

/* Popup Overlay AcctIDWhy2*/
.popupAcctIDWhy2 { position: absolute; top: 335px; left: 68px; background: transparent url(../../global/img/popup-top.gif) no-repeat scroll 0 0; width: 754px; height: 315px; padding: 29px 0 0; }
.popupAcctIDWhy2 .container { width: 754px; padding: 0 0 20px; background: transparent url(../../global/img/popup-bottom.gif) no-repeat scroll 0 bottom; }
.popupAcctIDWhy2 form { background-color: #ffffff; background-image: none; padding: 0; width: 705px; border-left: 4px solid #2c7ed0; border-right: 4px solid #2c7ed0; padding: 0 20px 20px; margin: 0; }
.popupAcctIDWhy2 a.close { display: block; width: 30px; height: 30px; position: absolute; top: 0; right: 0; text-indent: -9999em; cursor: pointer; }
a.popupAcctIDWhy2 {color:#ff0000}


/* Popup - Forgot Password */
#popup-forgot form label { width: 150px; text-align: left; }
#popup-forgot form .buttons { width: 125px; float: right; }
#popup-forgot form p { font-size: 16px; font-weight: normal; }
#popup-forgot .note { margin: 15px 0 0; }

/* Popup - AcctIDWhy */
#popupAcctIDWhy form label { width: 150px; text-align: left; }
#popupAcctIDWhy form .buttons { width: 125px; float: right; }
#popupAcctIDWhy form p { font-size: 16px; font-weight: normal; }
#popupAcctIDWhy .note { margin: 15px 0 0; }
#popupAcctIDWhy .warning { margin: 15px 0 0; }

/* Popup - Username Suggestion */
#popup-username  p { font-size: 12px; font-weight: normal; }
#popup-username  form { text-align: center; }
#popup-username  form ul { width: 300px; margin: 0 auto; list-style: none; font-size: 14px; font-weight: normal; text-align: left; }

#childEmailId,#lastNameID,#nonDobFieldsCca,.nonDobFields{display:none}
#dobFieldsCca{height:248px}
