/*h1{margin-left:5px;text-indent:-9999px;line-height:32px;padding-bottom:5px;height:32px;background:url(../img/txt_membership.png) no-repeat scroll top left;width:151px;}*/
h1 { width: 222px; height: 29px; background: transparent url(../img/titles.png) no-repeat scroll -14px -13px;_background: transparent url(../img/titles.gif) no-repeat scroll -14px -13px;/*margin: 0 0 10px 20px;  padding:0 0 5px;*/ text-indent: -9999em; }
h2.faqs { width: 200px; height: 25px; font-size: 22px; font-weight: bold; letter-spacing: -0.05em; color: #0085EC; background: transparent url(../img/titles.png) no-repeat scroll -65px -78px;_background: transparent url(../img/titles.gif) no-repeat scroll -65px -78px; text-indent: -9999em; border:0px solid #000 }
h2.techIssues { width: 200px; height: 25px; font-size: 22px; font-weight: bold; letter-spacing: -0.05em; color: #0085EC; background: transparent url(../img/titles.png) no-repeat scroll 0px -161px;_background: transparent url(../img/titles.gif) no-repeat scroll 0px -161px; text-indent: -9999em; border:0px solid #000}
h2.playersGuide { width: 200px; height: 25px; font-size: 22px; font-weight: bold; letter-spacing: -0.05em; color: #0085EC; background: transparent url(../img/titles.png) no-repeat scroll 11px -119px;_background: transparent url(../img/titles.gif) no-repeat scroll 0 -119px; text-indent: -9999em; border:0px solid #000}


#mainContent{/*overflow:hidden;*/position:relative;}
div.charHelpTop{background:transparent url(../../faqs/img/img_charFaqTop.png) no-repeat scroll left top;height:250px;position:absolute;right:-60px;top:-64px;width:245px;z-index:2;}
#topNavContainer{position:relative;width:965px;}
#topNavContainer div{position:absolute;right:1px;z-index:1;width:697px;font-size:26px;color:#1d1d1d;}
#topNavContainer div p{position:relative;top:70px;left:40px;width:280px;text-align:center;}
#membershipUlNav{color:#2078fd;list-style-type:none;height:219px;width:278px;z-index:2;position:relative;padding:10px 0px 10px 15px;background:url(../img/bg_leftNavDisplay.gif) no-repeat 0 0;}
#membershipUlNav li,#botBoxes a.button,#botBoxes .techIssues dl.retailers ul{background-image:url(../img/bg_navSprite.gif);background-repeat:no-repeat;}
#membershipUlNav li{color:#2078FD;cursor:pointer;font-size:20px;position:relative;height:31px;list-style-type:none;padding:9px 0 0 52px;width:228px;}
.displaybDetail{display:none;}
ul#membershipUlNav li.selected{color:#1d1d1d;top:-3px;}
#displayDetailLi_1{background-position:0px -204px;}
ul#membershipUlNav #displayDetailLi_1.selected{background-position:0px -2px;top:0px;}
#displayDetailLi_2{background-position:0px -245px;}
#displayDetailLi_2.selected{background-position:0px -41px;}
#displayDetailLi_3{background-position:0px -286px;}
#displayDetailLi_3.selected{background-position:0px -81px;}
#displayDetailLi_4{background-position:0px -327px;}
#displayDetailLi_4.selected{background-position:0px -122px;}
#displayDetailLi_5{background-position:0px -366px;}
#displayDetailLi_5.selected{background-position:0px -162px;}

#displayDetail_1{background:url(../img/bg_playForFree.jpg) no-repeat 0 0;height:239px;top:1px;}
#displayDetail_2{background:url(../img/bg_noLimits.jpg) no-repeat 0 0;height:254px;top:1px;}
#displayDetail_3{background:url(../img/bg_expressYourself.jpg) no-repeat 0 0;height:247px;top:1px;}
#displayDetail_4{background:url(../img/bg_bossBattles.jpg) no-repeat 0 0;height:237px;top:1px;}
#displayDetail_5{background:url(../img/bg_funStuff.jpg) no-repeat 0 0;height:264px;top:1px;}

#subscribe{width:737px;height:160px;margin:0px 0px 20px 0px;}
#subscribe p{font-size:16px;color:#003366;padding:3px;font-family:Arial,Helvetica,sans-serif;margin: -5px 0px 0px 0px;}

/*Begin TT change*/
#subscribe h2{width:230px;height:28px;margin-bottom:5px;background:url(../img/price-plans.png) no-repeat 0 0;text-indent:-9999px;}
/*End TT change*/

#subscribe ul li{width:230px;height:111px;float:left;list-style-type:none;margin:0px 15px 0px 0px;}

/*Begin TT change*/
#subscribe ul li a.subscribeMonth{position:relative;float:left;width:240px;height:98px;text-indent:-9999px;background:url(../img/price-plans.png) no-repeat 0px -30px;cursor:pointer;}
#subscribe ul li a.subscribeMonth:hover{background-position: 0px -143px;}
#subscribe ul li a.subscribeSemi{position:relative;float:left;width:240px;height:98px;text-indent:-9999px;background:url(../img/price-plans.png) no-repeat -242px -30px;cursor:pointer;}
#subscribe ul li a.subscribeSemi:hover{background-position: -242px -143px;}
#subscribe ul li a.subscribeYear{position:relative;float:left;width:240px;height:111px;text-indent:-9999px;background:url(../img/price-plans.png) no-repeat -487px -30px;cursor:pointer;}
/*End TT change*/

#subscribe ul li a.subscribeYear:hover{background-position: -487px -143px;}

#botBoxes{width:964px;height:415px;margin-top:10px;background:url(../img/topsprites-1.2.jpg) no-repeat 0 0;}
#botBoxes div{width:310px;height:415px;position:relative;float:left;color:#1d1d1d;}
#botBoxes div h2{text-indent:-9999px;height:54px;}
#botBoxes div p{font-size:18px;color:#2078fd;padding:0px 20px;}
#botBoxes .techIssues a.button{width:203px;height:48px;display:block;position:absolute;left:25px;bottom:30px;text-indent:-9999px;background-position:-280px -2px;}
#botBoxes .techIssues a.button:hover{background-position:-280px -51px;}
#botBoxes .faqs a.button{width:220px;height:64px;display:block;position:absolute;left:8px;bottom:11px;text-indent:-9999px;background:url(../img/btns.png) no-repeat 0px -2px;_background:url(../img/btns.gif) no-repeat 0px -2px;}
#botBoxes .faqs a.button:hover{background-position:-346px -2px;}

#botBoxes .faqTxt dl dt{font-size:18px;font-weight:bold;}
#botBoxes .faqTxt dl{padding:0px 0px 15px 25px;}
#botBoxes .faqs dl.faqTxt{position:absolute;top:60px;}
#botBoxes .faqs dl.faqTxt dd ul li{list-style-type:none;background:transparent url(../../global/img/icon_ulBullet.png) no-repeat scroll left 7px;font-size:18px;padding:3px 15px 15px 15px;}
#botBoxes .faqs a.link{position:absolute;top:235px;left:14px;font-weight:bold;font-size:18px;text-decoration:underline}


#botBoxes .techIssuesTxt dl dt{font-size:18px;font-weight:bold;}
#botBoxes .techIssuesTxt dl{padding:0px 0px 15px 25px;}
#botBoxes .techIssues dl.techIssuesTxt{position:absolute;top:60px;}
#botBoxes .techIssues dl.techIssuesTxt dd ul li{list-style-type:none;background:transparent url(../../global/img/icon_ulBullet.png) no-repeat scroll left 7px;font-size:18px;padding:3px 15px 15px 15px;}
#botBoxes .techIssues a.link{position:absolute;top:235px;left:42px;font-weight:bold;font-size:18px;text-decoration:underline}
#botBoxes .techIssues a.button{width:250px;height:64px;display:block;position:absolute;left:8px;bottom:11px;text-indent:-9999px;background:url(../img/btns.png) no-repeat 0px -128px;_background:url(../img/btns.gif) no-repeat 0px -128px;}
#botBoxes .techIssues a.button:hover{background-position:-346px -128px;}

#botBoxes .playersGuideTxt dl dt{font-size:18px;font-weight:bold;}
#botBoxes .playersGuideTxt dl{padding:0px 0px 15px 25px;}
#botBoxes .playersGuide dl.playersGuideTxt{position:absolute;top:60px;left:20px}
#botBoxes .playersGuide dl.playersGuideTxt dd ul li{list-style-type:none;background:transparent url(../../global/img/icon_ulBullet.png) no-repeat scroll left 7px;font-size:18px;padding:3px 15px 15px 15px;}
#botBoxes .playersGuide a.button{width:282px;height:64px;display:block;position:absolute;left:28px;bottom:14px;text-indent:-9999px;background:url(../img/btns.png) no-repeat 0px -62px;_background:url(../img/btns.gif) no-repeat 0px -62px;}
#botBoxes .playersGuide a.button:hover{background-position:-346px -62px;}
#botBoxes .playersGuide #pgImg{width:212px;height:152px;position:absolute;top:272px;left:130px;background:url(../img/flippy.png);_background:url(../img/flippy.gif)}
#botBoxes .playersGuide #pgTitle{width:146px;height:20px;position:absolute;top:272px;left:64px;background:url(../img/new-in-town.gif)}
#botBoxes .playersGuide dl.playersGuideTxt2{position:absolute;top:318px;left:51px}
#botBoxes div p.helpTxt{font-size:18px;color:#000;padding:0px 20px;font-weight:bold}
#botBoxes .playersGuide a.link{position:absolute;top:55px;left:21px;font-weight:bold;font-size:18px;text-decoration:underline}

#botBoxes .techIssues dl dt{font-size:18px;font-weight:bold;}
#botBoxes .techIssues dl{padding:0px 0px 15px 25px;}
#botBoxes .techIssues dl.availability{position:absolute;top:245px;}
#botBoxes .techIssues dl.retailers{position:absolute;top:325px;}
#botBoxes .techIssues dl.retailers ul{list-style-type:none;background-position:-10px -415px;width:274px;height:37px;}
#botBoxes .techIssues dl.retailers ul li{text-indent:-9999px;}
#botBoxes .techIssues dl.availability dd ul li{list-style-type:none;background:transparent url(../../global/img/icon_ulBullet.png) no-repeat scroll left 7px;font-size:14px;padding:3px 15px;}
/*.techIssues{left:15px;}*/
.faqs{left:26px;}
.techIssues{left: 18px;}
.playersGuide{left: 18px;}

#cancelTxt{text-align:center;padding:10px 0 0 0}
#cancelTxt p.cancelTxt1{font-size:18px;color:#fff;font-weight:bold}
#cancelTxt p.cancelTxt2{font-size:16px;color:#fff;font-weight:bold}
#cancelTxt a{color:#fff;text-decoration:underline}

#botBoxes2{position:relative;width:964px;height:346px;margin-top:20px;background:url(../img/btm-sprite.jpg) no-repeat 0 0;}
#botBoxes2 h2.basics {position:absolute;top:15px;left:0px; width: 220px; height: 25px; font-size: 22px; font-weight: bold; letter-spacing: -0.05em; color: #0085EC; background: transparent url(../img/titles.png) no-repeat scroll 11px -220px;_background: transparent url(../img/titles.gif) no-repeat scroll 11px -220px; text-indent: -9999em; border:0px solid #000 }


#botBoxes2 a.activities{width:314px;height:70px;display:block;position:absolute;top:53px;left:-1px;text-indent:-9999px;background:url(../img/btns.png) no-repeat 8px -186px;_background:url(../img/btns.gif) no-repeat 8px -186px;}
#botBoxes2 a.activities:hover{background-position:-338px -186px;}

#botBoxes2 a.neighbor{width:314px;height:70px;display:block;position:absolute;top:142px;left:-1px;text-indent:-9999px;background:url(../img/btns.png) no-repeat 8px -264px;_background:url(../img/btns.gif) no-repeat 8px -264px;}
#botBoxes2 a.neighbor:hover{background-position:-338px -264px;}

#botBoxes2 a.gags{width:314px;height:80px;display:block;position:absolute;top:218px;left:-1px;text-indent:-9999px;background:url(../img/btns.png) no-repeat 8px -400px;_background:url(../img/btns.gif) no-repeat 8px -400px;}
#botBoxes2 a.gags:hover{background-position:-338px -400px;}


#botBoxes2 a.cogBattles{width:314px;height:70px;display:block;position:absolute;top:59px;left:318px;text-indent:-9999px;background:url(../img/btns.png) no-repeat 8px -335px;_background:url(../img/btns.gif) no-repeat 8px -335px;}
#botBoxes2 a.cogBattles:hover{background-position:-338px -335px;}

#botBoxes2 a.toonTasks{width:314px;height:80px;display:block;position:absolute;top:131px;left:318px;text-indent:-9999px;background:url(../img/btns.png) no-repeat 8px -483px;_background:url(../img/btns.gif) no-repeat 8px -483px;}
#botBoxes2 a.toonTasks:hover{background-position:-338px -483px;}


#botBoxes2 a.shopping{width:314px;height:70px;display:block;position:absolute;top:233px;left:318px;text-indent:-9999px;background:url(../img/btns.png) no-repeat 6px -642px;_background:url(../img/btns.gif) no-repeat 6px -642px;}
#botBoxes2 a.shopping:hover{background-position:-335px -642px;}


#botBoxes2 a.chatting{width:314px;height:70px;display:block;position:absolute;top:62px;left:632px;text-indent:-9999px;background:url(../img/btns.png) no-repeat 8px -570px;_background:url(../img/btns.gif) no-repeat 8px -570px;}
#botBoxes2 a.chatting:hover{background-position:-338px -570px;}

#botBoxes2 a.safety{width:314px;height:70px;display:block;position:absolute;top:142px;left:632px;text-indent:-9999px;background:url(../img/btns.png) no-repeat 6px -706px;_background:url(../img/btns.gif) no-repeat 6px -706px;}
#botBoxes2 a.safety:hover{background-position:-342px -706px;}


#botBoxes2 a.account{width:314px;height:70px;display:block;position:absolute;top:233px;left:632px;text-indent:-9999px;background:url(../img/btns.png) no-repeat 6px -780px;_background:url(../img/btns.gif) no-repeat 6px -780px;}
#botBoxes2 a.account:hover{background-position:-344px -780px;}
