h1.submitBug {background: url(../../global/img/templates/txt_bugTitle.png) no-repeat scroll top left;text-indent:-9999px;margin-left:33px;width:200px;height:33px;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../../global/img/templates/txt_bugTitle.png',sizingMethod='crop');}

.boxMid960 {position:relative;padding: 0px 0px 0px 0px;}
html>body .boxMid960 {position:relative;margin: 0px 0px 0px 0px; padding: 1px 0px 0px 0px;}

.macLauncher {height: 750px;}
.pcLauncher {height: 750px;*height:785px}
.boxMid960 p {font-size:14px;line-height:18px;margin:0px 20px 20px 20px;}
.boxMid960 p.error {color: #e30202;font-weight: bold;}
.boxMid960 span.directory {color:#2078FD;}

#leftCol, #rightCol {width:470px;float: left;}
#leftCol {margin-left: 20px;_margin-left:10px;}
#leftCol p, #rightCol p {margin-top:10px;text-align:right;font-size: 12px;width:325px;_width:305px;float: right;text-align: left;}

.character{position:absolute;}

.character#reportabug {
	background: url(../../global/img/templates/img_submitBugChar.png) no-repeat scroll;
	width:238px;
	height:173px;
	bottom: -65px;
	left: -40px;
} 

label {color:#1D1D1D;float:left;font-size:18px;font-weight:bold;width:120px;clear: left;}

/* form {width:960px;} */
.macLauncher form, .pcLauncher form {_height:475px!important;*height:475px!important;}

textarea {resize:none;font-family:Arial,Helvetica,sans-serif;font-style: normal;font-size:12px;overflow: auto;}
input.smText, input.medText, textarea.bigText,input#bugSubmit,input#submitBtn,textarea.bigText,.textAreaWrapper,.inputWrapperMed,.inputWrapperSm{background: url(../img/img_submitBugSprite.png);_background: url(../img/img_submitBugSprite.png) no-repeat fixed;color:#666666;font-size:12px;}

input.smText, input.medText, textarea.bigText {border:none;}

input.smText,input.medText,.inputWrapperMed,.inputWrapperSm{height:23px;}
input.medText,textarea.bigText,.textAreaWrapper,.inputWrapperMed{width:311px;}
.inputWrapperMed{background-position:0 -51px;padding:0px 10px;margin-bottom:6px;height: 32px;}
input.smText, input.medText {background: none;}
input.smText, .inputWrapperSm{width: 210px;}
input.medText {padding-top: 8px;}
.inputWrapperSm {background-position:0 -270px;background-repeat:no-repeat;height:35px;padding-left:8px;margin-bottom: 5px;}
.inputWrapperSm div {margin-left: 20px}
.inputWrapperSm input {padding-top: 8px;}
.inputWrapperMed,.inputWrapperSm {position:relative;float:left;} 

/* begin TT change */

input.smTextIE {
	color:#666666;
	font-size:12px;
	line-height:12px;
	border:0px solid red;
	height:15px;
	background: transparent;
	width: 205px;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 0px 0px;
	position: absolute;
	top: 5px;
	left: 5px;
}
	
.inputWrapperSmIE {
	background: url(../img/img_submitBugSprite.png);_background: url(../img/img_submitBugSprite.png) no-repeat fixed;
	background-position:0 -270px;
	height:30px;
	width: 210px;
	padding-left:8px;
	margin-bottom: 5px;
	color:#666666;
	font-size:12px;
	position:absolute;
	top: 255px;
	left: 610px;
}
/* end TT change */

textarea.bigText {background: none;height:115px; width: 310px;padding:8px 0px 10px 0px; margin: 0px 0px 25px 0px; border: 0px solid black;}
.textAreaWrapper {background: url(../img/img_19.png);_background: url(../img/img_19.png) no-repeat fixed;width:311px;background-position:0 0px;height:135px;padding:8px 10px;float:left;}

input#bugSubmit {
	border:medium none;
	bottom:0;
	height:50px;
	position:absolute;
	right:205px;_right:200px;
	width:145px;
	text-indent:-99999px;
	font-size:0px;
	display:block;
	line-height:0px;
}

input#submitBtn {
	border:medium none;
	height:50px;
	position:absolute;
	bottom:0;
	right:205px;_right:200px;
	width:145px;
	text-indent:-99999px;
	font-size:0px;
	display:block;
	line-height:0px;
	cursor: pointer;
	background: transparent url(../img/btn-submit-off.png) no-repeat scroll 0 0; /*TT Change*/
}

/*Begin TT Change*/
input#submitBtn.on {
	background: transparent url(../img/btn-submit-on.png) no-repeat scroll 0 0; 
}
/*End TT Change*/

.clearAll {
	clear: both;
}
.boxKnownIssues {
	background:transparent url(../img/bg_boxMid960.png) repeat-y scroll 0 0;
	width: 930px;
	padding: 0px 0px 0px 30px;
	margin: 0px 20px 0px 0px;
	border: 0px solid red;
}
.boxKnownIssues table {
	width: 900px;
	border: 0px solid red;
}
.issues {
	margin: 0px 0px 0px 0px;
	font-size: 10pt;
	font-family: arial,sans-serif;
	font-weight: bold;
}
.issueAnswers {
	margin: 0px 0px 10px 0px;
	font-size: 10pt;
	font-family: arial,sans-serif;
	font-weight: normal;
}
.boldText {
	font-weight: bold;
	font-size:14px;
	line-height:18px;
	margin:0px 20px 20px 20px;
}
a.browseButtonIE {
	background: transparent url(../img/btn-browse-off.png) no-repeat scroll right center; /*TT Change*/
	overflow: hidden;
	width: 96px;
	height: 36px;
	position: absolute;
	/* float: left; */
	top: 250px;
	left: 830px;
	cursor: pointer; /*TT Change*/
}

.browseButtonFF {
	background: transparent url(../img/btn-browse-off.png) no-repeat scroll right center; /*TT Change*/
	overflow: hidden;
	width: 96px;
	height: 36px;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
	display: inline;
	position: relative; /* TT Change */
	float: left; /* TT Change */
	cursor: pointer; /*TT Change*/
	margin-right:-3px;
}

/*Begin TT Change*/
a.browseButtonIE:hover,
a.browseButtonFF:hover {
	background: transparent url(../img/btn-browse-on.png) no-repeat scroll right center;
}
/*End TT Change*/

.logDesc {
	padding: 0px 0px 0px 0px;
	border: 1px solid red;
}

#emailErr,#inputLogErr,#acctNameErr,#inputPhaseLogErr{color:#ff0000;font-weight:normal;font-size:8pt;padding:0px 0px 0px 0px}
#descriptionErr{color:#ff0000;font-weight:normal;font-size:8pt;padding:0px 0px 0px 0px}
#inputScrnShotErr{color:#ff0000;font-weight:normal;font-size:8pt;padding:0px 0px 10px 0px}
#userErrorString{font-size:12pt;font-weight:bold;color:#ff0000;margin:0px 20px 20px;}
#pageheadertitle{font-size:12pt;font-weight:bold;color:#000000;margin:0px 0px 20px 20px;}
