html { height: 100%; min-height: 100%; }
.boxMid960 { position: relative; }

h1.toonArt{ background: url(../img/txt_fanArtTitle.png) no-repeat scroll; text-indent: -9999px; width: 120px; }

.innerBoxTop { background: url(../img/bg_fanArtBoxSprite.png) no-repeat scroll 0 0; height:15px; width:766px; margin: 0 auto; }
.innerBoxMid { background:url(../img/bg_fanArtBotMid.png) repeat-y scroll 0 0; width:766px; margin: 0 auto; }
.innerBoxBot { background: url(../img/bg_fanArtBoxSprite.png) no-repeat scroll 0 -16px; height:15px; width:766px; margin: 0 auto; }

.lightbox { list-style: none; height:100%}

.navLeft,.navRight {
	background:transparent url(../img/btn_fanArtNav.png) no-repeat scroll 0 0;
	height:79px;
	position:absolute;
	top:175px;
	width:53px;
}

a.submit {
	background:transparent url(../img/btn_fanArtSubmit.png) no-repeat scroll 0 0;
	display:block;
	height:32px;
	margin:10px auto 0;
	width:152px;
}

.navLeft { left:19px; }
.navRight { right:19px; background-position: -52px 0; }

.character{ position: absolute; }
.character#bunny { background: url(../img/img_fanArtCharRabbit.png) no-repeat scroll; width: 143px; height: 271px; bottom:-92px; left:-17px; }
.character#duck { background: url(../img/dancing-duck.png) no-repeat scroll; width: 162px; height: 248px; right:-20px; bottom:-85px; }
.character#mouse { background: url(../img/img_fanArtCharMouse.png) no-repeat scroll; width: 71px; height: 74px; top:-75px; right:65px; }

.arrowBack {background-position: 0px 0px;}
.arrowNext {background-position: right -31px;}

.resultsCount {font-weight:bold;font-size:18px;color:#1d1d1d;float:left;padding-left:40px;}

div.arrowNext, div.arrowBack{height:22px;width:35px;margin-top:5px;}
div.arrowNext{float:right;text-align:right;}
div.arrowBack{float:left;}

div.paginationContainer {float:right;width:290px;position:relative;margin-right:40px}
div.arrowNext, div.arrowBack{height:22px;width:35px}
div.paginationContainer div.arrowBack{position:absolute;top:-4px;left:0}
div.paginationContainer div.arrowNext{position:absolute;top:-4px;left:235px}
div.paginationContainer #paginationLnks{width:180px;position:absolute;top:-5px;left:52px;text-align:center}

#toonArt #xtgPaginate ul {margin:0}
#toonArt #xtgPaginate p { margin: 0 0 24px;}
#paginationLnks span {font-size:12px;color:#2078fd;position: relative;top:5px;padding:8px 9px;}
#xtgPaginate div.pagination .selected {background:url(../../global/img/pagination.png) no-repeat 0 0;}
#paginationTop{display:none}
#prevTop, #nextTop, #prevBtm, #nextBtm {font-size:12px}

#toonArt #xtgPaginate ul, #toonArt #xtgPaginate ul {margin:0}
#paginationLnks span {font-size:12px;color:#2078fd;position: relative;top:5px;padding:8px 9px;}
#xtgPaginate div.pagination .selected, #xtgPaginate div.pagination .selected {background:url(../../global/img/pagination.png) no-repeat 0 0;}
#pagination{display:none}
#prev, #next, #prev, #next {font-size:12px}
#paginationTop,#paginationBtm{display:none;}
#prevTop,#nextTop{}
.hrSolid{margin-left:19px;margin-right:19px}

#xtgDiv{margin:0 auto;padding:0 0 30px 0;width:573px;height:321px;position:relative}
#xtgDiv .xtgImgDiv{position:absolute;top:0;left:0;width:573px;height:321px}
#xtgDiv .xtgLoader{position:absolute;top:152px;left:0;width:573px;height:321px;text-align:center}

#IE8 #xtgDiv, #IE8 #xtgDiv .xtgImgDiv, #IE8 #xtgDiv .xtgLoader{height:321px}
#IE7 #xtgDiv, #IE7 #xtgDiv .xtgImgDiv, #IE7 #xtgDiv .xtgLoader{height:314px}
#IE6 #xtgDiv, #IE6 #xtgDiv .xtgImgDiv, #IE6 #xtgDiv .xtgLoader{height:314px}

#xtgThumbs{padding:0 0 0 33px;height:100%;display:none}
#xtgThumbs a { border:2px solid #D3DCE5; float: left; width: 125px; height: 90px; display: block; background: white; margin: 0px 6px 7px}
#xtgThumbs a:hover { border:2px solid #2078fd;}
#xtgOffset{height:1px}
#xtgPaginate{display:none}

body#fanArt { margin: 0; padding: 0; min-height: 100%; height: 100%;}
body#fanArt #overlay { display:none;position: fixed; z-index: 7777; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7;}
body#fanArt #overlayDiv { display:none;position: absolute; z-index: 9999; top: 220px; font-size: 14px; left: 50%; width: 0px; height: 468px; margin-left: -287px;background-color:#fff; border:2px solid #000 }

#xtgBox{margin:0 auto;width:597px;height:468px;position:relative;}
#xtgBox #xtgTitle{position:absolute;top:3px;left:0;width:597px;height:18px;font-weight:bold;font-size:18px;color:#2078fd;margin:0 auto;text-align:center}
#xtgBox #xtgSrc{position:absolute;top:29px;left:12px;width:573px;height:404px}
#xtgBox #xtgClose{position:absolute;top:0;right:5px;width:26px;height:28px}
#xtgBox #xtgTotal{position:absolute;top:6px;left:10px}
#xtgBox #xtgPrev{position:absolute;top:29px;left:10px;width:286px;height:404px;zoom: 1;}
#xtgBox #xtgNext{position:absolute;top:29px;right:10px;width:287px;height:404px;zoom: 1;}
#xtgBox #xtgLoading{position:absolute;top:204px;left:282px;width:32px;height:32px}
#xtgImg{display:none}
#xtgBox #xtgDesc{position:absolute;top:442px;left:0;width:597px;text-align:center}

#xtgErr{margin:0 auto;width:597px;height:506px;position:relative;display:none}
#xtgErr #xtgErrTitle{position:absolute;top:3px;left:0;width:597px;height:18px;font-weight:bold;font-size:18px;color:#2078fd;text-align:center}
#xtgErr #xtgErrSrc{position:absolute;top:29px;left:12px;width:573px;height:404px}
#xtgErr #xtgErrMsg{position:absolute;top:442px;left:0;width:597px;text-align:center}
