.boxMid960 { position: relative; }

h1.toonArt{ background: url(../img/txt_fanArtTitle.png) no-repeat scroll; text-indent: -9999px; width: 120px; }

.innerBoxTop { background: url(../img/bg_fanArtBoxSprite.png) no-repeat scroll 0 0; height:15px; width:766px; margin: 0 auto; }
.innerBoxMid { background:url(../img/bg_fanArtBotMid.png) repeat-y scroll 0 0; width:766px; margin: 0 auto; }
.innerBoxBot { background: url(../img/bg_fanArtBoxSprite.png) no-repeat scroll 0 -16px; height:15px; width:766px; margin: 0 auto; }

.lightbox { list-style: none; height: 300px; margin-left:40px; }
.lightbox a { border:2px solid #D3DCE5; float: left; width: 124px; height: 90px; display: block; background: white; margin: 0px 6px 7px; }

/* .navLeft,.navRight{ background: url(../img/btn_fanArtNav.png) no-repeat scroll 0 0; position: absolute; top:400px; width: 53px; height: 79px; } */

.navLeft,.navRight {
	background:transparent url(../img/btn_fanArtNav.png) no-repeat scroll 0 0;
	height:79px;
	position:absolute;
	top:175px;
	width:53px;
}

a.submit {
	background:transparent url(../img/btn_fanArtSubmit.png) no-repeat scroll 0 0;
	display:block;
	height:32px;
	margin:10px auto 0;
	width:152px;
}

.navLeft { left:19px; }
.navRight { right:19px; background-position: -52px 0; }

.character{ position: absolute; }

/*
.character#bunny { background: url(../img/img_fanArtCharRabbit.png) no-repeat scroll; width: 143px; height: 271px; bottom:-92px; left:-82px; }
.character#duck { background: url(../img/img_fanArtCharDuck.png) no-repeat scroll; width: 162px; height: 248px; right:-45px; bottom:-85px; }
*/

/*Begin TT change*/
.character#bunny { background: url(../img/img_fanArtCharRabbit.png) no-repeat scroll; width: 143px; height: 271px; bottom:-92px; left:-17px; }
.character#duck { background: url(../img/img_fanArtCharDuck.png) no-repeat scroll; width: 162px; height: 248px; right:-20px; bottom:-85px; }
/*End TT change*/

.character#mouse { background: url(../img/img_fanArtCharMouse.png) no-repeat scroll; width: 71px; height: 74px; top:-75px; right:65px; }

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{ padding: 0; margin: 0; }

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#TB_window a:link { color: #2078FD; }
#TB_window a:visited { color: #2078FD; }
#TB_window a:hover { color: #000; }
#TB_window a:active { color: #2078FD; }
#TB_window a:focus{ color: #2078FD; }

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack { background: url(../img/macFFBgHack.png) repeat; }
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 2px solid #2078fd;
	text-align:left;
	top:50%;
	left:50%;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}

#TB_title{
	background-color:#e8e8e8;
	height:27px;
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}

/* Fan Art Submission */
.fan-art-submission h1.fan-art-title{ width:100%; background:url(../../global/img/txt_FanArtSubmission.png) no-repeat scroll 0; margin:0px 0px 10px 5px; text-indent:-9999px; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/txt_FanArtSubmission.png'); } /*TT Change*/

.fan-art-submission .boxMid960{ padding:20px; width:920px; overflow:hidden; }
.fan-art-submission .boxMid960 p { }
.fan-art-submission .boxMid960 ul { list-style:none; font-weight:bold; margin:20px; }
.fan-art-submission .boxMid960 ul li { margin-bottom:10px; }

.fan-art-submission img#ttGenericImg{ margin:-190px 0px 0px 485px; }
.fan-art-submission .fan-art-image { width:429px; height:361px; background:url(../img/monkey-mailbox.png) no-repeat; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/fan-art/img/monkey-mailbox.png', sizingMethod='scale'); }

.fan-art-submission .ttMsg1{ height:100px}
.fan-art-submission .ttMsg2{ height:200px}

.fan-art-submission .ttGen{ width:900px; text-align:justify; padding-top:12px; padding-bottom:12px}

/*Begin Wide*/
.fan-art-submission .ttGenWideImgHdr{ text-align:center}
.fan-art-submission .ttGenWideImgBdy{ text-align:center}
.fan-art-submission .ttGenWideTxt{ text-align:justify}
/* End Wide */

/*Begin 2left*/
.fan-art-submission .ttGen2LImgBdy{ float:left}
.fan-art-submission .ttGen2LImgHdr{ }
.fan-art-submission .ttGen2LTxt{ text-align:left}
/*End 2left*/

/*Begin 2right*/
.fan-art-submission .ttGen2RImgBdy{ float:right; padding:0}
.fan-art-submission .ttGen2RImgHdr{ }
.fan-art-submission .ttGen2RTxt{ text-align:left; padding:120px 0}
/* End 2right */

/*Begin 2right - no padding*/
.fan-art-submission .ttGen2RTxt2{ text-align:left; padding:0}
/* End 2right  - no padding*/
.fan-art-submission .ttGenPad{ height:50px}

.fan-art-submission #leftCol  { width:470px; float: left; padding: 10px 0 0; }
.fan-art-submission .disclaimer { font-size: 12px; line-height: 16px; clear: both; width: 400px; padding: 20px 0 50px 15px; }
.fan-art-submission label { color: #1D1D1D; float: left; font-size: 18px; font-weight: bold; width: 120px; clear: left; }
.fan-art-submission textarea { resize: none; font-family: Arial,Helvetica,sans-serif; font-style: normal; font-size: 12px; overflow: auto; }
.fan-art-submission input.smText, input.medText, textarea.bigText,textarea.bigText,.textAreaWrapper,.inputWrapperMed,.inputWrapperSm{ background: url(../../global/img/form.png); _background: url(../../global/img/form.png) no-repeat fixed; color: #515151; font-size: 12px; border: none; }
.fan-art-submission input.smText,input.medText,.inputWrapperMed,.inputWrapperSm{ height: 23px; }
.fan-art-submission input.medText,textarea.bigText,.textAreaWrapper,.inputWrapperMed{ width: 311px; }
.fan-art-submission .inputWrapperMed{ background-position: 0 -51px; padding: 0px 10px; margin-bottom: 6px; height: 32px; }
.fan-art-submission input.smText, input.medText { background: none; }
.fan-art-submission input.smText, .inputWrapperSm{ width: 210px; }
.fan-art-submission input.medText { padding-top: 8px; }
.inputWrapperSm { background-position: 0 -270px; background-repeat: no-repeat; height: 30px; padding-left: 8px; margin-bottom: 5px; }
.inputWrapperSm div { margin-left: 20px}
.inputWrapperSm input { padding-top: 8px; }
.inputWrapperMed,.inputWrapperSm { float: left; }
.fan-art-submission textarea.bigText { height: 135px; background: none; }
.fan-art-submission .textAreaWrapper { background-position: 0 -84px; height: 135px; padding: 8px 10px; float: left; }
.fan-art-submission input#bugSubmit { border: medium none; bottom: 24px; height: 50px; position: absolute; right: 205px; _right: 200px; width: 145px; text-indent: -99999px; font-size: 0px; display: block; line-height: 0px; }
.fan-art-submission .note { font-size: 14px; font-weight: bold; line-height: 18px; clear: both; margin: 0 0 15px; }
.fan-art-submission label.ttLabel1  { width: 400px; clear: both; }
/*.fan-art-submission .ttError { display: block; clear: both; }*/