h1.migration{_width: 201px; background:url(../img/Title_AccountUpdate.png) no-repeat scroll;margin:0px 0px 10px 5px;text-indent:-9999px;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/migration/img/Title_AccountUpdate.png', sizingMethod='crop');}
h1.cancelAcct{_width: 201px; background:url(../../global/img/titles/cancel-account.png) no-repeat scroll;margin:0px 0px 10px 5px;text-indent:-9999px;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/titles/cancel-account.png', sizingMethod='crop');}
h2 {color:#2078FD;}

.boxMid960{padding:20px;width:920px;overflow:hidden;}
.boxMid960 p {}
.boxMid960 ul {list-style:none;font-weight:bold;margin:20px;}
.boxMid960 ul li {margin-bottom:10px;}

img#migrationDog{margin:-190px 0px 0px 485px;}

.ttMsg1{height:100px}
.ttMsg2{height:200px}

.news{width:900px;text-align:justify;padding-top:12px;padding-bottom:12px}

/*Begin Wide*/
.newsWideImgHdr{text-align:center}
.newsWideImgBdy{text-align:center}
.newsWideTxt{text-align:justify}
/* End Wide */

/*Begin 2left*/
.news2LImgBdy{float:left}
.news2LImgHdr{}
.news2LTxt{text-align:left}
/*End 2left*/

/*Begin 2right*/
.news2RImgBdy{float:right;padding:0 0 10px 10px}
.news2RImgHdr{}
.news2RTxt{text-align:left;padding:0px;font-size:16px;}
/* End 2right */

/*Begin 2right - no padding*/
.news2RTxt2{text-align:left;padding:0}
/* End 2right  - no padding*/

.migPad{height:50px}

#famBox {
width: 450px;
position: relative;
float: left;
}

.famSM {
 font-size: 10px;
}

#famBox .updateAccount a.button{
background:url(../img/btn_UpdateAccount_D.png) no-repeat scroll 0px 0px;
width: 121px;
height:32px;
position: relative;
float: left;
text-indent:-9999px;
}

#famBox .updateAccount a.button:hover{
background:url(../img/btn_UpdateAccount_R.png) no-repeat scroll 0px 0px;
}

#famBox .updateLater a.button{
background:url(../img/btn_UpdateLater_D.png) no-repeat scroll 0px 0px;
width: 121px;
height:32px;
position: relative;
float: float;
text-indent:-9999px;
}

#famBox .updateLater a.button:hover{
background:url(../img/btn_UpdateLater_R.png) no-repeat scroll 0px 0px;
}

#famBox .updateLaterNewParent a.button{
background:url(../img/btn_UpdateLater_D.png) no-repeat scroll 0px 0px;
width: 121px;
height:32px;
position: relative;
float: left;
clear: left;
margin: 0px 0px 0px 145px;
text-indent:-9999px;
}

#famBox .updateLaterNewParent a.button:hover{
background:url(../img/btn_UpdateLater_R.png) no-repeat scroll 0px 0px;
}

.lostParentPassword {
width: 400px;
clear: left;
position: relative;
float: left;
margin: 0px 0px 0px 0px;
}

#famBox .accntMgr a.button{
background: url(../../global/img/btns/account-set1.png) no-repeat scroll 0px 0px;
width: 147px;
height: 36px;
position: relative;
float: left;
text-indent: -9999px;
margin: 0 8px 0 0;
}

#famBox .accntMgr a.button:hover{
background: url(../../global/img/btns/account-set1.png) no-repeat scroll -146px 0px;
}

#famBox .prchse a.button{
background:url(../../global/img/btns/account-set1.png) no-repeat scroll 0px -36px;
width: 129px;
height: 36px;
position: relative;
float: left;
text-indent: -9999px;
margin: 0 8px 0 0;
}

#famBox .prchse a.button:hover{
background: url(../../global/img/btns/account-set1.png) no-repeat scroll -146px -36px;
}

#famBox .playNow a.button{
background:url(../img/btn_PlayNow_D.png) no-repeat scroll 0px 0px;
width: 121px;
height:32px;
position: relative;
float: left; /*TT Change*/
text-indent:-9999px;
margin: 0 8px 0 0;
}

#famBox .playNow a.button:hover{
background:url(../img/btn_PlayNow_R.png) no-repeat scroll 0px 0px;
}

#famBox .toonHQ a.button{
background:url(../img/btn_ToonHQ_D.png) no-repeat scroll 0px 0px;
width: 121px;
height:32px;
position: relative;
float: left; /*TT Change*/
text-indent:-9999px;
}

#famBox .toonHQ a.button:hover{
background:url(../img/btn_ToonHQ_R.png) no-repeat scroll 0px 0px;
}

#famBox .famContinue a.button{
background:url(../img/btn_Continue_D.png) no-repeat scroll 0px 0px;
width: 121px;
height:32px;
position: relative;
float: left;
margin: 0px 0px 0px 120px;
text-indent:-9999px;
}

#famBox .famContinue.left  a.button { 
margin: 0px; 
}

#famBox .famContinue a.button:hover{
background:url(../img/btn_Continue_R.png) no-repeat scroll 0px 0px;
}

#famBox p a:hover {
text-decoration:none;
}

label {
	color:#1D1D1D;
	float:left;
	font-size:18px;
	font-weight:bold;
	padding-top:19px;
	width:95px;
	text-align: right;
	margin-right: 10px;
}

label.parentNew {
	color:#1D1D1D;
	float:left;
	font-size:18px;
	font-weight:bold;
	padding-top:19px;
	width:175px;
	text-align: right;
	margin-right: 10px;
}

label.cancelAcct {
	color:#1D1D1D;
	float:left;
	font-size:18px;
	font-weight:bold;
	padding-top:19px;
	width:180px;
	text-align: right;
	margin-right: 10px;
}
#famBox form {
	width: 450px;
	float: left;
	margin: 20px 0px 0px 20px;
}

form#playNow {
	width: 150px;
	height: 50px;
	overflow: visible;
	/*
	position: absolute;
	top: 0px;
	left: 0px;
	*/
}

form#updateNow {
	width: 400px;
	height: 50px;
	overflow: visible;
	/*
	position: absolute;
	top: 0px;
	left: 0px;
	*/
}

form#toonHQ {
	width: 150px;
	height: 50px;
	overflow: visible;
	/*
	position: absolute;
	top: 0px;
	left: 150px;
	*/
}

.textWrapper{
	position: relative;
	float: left;
	display: inline;
	width: 212px;
	height: 31px;
	background:url(../../bugsubmit/img/img_15.png) no-repeat scroll 0 0;
}

textarea, input.bigText, input.password {background:transparent;position:relative; float left;width: 190px; height:12px;border: 0px solid red;color:#666666;font-size:12px;}
input.bigText, input.password{margin: 6px 0px 0px 10px;padding:0px 0px 0px 0px;height:20px;}
textarea {resize:none;font-family:Arial,Helvetica,sans-serif;font-style: normal;font-size:12px;overflow: auto;}
textarea.bigText {background-position:0 -32px;height:115px;padding:8px 10px 8px 10px; margin: 0px 0px 57px 0px;}

input#Submit {
	background:transparent url(../img/btn_Submit_D.png) no-repeat scroll 0 0;
	border:medium none;
	display:inline;
	font-size:0;
	width:121px;
	height:32px;
	margin: 20px 0px 0px 0px;
	line-height:50;
	position:relative;
	text-indent:-99999px;
	float:left;
	clear: left;
}

input#Submit:hover {background:transparent url(../img/btn_Submit_R.png) no-repeat scroll 0 0;}

input#SubmitNewParent {
	background:transparent url(../img/btn_Submit_D.png) no-repeat scroll 0 0;
	border:medium none;
	display:inline;
	font-size:0;
	width:121px;
	height:32px;
	margin: 20px 0px 0px 125px;
	line-height:50;
	position:relative;
	text-indent:-99999px;
	float:left;
	clear: left;
}

input#SubmitNewParent:hover {background:transparent url(../img/btn_Submit_R.png) no-repeat scroll 0 0;}

#famButtonBox {
width: 450px;
height: 50px;
display: block;
position: relative;
float: left;
overflow: visible;
}

input#playNowButton {
	background:transparent url(../img/btn_PlayNow_D.png) no-repeat scroll 0 0;
	border:medium none;
	display:inline;
	font-size:0;
	width:121px;
	height:32px;
	margin: 0px 0px 0px 0px;
	line-height:50;
	position:relative;
	float:left;
	text-indent:-99999px;
}

input#playNowButton:hover {background:transparent url(../img/btn_PlayNow_R.png) no-repeat scroll 0 0;}

input#toonHQButton {
	background:transparent url(../img/btn_ToonHQ_D.png) no-repeat scroll 0 0;
	border:medium none;
	display:inline;
	font-size:0;
	width:121px;
	height:32px;
	margin: 0px 0px 0px 0px;
	line-height:50;
	position:relative;
	float: left;
	text-indent:-99999px;
}

input#toonHQButton:hover {background:transparent url(../img/btn_ToonHQ_R.png) no-repeat scroll 0 0;}

input.updateAccount {
	background:transparent url(../img/btn_UpdateAccount_D.png) no-repeat scroll 0 0;
	border:medium none;
	display:inline;
	font-size:0;
	width:121px;
	height:32px;
	margin: 0px 0px 0px 0px;
	line-height:50;
	position:relative;
	/*float: right;*/ /*TT Change*/
	float: left; /*TT Change*/
	text-indent:-99999px;
}

input.updateAccount:hover {background:transparent url(../img/btn_UpdateAccount_R.png) no-repeat scroll 0 0;}

input.updateLater {
	background:transparent url(../img/btn_UpdateLater_D.png) no-repeat scroll 0 0;
	border:medium none;
	display:inline;
	font-size:0;
	width:121px;
	height:32px;
	margin: 0px 0px 0px 0px;
	line-height:50;
	position:relative;
	float: left; /*TT Change*/
	text-indent:-99999px;
}

input.updateLater:hover {background:transparent url(../img/btn_UpdateLater_R.png) no-repeat scroll 0 0;}
span.warning {
	color:#E94100;
	display:block;
	font-size:10px;
	font-weight:bold;
	margin:0 0 0 135px;
}

/* Regular Migration */
#migration .urgent { color: red; text-decoration: underline; }
#migration li h4 { font-weight: bold; color: #2078FD; margin: 0; padding: 0; }
#migration li { font-weight: normal; }
#migration li a { font-weight: bold; }
#migration input#Submit { float: none; display: block; }

/*cancelStart*/
#cancelStartBtns{width:400px;height:136px;position:relative;clear:both}
#cancelStartBtns #exit{position:absolute;top:50px;left:30px;width:110px;height:36px;}
#cancelStartBtns #submit{position:absolute;top:53px;left:340px;width:110px;height:36px;}

/*cancelConfirm*/
#cancelConfirmBtns{width:400px;height:136px;position:relative;clear:both}
#cancelConfirmBtns #submit{position:absolute;top:53px;left:30px;width:156px;height:36px;}
#cancelConfirmBtns #exit{position:absolute;top:50px;left:340px;width:110px;height:36px;}

/* Buttons */
.sprite { background: transparent url(../../global/img/btns/cancel.png) no-repeat scroll 0 0; _background-image: url(../../global/img/btns/cancel.gif); border: none; outline: none; cursor: pointer; text-indent: -9999em; }
input.sprite, img.sprite { display: block; text-transform: capitalize; } /* Necessary for IE7/IE6 */
a.sprite { display: block; text-indent: -9999em; }
.sprite.btnExit { width: 110px; height: 36px; background-position: 0 0;}
.sprite.btnExit:hover { background-position: -160px -0px; }
.sprite.btnContinue { width: 110px; height: 36px; background-position: -0px -43px; }
.sprite.btnContinue:hover { background-position: -160px -43px; }
.sprite.btnCancel { width: 156px; height: 36px; background-position: -0px -84px; }
.sprite.btnCancel:hover { background-position: -160px -84px; }

.ttError{font-size:12px}


#IE6 #migration .ttField { position: relative; }

