h1.parentsLanding { background:url(../img/txt_parents.png) no-repeat scroll top left; text-indent:-9999px; margin-left:5px; float:left; width:176px; height:26px; line-height:26px; padding-bottom:5px; }
div#mainContent { position:relative; }
/*ul.pgUlNav li a { background-image:url(../img/btn_parentsLanding.png); display:block; width:301px; height:62px; text-indent:-9999px; background-repeat:no-repeat; }*/
ul.pgUlNav li a { background-image:url(../img/btn-sprite.png);_background-image:url(../img/btn-sprite.gif); display:block; width:301px; height:62px; text-indent:-9999px;background-repeat:no-repeat; }/*TT change*/

/*
.boxMid960 { padding:10px 25px; width:910px; height:415px; }
.boxTop960 { clear:both; }
*/

/*Begin TT change*/
.boxTop960{clear: both;background:url() no-repeat scroll 0 0;height:0;width:960px;}
.boxMid960{ padding:10px 25px; height:423px; background:url(../img/bg-toon-clouds.jpg) no-repeat scroll 0 0;}
.boxBot960{height:0px;background:url()}
/*End TT change*/


h1,h2 { position:relative; width:575px; float:right; z-index:6; }
/*
h1 { margin:10px 0;font-size: 28px; }
h2 { font-size: 18px; }
*/
ul.pgUlNav { float: left;width: 301px;overflow: hidden; }
/*ul.pgUlNav li { list-style-type:none; height:61px; padding:0; margin-bottom:10px; }*/
ul.pgUlNav li { list-style-type:none; height:61px; padding:0; margin-bottom:5px; }/*TT change*/
ul.pgUlNav li a.navMembership { background-position:0 0; }
ul.pgUlNav li a.navMembership:hover { background-position:0 -383px; }
ul.pgUlNav li a.navSafety { background-position:0 -65px; }
ul.pgUlNav li a.navSafety:hover { background-position:0 -448px; }
ul.pgUlNav li a.navFeatures { background-position:0 -127px; }
ul.pgUlNav li a.navFeatures:hover { background-position:0 -510px; }
ul.pgUlNav li a.navManage { background-position:0 -189px; }
ul.pgUlNav li a.navManage:hover { background-position:0 -572px; }
ul.pgUlNav li a.navFaqs { background-position:0 -255px; }
ul.pgUlNav li a.navFaqs:hover { background-position:0 -638px; }
ul.pgUlNav li a.navRecognition { background-position:0 -318px; }
ul.pgUlNav li a.navRecognition:hover { background-position:0 -701px; }
.charMainContent { background:url(../img/bg_charParents.jpg) no-repeat scroll top left; width:489px; height:375px; position:absolute; bottom:19px; right:8px; z-index:1; }
form#searchForm { float:right; background:url(../../playersguide/img/bg_playersGuideSearch.png) no-repeat scroll center left; width:295px; height:30px; position:relative; z-index:2; margin:0 0 7px; }
form.searchForm .inputText { width:157px; height:20px; border:none; background-color:transparent; padding:10px 10px 0; }
form.searchForm .btnSubmit { cursor:pointer; background:url(../../global/img/btn_findIt.gif) no-repeat scroll 0 0; width:99px; height:31px; text-align:-9999px; border:none; margin-left:7px; }
form.searchForm .btnSubmit:hover { background-position:0 -32px; bodyform#searchformmargin:0 0 7px 0; }