body {
  background-color:#0d133d;
  background-image:url(../img/lightyearBG.jpg);
  background-position:center top;
  background-repeat:no-repeat;
  margin:0;
}

.panel {
  max-width: 100%;
  padding: 25px 25px 25px 25px;
  background-color: #2b7ed0;
  border: 4px solid #316599;
}

div.g-recaptcha {
  margin: 0 auto;
  width: fit-content;
}