h1.countryTitle{width:100%;background:url(../img/titles/welcome.png) no-repeat scroll;margin:0px 0px 10px 5px;text-indent:-9999px;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/titles/welcome.png');}

.boxMid960{padding:20px;width:920px;overflow:hidden;}
.boxMid960 p {font-size:16px;}

#country{width:920px;height:300px;position:relative}

#country h2.NorthAmerica{position:absolute;top:30px;left:158px;width:136px;height:25px;text-align:center}
#country div.USFlag{position:absolute;top:80px;left:185px;width:83px;height:45px;text-indent:-9999px;background:url(../img/flags.gif) no-repeat -10px -10px;text-align:center}
#country div.USTitle{position:absolute;top:130px;left:158px;width:136px;height:12px;text-align:center}
#country div.CanadaFlag{position:absolute;top:165px;left:185px;width:83px;height:45px;text-indent:-9999px;background:url(../img/flags.gif) no-repeat -10px -65px}
#country div.CanadaTitle{position:absolute;top:215px;left:158px;width:136px;height:12px;text-align:center}

#country h2.SouthAmerica{position:absolute;top:30px;left:314px;width:136px;height:25px;text-align:center}
#country div.BrazilFlag{position:absolute;top:80px;left:341px;width:83px;height:45px;text-indent:-9999px;background:url(../img/flags.gif) no-repeat -10px -122px}
#country div.BrazilTitle{position:absolute;top:130px;left:314px;width:136px;height:12px;text-align:center}

#country h2.Europe{position:absolute;top:30px;left:470px;width:136px;height:25px;text-align:center}
#country div.UKFlag{position:absolute;top:80px;left:497px;width:83px;height:45px;text-indent:-9999px;background:url(../img/flags.gif) no-repeat -10px -180px}
#country div.UKTitle{position:absolute;top:130px;left:470px;width:136px;height:12px;text-align:center}

#country h2.Asia{position:absolute;top:30px;left:626px;width:136px;height:25px;text-align:center}
#country div.JapanFlag{position:absolute;top:80px;left:653px;width:83px;height:45px;text-indent:-9999px;background:url(../img/flags.gif) no-repeat -10px -352px}
#country div.JapanTitle{position:absolute;top:130px;left:626px;width:136px;height:12px;text-align:center}

