h1.error{width:100%;background:url(../img/error/txt_errorTitle.png) no-repeat scroll;margin:0px 0px 10px 5px;text-indent:-9999px;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/error/txt_errorTitle.png');}

h1.thanksTitle{width:100%;background:url(../img/titles/thanks.png) no-repeat scroll;margin:0px 0px 10px 5px;text-indent:-9999px;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/titles/thanks.png');}

.boxMid960{padding:20px;width:920px;overflow:hidden;}
.boxMid960 p {width: 480px;font-size:18px;line-height:24px;position:relative;float:left;display:block;}
.boxMid960 ul {list-style:none;font-size:18px;font-weight:bold;margin:20px;position:relative;float:left;clear:left;}
.boxMid960 ul li {margin-bottom:10px;}

#errorDog{position:relative;float:right;margin:-100px 0px 0px 0px;}

/*Begin TT change*/
h1.pageNotFoundTitle{width:100%;background:url(../img/title_PageNotFound.png) no-repeat scroll;margin:0px 0px 10px 5px;text-indent:-9999px;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/title_PageNotFound.png');}
/*End TT change*/

