h1.eulaTitle{width:100%;background:url(../img/title_eula.png) no-repeat scroll;margin:0px 0px 10px 5px;text-indent:-9999px;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/title_eula.png');}

.boxMid960{padding:20px;width:920px;overflow:hidden;}
.boxMid960 p {width: 900px;font-size:18px;line-height:25px;position:relative;float:left;display:block;}

.boxMid960 ul {list-style:none;font-size:18px;font-weight:bold;margin:0 20px 0 20px;position:relative;float:left;clear:left;}
.boxMid960 ul li {margin-bottom:10px;}
.boxMid960 ul li a{text-decoration:underline}

/*
.boxMid960 ul {list-style:none;font-size:18px;font-weight:bold;}
.boxMid960 ul li {margin-bottom:10px;}
*/
img#errorDog{position:relative;float:right;margin:-100px 0px 0px 0px;}


#eulaLinks {
  width:900px;
  height:auto;
  position:relative;
}

#eulaLinks #eulaLink1 {
  position:absolute; top:0;left:0px;
}

#eulaLinks #eulaLink2 {
  position:absolute; top:0;left:500px;
}
