h1.ttGenTitle{width:100%;background:url(../img/release_notes.png) no-repeat scroll 0;margin:0px 0px 10px 5px;text-indent:-9999px;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/release_notes.png');}

h1.ttRelNotesTitle{width:100%;background:url(../img/release_notes.png) no-repeat scroll 0;margin:0px 0px 10px 5px;text-indent:-9999px;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/release_notes.png');}

.boxMid960{padding:20px;width:920px;overflow:hidden;}
.boxMid960 p {}
.boxMid960 ul {list-style:none;font-weight:bold;margin:20px;}
.boxMid960 ul li {margin-bottom:10px;}

img#ttGenericImg{margin:-190px 0px 0px 485px;}
.ttGenImg{width:429px;height:283px;background:url(../img/ttFlippy.png) no-repeat;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/ttFlippy.png', sizingMethod='scale');}

.ttMsg1{height:100px}
.ttMsg2{height:200px}

.ttGen{width:900px;text-align:justify;padding-top:12px;padding-bottom:12px}

/*Fan Art Thanks*/
.fan-art-thanks h1{width:100%;background:url(../img/txt_FanArtSubmission.png) no-repeat scroll 0;margin:0px 0px 10px 5px;text-indent:-9999px;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/txt_FanArtSubmission.png');} /*TT Change*/
.fan-art-thanks .ttGen{font-size:16px; line-height:24px;}
.fan-art-thanks .ttGenImg{width:388px;height:322px;background:url(../img/fan-art-submission.png) no-repeat;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/fan-art-submission.png', sizingMethod='scale');}

/*Begin Wide*/
.ttGenWideImgHdr{text-align:center}
.ttGenWideImgBdy{text-align:center}
.ttGenWideTxt{text-align:justify}
/* End Wide */

/*Begin 2left*/
.ttGen2LImgBdy{float:left}
.ttGen2LImgHdr{}
.ttGen2LTxt{text-align:left}
/*End 2left*/

/*Begin 2right*/
.ttGen2RImgBdy{float:right;padding:0 0 10px 10px}
.ttGen2RImgHdr{}
.ttGen2RTxt{text-align:left;padding:120px 0}
/* End 2right */

/*Begin 2right - no padding*/
.ttGen2RTxt2{text-align:left;padding:0}
/* End 2right  - no padding*/
.ttGenPad{height:50px}

/* Page - Get Connected */
.get-connected .boxMid960 { position: relative; }
.get-connected h2 { width: 541px; height: 71px; margin: 0 auto; text-indent: -9999em; background: transparent url(../img/titles/get-connected.jpg) no-repeat 0 0; }
.get-connected .shirt { width: 125px; height: 100px; position: absolute; top: 0; left: 20px; background: transparent url(../img/t-shirt.jpg) no-repeat 0 0; }
.get-connected .print { position: absolute; top: 0; right: 20px; }
.get-connected .flippy { width: 222px; height: 140px; position: absolute; bottom: 0; right: 40px; z-index: 5; background: transparent url(../img/flippy.jpg) no-repeat 0 0; }
.get-connected  a.btn-play { width: 177px; height: 52px; display: block; background: transparent url(../img/btns/play-now.jpg) no-repeat 0 0; text-indent: -9999em; margin: 0 auto; }
.get-connected dl { width: 800px; margin: 20px auto 0; position: relative; z-index: 100; }
  .get-connected dl dt { width: 88px; float: left; }
  .get-connected dl dd { width: 712px; margin-left: 93px; padding: 10px 0 35px; color: #2e7fd0; font-size: 14px; font-weight: normal; position: relative; }
  .get-connected dl div { margin: 18px 0 0; text-align: center; }
  .get-connected dl dd.step-2 div { position: absolute; top: -68px; right: 0; }
  .get-connected dl dd.step-3 div img { margin-right: 135px; } 
  .get-connected dl dd a { text-decoration: underline; }