#topToonsMod .nextBtn,#topToonsMod .prevBtn {bottom:10px;}
#topToonsMod .seeAll {bottom:14px !important;}

#toonArt .navLeft {left:200px;}
#toonArt .navRight {right:200px;}

#submitBug .pcLauncher {height:785px}
#submitBug .macLauncher form, #submitBug .pcLauncher form {height:475px!important;}

form#commentForm .textarea-large { 
 position: relative;
 z-index: 50;
 padding-left: 0; 
 margin-top: 10px; 
}
form#commentForm .textarea-large textarea{ 
 position: relative;
 z-index: 100;
}
form#commentForm .text-large { 
z-index: 100; position: relative; height: 26px; width: 280px; margin-left: 0; padding: 5px 10px 5px 0; float: left;
}
form#commentForm .text-large input {
 position: relative; 
 z-index: 5000; 
 width: 260px; 
 font-size: 16px; 
 color: #666; 
 text-align: left;
 font-family: Arial,Helvetica,sans-serif; 
}
form#commentForm  label { width: 120px; float: left; }