body {
  font-family:arial, helvetica;
  font-size:10pt;
  color:#000000;
  background-color:#ffffff;
  margin-top:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-bottom:0px;
  /*height:100%;*/
  text-align:center;
}

td, p, select, option, textarea, input {
  font-family:arial, helvetica;
  font-size:10pt;
  color:#000000;
}

#launcher{width:280px;margin:0 auto;padding:10px 0 0 0;text-align:left}
.news{width:280px;padding:10px 0 0 0}
.newsImg{width:22px;height:28px;float:left;margin-top:10px;margin-bottom:10px}
.newsTxt{width:243px;float:left;margin-left:5px;margin-top:10px;margin-bottom:10px;text-align:justify}
.newsTitle{font-weight:bold}
.subtitle{color:#cc0000;font-weight:bold}
.subtitle2{color:#cc0000;font-weight:bold;text-align:left}

#blgHdr{}
.lineSpcr{margin:10px 0;text-align:center}
.line{width:280px;font-size:2px;border-top:2px solid #ccc;margin:0 auto}

.col1{width:22px}
.col2{width:5px}
.col3{width:243px}
.disneyParks{color:#00cc26}

/*Begin Site Gating*/
#ttGate{background-color:#880303;color:#fff;padding:3px 5px;display:none}
#ttGate a:link{color:#fff;text-decoration:underline;}
#ttGate a:visited{color:#fff;text-decoration:underline;}
#ttGate a:hover{color:#fff;text-decoration:underline;}
#ttGate a:active{color:#fff;text-decoration:underline;}
/*End Site Gating*/
