h1.manage_account {background: url(../img/templates/txt_manageAccntTitle.png) no-repeat scroll 0 0;text-indent:-9999px;margin:0px 0px 10px 33px;height:33px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/templates/txt_manageAccntTitle.png',sizingMethod='crop');}

.boxMid960 {position:relative;height:445px;padding-top:15px;}
.boxMid960 p {margin-left:20px;font-size:14px;line-height:20px;}
.boxMid960 p a {font-weight:bold;}

.character {background: url('../img/templates/img_manageAccntChar.png') no-repeat scroll 0 0;width:297px;height:309px;position:absolute;bottom:-25px;left:-40px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.gamestown/en/global/img/templates/img_manageAccntChar.png',sizingMethod='crop');}

#flashObj {width:530px;height:460px;margin-right:10px;background-color:red;position:absolute;top:0;right:0;}

#manageAcctFlash {width:1020px;margin-left:-40px;height:800px;}

/*TT Change */
object { outline:none; }