h1.sitemapTitle{width:100%;background:url(../img/title_sitemap.png) no-repeat scroll;margin:0px 0px 10px 5px;text-indent:-9999px;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/global/img/title_sitemap.png');}

.boxMid960{padding:20px;width:920px;overflow:hidden;}
.boxMid960 p {font-size:24px;line-height:32px;}
.boxMid960 ul {list-style:none;font-size:18px;font-weight:bold;margin:20px;}
.boxMid960 ul li {margin-bottom:10px;}


img#errorDog{margin:-190px 0px 0px 485px;}

