/*Begin global.css*/
/* browser reset */
body,div,ul,ol,li,p,table,td,tr,th,dl,dd,dt,form,input,textarea,button,select,option,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
img{border:none;}
.clear{overflow:hidden;zoom:1;}
.hidden{display:none;}
body{font-size:12px;color:#515151;font-family:Arial,Helvetica,sans-serif;background:#2b7ed0 url(../img/bg_body.jpg) no-repeat scroll top center;}
a,a:visited{color:#2078fd;text-decoration:none;outline: none;}
a:hover{text-decoration:underline;}
a.ttLink,a.ttLink:visited{color:#2078fd;text-decoration:underline;outline: none;}
a.ttLink:hover{text-decoration:underline;}
p{line-height:24px;}
.mainContainer{width:994px;margin:0 auto;padding:0;background:url(../img/bg_mainContainer.png) repeat scroll 0 0;}
#mainContent{width:951px;padding:0 15px 15px;}
button{color:#ffffff;background-color:#ed228e;padding:2px 5px;border:none;}
button:hover{cursor:pointer;}
h1,h2,h3,h4,h5,h6,h7{color:#1d1d1d;}
/*Begin TT change*/
h1{margin:10px 0;font-size:28px}
h2{font-size:18px}
/*End TT change*/
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
/* IE6 */
* html .clearfix {height: 1%;}
/* IE7 */
*:first-child+html .clearfix {min-height: 1px;}
/* header BEGIN */
#header{position:relative;min-height:150px;padding:0 30px;z-index:3;left: -5px;}
/*#disChrome{background:url(../img/bg_disChrome.png) repeat-x 0 0;}*/
#disChrome{}/*TT change*/
#disChrome table{margin:0 auto;}
#headerLogo{display:block;cursor:pointer;width:244px;height:110px;position:absolute;left:0;top:15px;z-index:2;text-indent:-9999px;background:url(../img/txt_headerLogo.png) no-repeat scroll 0 0;}
a#headerPlayNow{display:block;cursor:pointer;width:238px;height:130px;position:absolute;right:-8px;top:3px;z-index:2;text-indent:-9999px;background:url(../img/btn_playNow.png) no-repeat scroll 0 0;}
a#headerPlayNow:hover{background:url(../img/btn_playNowOvr.png) no-repeat scroll 0 0;width:256px;height:139px;}
#headerLogin{left:525px;list-style-type:none;position:absolute;top:10px;}
#headerLogin li{float:left;margin-right:10px;font-size:12px;font-weight:bold;color:#2078FD;}
#headerNav{width:550px;height:60px;position:absolute;left:146px;top:35px;z-index:1;padding:0 85px;list-style-type:none;text-indent:-9999px;background-position:0 447px;}
#subNavContainer{height:60px;left:200px;position:relative;top:83px;width:600px;z-index:5;}
#subNavContainer ul li{list-style-type:none;float:left;position:relative;top:29px;} /*TT Change*/
#subNavContainer ul li a{display:block;text-indent:-9999px;height:17px;} /*TT Change*/

/*#headerNav,#headerNav li a,#headerNav li ul,#subNavContainer ul,#subNavContainer ul li a{background-image:url(../img/bg_nav.png);}*/
#headerNav, #headerNav li a, #headerNav li ul, #subNavContainer ul, #subNavContainer ul li a, #subNavContainer #headerNavParentsSub { background-image:url("../img/bg_nav.png");}/*TT change*/

#headerNav li{float:left;height:60px;position:absolute;}
#headerNav li a{display:block;height:60px;background-position:0 507px;}
/* toon hq */
#headerNavToonHQ,#headerNavToonHQ a{width:120px;}
#headerNavToonHQ a:hover,.toonHq #headerNavToonHQ a{background-position:1px 387px;}
#headerNavToonHQ{left:85px;}
#headerNav #headerNavToonHQ ul{width:600px;height:62px;background-position:0 62px;}
.toonHq #headerNavToonHQSub{background-position:0 -180px;display:block;height:61px;margin-left:0;width:592px;}
#headerNavToonHQSub #toonWhatsNew{left:29px;}
#toonWhatsNew a{width:86px;}
#toonNews #headerNavToonHQSub #toonWhatsNew a,#headerNavToonHQSub #toonWhatsNew a:hover{background-position:0 582px;}
#headerNavToonHQSub #toonTopToon{left:37px;}
#toonTopToon a{width:78px;}
#topToons #headerNavToonHQSub #toonTopToon a,#headerNavToonHQSub #toonTopToon a:hover{background-position:-96px 582px;}
#headerNavToonHQSub #toonFanArt{left:42px;}
#toonFanArt a{width:55px;}
#toonArt #headerNavToonHQSub #toonFanArt a,#headerNavToonHQSub #toonFanArt a:hover{background-position:-180px 582px;}
#headerNavToonHQSub #toonCoolStuff{left:45px;}
#toonCoolStuff a{width:69px;}
#toonFun #headerNavToonHQSub #toonCoolStuff a,#headerNavToonHQSub #toonCoolStuff a:hover{background-position:-244px 582px;}
#headerNavToonHQSub #toonPlayersGuide{left:54px;}
#toonPlayersGuide a{width:106px;}
#playersGuide #headerNavToonHQSub #toonPlayersGuide a,.playersGuideDetail #headerNavToonHQSub #toonPlayersGuide a,#headerNavToonHQSub #toonPlayersGuide a:hover{background-position:-320px 582px;}
#headerNavToonHQSub #toonReleaseNotes{left:56px;}
#toonReleaseNotes a{width:105px;}
#releaseNotes #headerNavToonHQSub #toonReleaseNotes a,#headerNavToonHQSub #toonReleaseNotes a:hover{background-position:-432px 582px;}
#releaseNotes ul { font-weight: normal; margin-bottom: 40px; }
#releaseNotes .ttGen2RTxt2 { font-size: 16px; line-height: 24px; }
#releaseNotes p { margin: 0 0 24px; }
#releaseNotes h3 { font-size: 16px; font-weight: bold; line-height: 24px; margin: 0; padding: 0; }
/* about */
#headerNavAbout,#headerNavAbout a{width:92px;}
#headerNavAbout a:hover,.about #headerNavAbout a{background-position:-120px 387px;}
#headerNavAbout{left:206px;}
/* membership */
#headerNavMembership,#headerNavMembership a{width:150px;}
#headerNavMembership a:hover,.membership #headerNavMembership a{background-position:-209px 387px;}
#headerNavMembership{left:292px;}
.membership #headerNavMembershipSub{background-position:0 -242px;display:block;height:61px;margin-left:60px;width:523px;}
#headerNavMembershipSub #membershipJoin{left:29px;}
#membershipJoin a{width:95px;}
#join #headerNavMembershipSub #membershipJoin a,#headerNavMembershipSub #membershipJoin a:hover{background-position:0 564px;}
#headerNavMembershipSub #membershipPurchase{left:35px;}
#membershipPurchase a{width:65px;}
#purchase #headerNavMembershipSub #membershipPurchase a,#headerNavMembershipSub #membershipPurchase a:hover{background-position:-106px 564px;}
#headerNavMembershipSub #membershipManage{left:42px;}
#membershipManage a{width:123px;}
#manageAccount #headerNavMembershipSub #membershipManage a,#headerNavMembershipSub #membershipManage a:hover{background-position:-175px 564px;}
#headerNavMembershipSub #membershipRedeem{left:45px;}
#subNavContainer ul li#membershipRedeem {top:30px;} /*TT Change*/
#membershipRedeem a{width:80px;}
#redeemCard #headerNavMembershipSub #membershipRedeem a,#headerNavMembershipSub #membershipRedeem a:hover{background-position:-301px 563px;}
#headerNavMembershipSub #membershipContact{left:55px;}
#subNavContainer ul li#membershipContact {top:30px;} /*TT Change*/
#membershipContact a{width:80px;}
#contact #headerNavMembershipSub #membershipContact a,#headerNavMembershipSub #membershipContact a:hover{background-position:-388px 563px;}
/* parents */
#headerNavParents,#headerNavParents a{width:106px;}
#headerNavParents a:hover,.parents #headerNavParents a{background-position:-359px 387px;}
#headerNavParents{left:439px;}
.parents #headerNavParentsSub{background-position:0 -305px;display:block;height:63px;margin-left:90px;width:532px;}
#headerNavParentsSub #parentsFeatures{left:99px;}
#parentsFeatures a{width:65px;}
#features blockquote { padding: 0 60px 0 0; }
#features #headerNavParentsSub #parentsFeatures a,#headerNavParentsSub #parentsFeatures a:hover{background-position:-81px 546px;}
#headerNavParentsSub #parentsManage{left:102px;}
#parentsManage a{width:120px;}
#manageAccount #headerNavParentsSub #parentsManage a,#account-management #headerNavParentsSub #parentsManage a,#headerNavParentsSub #parentsManage a:hover{background-position:-148px 546px;}
#headerNavParentsSub #parentsFaqs{left:110px;}
#parentsFaqs a{width:38px;}
#faqs #headerNavParentsSub #parentsFaqs a,#headerNavParentsSub #parentsFaqs a:hover{background-position:-276px 546px;}
#headerNavParentsSub #parentsMembership{left:98px;}
#parentsMembership a{width:72px;}
#membership #headerNavParentsSub #parentsMembership a,#headerNavParentsSub #parentsMembership a:hover{background-position:-1px 546px;}
#headerNavParentsSub #parentsSafety{left:100px;}
#parentsSafety a{width:49px;}
#safety #headerNavParentsSub #parentsSafety a,#headerNavParentsSub #parentsSafety a:hover{background-position:-94px 546px;}
#headerNavParentsSub #parentsRecognition{left:119px;}
#parentsRecognition a{width:88px;}
#recognition #headerNavParentsSub #parentsRecognition a,#headerNavParentsSub #parentsRecognition a:hover{background-position:-326px 546px;}
/* help */
#headerNavHelp,#headerNavHelp a{width:93px;}
#headerNavHelp a:hover,.help #headerNavHelp a{background-position:-464px 387px;}
#headerNavHelp{left:546px;}
.help #headerNavHelpSub{background-position:0 -369px;display:block;height:61px;margin-left:56px;width:519px;}
#headerNavHelpSub #helpFaqs{left:18px;}
#helpFaqs a{width:43px;}
#faqs #headerNavHelpSub #helpFaqs a,#headerNavHelpSub #helpFaqs a:hover{background-position:0 527px;}
#headerNavHelpSub #helpTechIssues{left:29px;}
#helpTechIssues a{width:105px;}
#techIssues #headerNavHelpSub #helpTechIssues a,#headerNavHelpSub #helpTechIssues a:hover{background-position:-56px 527px;}
#headerNavHelpSub #helpPlayersGuide{left:45px;}
#helpPlayersGuide a{width:95px;}
#playersGuide #headerNavHelpSub #helpPlayersGuide a,#headerNavHelpSub #helpPlayersGuide a:hover{background-position:-180px 527px;}
#headerNavHelpSub #helpContact{left:63px;}
#helpContact a{width:70px;}
#contact #headerNavHelpSub #helpContact a,#headerNavHelpSub #helpContact a:hover{background-position:-288px 527px;}
#headerNavHelpSub #helpSubmit{left:71px;}
#helpSubmit a{width:98px;}
#submitBug #headerNavHelpSub #helpSubmit a,#headerNavHelpSub #helpSubmit a:hover{background-position:-250px 527px;}
#headerNavHelpSub #helpManage{left:75px;}
#helpManage a{width:114px;}
#manageAccount #headerNavHelpSub #helpManage a,#headerNavHelpSub #helpManage a:hover{background-position:-373px 527px;}
/* header END */
/* footer BEGIN */
#footer{width:994px;margin:0 auto;text-align:center;font-size:10px;padding:20px 0 0;}
#footerLinks1,#footerLinks2{width:260px;margin:0 auto;}
#footerLinks1{margin-bottom:10px;width:280px;height:59px;background:url('../img/img_footerSprite.png') 0 0;}
#footerLinks1 a {height:59px;display:block;}
#footerLinks1 #rating a{width:80px;}
#footerLinks1 #goy a{width:48px;}
#footerLinks1 #gold a{width:56px;}
#footerLinks1 #silver a{width:56px;}
#footerLinks1 #bbb a{width:40px;}
#footerLinks1 li,#footerLinks2 li{list-style-type:none;}
#footerLinks2 li{display:inline;}
#footerLinks1 li{display:inline;margin:0px 0px;float:left;}
#footer a,#footerLinks2 li a{color:#fff;}
/* footer END */
/* boxes BEGIN */
.boxTop705x241{background:url(../img/bg_boxTop705x241.png) no-repeat scroll 0 0;height:15px;width:960px;}
.boxMid705x241{background:url(../img/bg_boxMid705x241.png) repeat-y scroll 0 0;width:960px;}
.boxBot705x241{background:url(../img/bg_boxBot705x241.png) no-repeat scroll 0 0;height:15px;width:960px;}
.boxTop241x705{background:url(../img/bg_boxTop241x705.png) no-repeat scroll 0 0;height:15px;width:960px;}
.boxMid241x705{background:url(../img/bg_boxMid241x705.png) repeat-y scroll 0 0;width:960px;}
.boxBot241x705{background:url(../img/bg_boxBot241x705.png) no-repeat scroll 0 0;height:15px;width:960px;}
.boxTop960{background:url(../img/bg_boxTop960.png) no-repeat scroll 0 0;height:15px;width:960px;}
.boxMid960{background:url(../img/bg_boxMid960.png) repeat-y scroll 0 0;width:960px;}
.boxBot960{background:url(../img/bg_boxBot960.png) no-repeat scroll 0 0;height:15px;width:960px;}
.boxTop975{background:url(../img/bg_boxTop975.png) no-repeat scroll 0 0;height:15px;width:980px;}
.boxMid975{background:url(../img/bg_boxMid975.png) repeat-y scroll 0 0;width:980px;}
.boxBot975{background:url(../img/bg_boxBot975.png) no-repeat scroll 0 0;height:15px;width:980px;}
.left705{float:left;width:705px;}
.left241{float:left;width:241px;}
.right705{float:right;width:705px;}
.right241{float:right;width:241px;}
.btmBorder{border-bottom:3px solid #d4d4d4;}
/* boxes END */
/* arrows BEGIN */
.arrowBack{background-image:url(../img/icon_arrow.png);background-repeat:no-repeat;background-position:left 2px;padding:0 0 1px 25px;height:16px;}
.arrowBack2{background-image:url();background-repeat:no-repeat;background-position:left 2px;padding:0 0 1px 25px;height:16px;}
.arrowNext{background-image:url(../img/icon_arrow.png);background-repeat:no-repeat;background-position:right -30px;padding:0 25px 1px 0;height:16px;}
.arrowNext2{background-image:url();background-repeat:no-repeat;background-position:right -30px;padding:0 25px 1px 0;height:16px;}
.arrowUp{background-image:url(../img/icon_arrow.png);background-repeat:no-repeat;background-position:left -61px;padding:0 0 1px 22px;height:19px;}
/* arrows END */
.print{background-image:url(../img/bg_print.png);background-repeat:no-repeat;background-position:left center;padding:10px 0 10px 30px;}
.hrDottedGray,hr{background-image:url(../img/bg_hrDottedGray.png);background-repeat:repeat-x;}
hr{height:2px;border:none;margin:25px 0;}
.hrSolid{background-image:none;border-bottom:3px solid #D4D4D4;}
.imgFrame{border:1px solid #d4d4d4;padding:5px;background-color:#ffffff;}
/*form begin*/
form#searchForm{margin:10px 0 20px 20px;margin-left:20px;}
form#searchForm .searchBoxWhite{background:url(../img/bg_search-white.png) no-repeat scroll;border:none;width:353px;height:48px;float:left;padding:5px 8px;font-size:28px;color:#515151;top:0;}
form#searchForm .btnSubmitBig{cursor:pointer;background:url(../img/btn_findIt-big.png) no-repeat scroll 0 0;width:146px;height:49px;float:left;text-align:-9999px;border:none;margin-left:7px;top:0;}
form#searchForm .btnSubmitBig:hover{background-position:0 -49px;}
/*form end */
/*bullet start */
.ttBullet li{padding-left:15px;background:url(../img/icon_ulBullet.png) no-repeat scroll left center;}
/*bullet end */
/*did you know module start*/
.didYouKnow{line-height:18px;}
h2.didYouKnow{margin-bottom:10px;}
.didYouKnow img{float:left;margin-right:10px;}
/*did you know module start*/
/*End global.css*/

/*Begin TT Globals*/
#ttLoginMsg1 a:link{color:#2078FD;text-decoration:underline;}
#ttLoginMsg1 a:visited{color:#2078FD;text-decoration:underline;}
#ttLoginMsg1 a:hover{color:#2078FD;text-decoration:underline;}
#ttLoginMsg1 a:active{color:#2078FD;text-decoration:underline;}

#ttLoginMsg2 a:link{color:#2078FD;text-decoration:underline;}
#ttLoginMsg2 a:visited{color:#2078FD;text-decoration:underline;}
#ttLoginMsg2 a:hover{color:#2078FD;text-decoration:underline;}
#ttLoginMsg2 a:active{color:#2078FD;text-decoration:underline;}

#homepage #pageMessage { margin:0 auto; width:995px; height:590px; z-index:2; position:relative; }
#homepage #pageMessage .message { position: relative; top: 142px; text-align: center; font-size: 18px; line-height: 24px; }

/*Begin Site Gating*/
#ttGate{margin:0 auto;width:994px;background-color:#880303;color:#fff}
#ttBanner,#ttGameClosed,#ttCommerceClosed{padding:5px}
#ttGate a:link{color:#fff;text-decoration:underline;}
#ttGate a:visited{color:#fff;text-decoration:underline;}
#ttGate a:hover{color:#fff;text-decoration:underline;}
#ttGate a:active{color:#fff;text-decoration:underline;}
/*End Site Gating*/

.ttError{color:#ff0000}
.ttInfo{font-size:8px;color:#ff0000}
.ttSm{font-size:8px}
.ttTmp{height:75px}
.ttMid{text-align:center}
.bold{font-weight:bold}

input.ttField{width:150px}
.ttIE6png{display:block;cursor:pointer}
.ttClear{clear:both}
.ttMsg{color:#2b7ed0}
.ttBold{font-weight:bold}
label.ttLabel1 {width:340px;}
.ttHidden{visibility:hidden}
.ttVisible{visibility:visible}
#ttBackToDC{margin:0 auto;width:994px}
div.ttInputWrapper {width:353px;background:url(../img/bg_search-white.png) left top no-repeat;color:#515151;float:left}
div.ttInputWrapper:hover, div.ttInputWrapper:focus {background-position: 0 top;}
div.ttInputWrapper input {font-size:28px;color:#515151;border: 0;padding: 5px 8px;height: 48px;width: 335px;background-color: transparent;}
a.btn-done { background: url(../img/btns/done.gif) 0 0 no-repeat; width: 123px; height: 51px; text-indent: -9999px; display: block; }
a.btn-done:hover { background-position: 0 -51px; }
#ttHeader{margin:0 auto;width:994px;height:113px;background: url(../img/header.jpg) 0 0 no-repeat;}
#ttLog{display:none;padding:0 0 5px 5px;font-size:10px;color:#000}
.ie6Float{display:inline}
.ttNoScript{margin:0 auto;width:990px;background-color:#FF6633;color:#fff;padding:5px 2px;}
/*End TT Globals*/
