h1.gallery { background:url(../img/txt_toonFun.png) no-repeat scroll top left; text-indent:-9999px; margin-left:5px; width:176px; height:31px; line-height:27px; padding-bottom:5px; }
#colA { float:left; width:191px; padding:0 25px 25px; overflow:hidden; }
#colB { float:right; width:655px; padding:0 25px; }
#colB ol { margin-left:20px; line-height:24px; }
hr { clear:both; }
.arrowBack { float:right; margin-bottom:10px; }
h2.hrDottedGray,h3.hrDottedGray { background-position:top left; color:#2078FD; font-size:18px; font-weight:bold; padding:15px 0; margin-top:15px; }
h2.hrDottedGray { margin-top:25px; padding:15px 0 0;clear: both; }
#colA h2{margin:5px 0px; font-size: 18px;}
h2.colNavSelected {font-weight: normal;clear:both;background:transparent url(../../playersguide/img/bg_colNavSelected.png) no-repeat scroll left top;color:#203F4C;font-size:18px;height:22px;left:-14px;padding:5px 15px;position:relative;width:201px;}
#colA ul { list-style-type:none; padding-left:10px; font-size:18px; }
#colA dl dt { font-size:18px; }
#colA dl { padding-left:12px; }
#colA dl dd { padding:10px 0; }
#colA p {line-height: 16px; color:#2078FD;}
#colA ol {list-style-position:inside; color:#2078FD; margin: -16px 0px 0px 0px;}
#colA ol li {margin: 16px 0px 0px 0px;}
#colA dl dd ul li,.bulletedList li { font-size:14px; padding:3px 15px; list-style-type:none; background:url(../../global/img/icon_ulBullet.png) no-repeat scroll 0 7px; }
#colA dl dd ul li.colNavSelected { background:url(../../playersguide/img/bg_colNavSelected.png) no-repeat scroll left top; width:201px; height:22px; padding:5px 15px; position:relative; font-size:18px; left:-22px; color:#203f4c; }
#colB h2 { font-size:24px;}
#colB h3 { font-size:24px; }
#colB p {  padding:12px 10px 0px 0; font-size:16px; }
#colB ul li, #colB ol li {font-size:16px; margin:5px 0px 0px }
#colB p:first-child, #colB p.botPadd{padding-bottom:10px;}
#colB .print { float:right; }
#colB .arrowUp { margin:30px 0 20px; float:right; }
div#mainContent { position:relative; }
div.nextUp { background:url(../../playersguide/img/bg_nextUp.jpg) no-repeat scroll right bottom; height:31px; clear:both; text-align:right; position:absolute; bottom:0; right:32px; width:337px; padding:155px 13px 0 0; }
div.charColA { }
/* div.charColA { background:url(../../playersguide/img/img_charColA.png) no-repeat scroll top left; height:219px; position:absolute; top:64px; left:-132px; width:150px; } */
.playersGuideDetail div.charPlayersGuide { background:url(../../playersguide/img/img_charPlayersGuide.png) no-repeat scroll top left; display:block; height:99px; position:absolute; right:-73px; top:37px; width:195px; }
.charMainContent,ul.pgUlNav li { background-image:url(../../playersguide/img/bg_ulPlayersGuide.gif); }
.boxMid960 { padding:10px 25px; width:910px; }
.boxTop960 { clear:both; }
ul.pgUlNav li { list-style-type:none; background-repeat:no-repeat; height:38px; font-size:26px; padding:15px 0 0 70px; margin-bottom:10px; }
ul.pgUlNav li.pgActivities { background-position:-500px 0; }
ul.pgUlNav li.pgTheWorld { background-position:-500px -56px; }
ul.pgUlNav li.pgHintsTips { background-position:-500px -112px; }
ul.pgUlNav li.pgToons { background-position:-500px -167px; }
ul.pgUlNav li.pgCogs { background-position:-500px -220px; }
ul.pgUlNav li.pgGamePlay { background-position:-500px -271px; }
.charMainContent { background-position:0; background-repeat:no-repeat; width:500px; height:430px; position:absolute; top:6px; left:415px; z-index:1; }
form.searchForm { float:right; background:url(../../global/img/bg_search.png) no-repeat scroll center left; width:295px; height:30px; position:relative; z-index:2; margin-bottom:7px; }
form.searchForm .inputText { width:157px; height:20px; border:none; background-color:transparent; padding:10px 10px 0; }
form.searchForm .btnSubmit { cursor:pointer; background:url(../../global/img/btn_findIt.png) no-repeat scroll center left; width:106px; height:32px; text-align:-9999px; border:none; margin-left:7px; }
body form#searchForm { margin:0 0 7px; }
.bulletedList li ul li { background:none; }
#colB .bulletedList { margin-bottom:15px;line-height: 20px; }
#colB table {width:113px;float:left;}
#colB table tr td {text-align:center;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(../img/macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 2px solid #2078fd;
	text-align:left;
	top:50%;
	left:50%;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}

#TB_title{
	background-color:#e8e8e8;
	height:27px;
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}
