h1{margin-left:5px;text-indent:-9999px;line-height:32px;padding-bottom:5px;height:32px;background:url(../img/txt_membership.png) no-repeat scroll top left;width:151px;}
#mainContent{overflow:hidden;}
#topNavContainer{position:relative;width:965px;}
#topNavContainer div{position:absolute;right:1px;z-index:1;width:697px;font-size:26px;color:#1d1d1d;}
#topNavContainer div p{position:relative;top:70px;left:40px;width:280px;text-align:center;}
#membershipUlNav{color:#2078fd;list-style-type:none;height:219px;width:278px;z-index:2;position:relative;padding:10px 0px 10px 15px;background:url(../img/bg_leftNavDisplay.gif) no-repeat 0 0;}
#membershipUlNav li,#botBoxes a.button,#botBoxes .gameCardInfo dl.retailers ul{background-image:url(../img/bg_navSprite-1.4.gif);background-repeat:no-repeat;}
#membershipUlNav li{color:#2078FD;cursor:pointer;font-size:20px;position:relative;height:31px;list-style-type:none;padding:9px 0 0 52px;width:228px;}
.displaybDetail{display:none;}
ul#membershipUlNav li.selected{color:#1d1d1d;top:-3px;}
#displayDetailLi_1{background-position:0px -204px;}
ul#membershipUlNav #displayDetailLi_1.selected{background-position:0px -2px;top:0px;}
#displayDetailLi_2{background-position:0px -245px;}
#displayDetailLi_2.selected{background-position:0px -41px;}
#displayDetailLi_3{background-position:0px -286px;}
#displayDetailLi_3.selected{background-position:0px -81px;}
#displayDetailLi_4{background-position:0px -327px;}
#displayDetailLi_4.selected{background-position:0px -122px;}
#displayDetailLi_5{background-position:0px -366px;}
#displayDetailLi_5.selected{background-position:0px -162px;}

#displayDetail_1{background:url(../img/bg_playForFree-1.2.jpg) no-repeat 0 0;height:239px;top:1px;}
#displayDetail_2{background:url(../img/bg_noLimits.jpg) no-repeat 0 0;height:254px;top:1px;}
#displayDetail_3{background:url(../img/bg_expressYourself.jpg) no-repeat 0 0;height:247px;top:1px;}
#displayDetail_4{background:url(../img/bg_bossBattles.jpg) no-repeat 0 0;height:237px;top:1px;}
#displayDetail_5{background:url(../img/bg_funStuff.jpg) no-repeat 0 0;height:264px;top:1px;}

#subscribe{width:737px;height:160px;margin:0px 0px 20px 0px;}
#subscribe p{font-size:16px;color:#003366;padding:3px;font-family:Arial,Helvetica,sans-serif;margin: -5px 0px 0px 0px;}

/*Begin TT change*/
#subscribe h2{width:230px;height:28px;margin-bottom:5px;background:url(../img/price-plans.png) no-repeat 0 0;text-indent:-9999px;}
/*End TT change*/

#subscribe ul li{width:230px;height:111px;float:left;list-style-type:none;margin:0px 15px 0px 0px;}

/*Begin TT change*/
#subscribe ul li a.subscribeMonth{position:relative;float:left;width:240px;height:98px;text-indent:-9999px;background:url(../img/price-plans.png) no-repeat 0px -30px;cursor:pointer;}
#subscribe ul li a.subscribeMonth:hover{background-position: 0px -143px;}
#subscribe ul li a.subscribeSemi{position:relative;float:left;width:240px;height:98px;text-indent:-9999px;background:url(../img/price-plans.png) no-repeat -242px -30px;cursor:pointer;}
#subscribe ul li a.subscribeSemi:hover{background-position: -242px -143px;}
#subscribe ul li a.subscribeYear{position:relative;float:left;width:240px;height:111px;text-indent:-9999px;background:url(../img/price-plans.png) no-repeat -487px -30px;cursor:pointer;}
/*End TT change*/

#subscribe ul li a.subscribeYear:hover{background-position: -487px -143px;}

#botBoxes{width:964px;height:415px;margin-top:10px;background:url(../img/bg_botBoxes-1.4.jpg) no-repeat 0 0;}
#botBoxes div{width:310px;height:415px;position:relative;float:left;color:#1d1d1d;}
#botBoxes div h2{text-indent:-9999px;height:54px;}
#botBoxes div p{font-size:18px;color:#1d1d1d;padding:0px 20px;}

#botBoxes .giftSubscription a.button{width:203px;height:48px;display:block;position:absolute;left:20px;bottom:74px;text-indent:-9999px;background-position:-280px -2px;}
#botBoxes .giftSubscription a.button:hover{background-position:-280px -51px;}



/*
#botBoxes .redeemCard a.button{width:173px;height:51px;display:block;position:absolute;left:25px;bottom:30px;text-indent:-9999px;background:url(../img/btn_enterCode.png) no-repeat 0px -2px;}
#botBoxes .redeemCard a.button:hover{background-position:0px -55px;}
*/

#botBoxes .redeemCard a.button{width:203px;height:48px;display:block;position:absolute;left:25px;bottom:30px;text-indent:-9999px;background-position:-280px -206px;}
#botBoxes .redeemCard a.button:hover{background-position:-280px -256px;}

#botBoxes .gameCardInfo dl dt{font-size:16px;font-weight:bold;}
#botBoxes .gameCardInfo dl{padding:0px 0px 15px 3px;}
#botBoxes .gameCardInfo dl.availability{position:absolute;top:245px;}
#botBoxes .gameCardInfo dl.retailers{position:absolute;top:325px;}
#botBoxes .gameCardInfo dl.retailers ul{list-style-type:none;background-position:-10px -415px;width:98px;height:37px;margin-left:104px;margin-top:10px}
#botBoxes .gameCardInfo dl.retailers ul li{text-indent:-9999px;}
#botBoxes .gameCardInfo dl.availability dd ul li{list-style-type:none;background:transparent url(../../global/img/icon_ulBullet.png) no-repeat scroll left 7px;font-size:14px;padding:3px 15px;}
.gameCardInfo{left:15px;}
.redeemCard{left:0px;}
.giftSubscription{left: 35px;}

#cancelTxt{text-align:center;padding:10px 0 0 0}
#cancelTxt p.cancelTxt1{font-size:18px;color:#fff;font-weight:bold}
#cancelTxt p.cancelTxt2{font-size:16px;color:#fff;font-weight:bold}
#cancelTxt a{color:#fff;text-decoration:underline}

.sprite { background: transparent url(../img/bg_navSprite-1.4.gif) no-repeat scroll 0 0;border: none; outline: none; cursor: pointer; text-indent: -9999em; }
	input.sprite { display: block; text-transform: capitalize; } /* Necessary for IE7/IE6 */
	a.sprite { display: block; text-indent: -9999em; }
#botBoxes .giftSubscription .sprite.giftRedeem { width: 203px; height: 50px; background-position: -280px -103px; position:absolute;left:20px;bottom:20px; }
#botBoxes .giftSubscription	.sprite.giftRedeem:hover { background-position: -280px -152px; position:absolute;left:20px;bottom:20px;}

#IE6 .membership #botBoxes {background: none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='http://dolimg.com/toontown/en/membership/img/bg_botBoxes-1.4.jpg', sizingMethod='crop');}
