.right241{padding:10px 18px 0px;width:205px;}

.arrowBack {background-position: 0px 0px;}
.arrowNext {background-position: right -31px;}
h1.search{height:30px;width:186px;background:url(../img/txt_search.png) no-repeat scroll;margin:0px 0px 10px 5px;text-indent:-9999px;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/search/img/txt_search.png', sizingMethod='crop');}

.searchContainer {padding:0 20px;}
#search #mainContent { position:relative; }

.resultsCount {font-weight:bold;font-size:18px;color:#1d1d1d;float:left;margin-left:20px;}

div.arrowNext, div.arrowBack{height:22px;width:35px;margin-top:5px;}
div.arrowNext{float:right;text-align:right;}
div.arrowBack{float:left;}

div.paginationContainer {float:right;width:290px;margin-right:20px;}
ul.searchPagination {list-style:none;color:#2078fd;position: relative;top:-5px;}
ul.searchPagination .selected{background:url(../img/bg_searchPagination.png) no-repeat 0 0;}
ul.searchPagination .selected a{border:none; }
ul.searchPagination li {float:left;width:30px;height:30px;color:#2078fd;padding-top:10px;_padding-top:5px;}
ul.searchPagination li.last{border:none;}
ul.searchPagination li a{padding:9px 12px 7px;border-right:1px solid #D4D4D4;}
ul.searchPagination li a.last2{padding:9px 12px 7px;border-right:0 solid #D4D4D4;}

ul.searchResults{list-style:none;clear:both;padding: 10px 0px 10px 0px;}

li.searchResult {padding:20px 25px;}
li.searchResult h4 {font-size:14px;font-weight:bold;text-transform: uppercase;}
li.searchResult a {font-size:14px;font-weight:normal;}

.searchHover {background-color:#d2e4ff;border:4px solid #2078fd;padding-top:2px;}

.charSearch{position:absolute;}
.charSearch#monkey {background:url(../img/img_searchCharactersMonkey.png) no-repeat 0 0;width:245px;height:162px;/*top:88px;right:-3px;*/top:-61px;right:-16px;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.gamestown/en/search/img/img_searchCharactersMonkey.png', sizingMethod='scale');}
.charSearch#bear {background:url(../img/img_searchCharactersBear.jpg) no-repeat 0 0;width:208px;height:201px;top:430px;right:36px;/*right:49px;top:580px;*/display:none}
.charSearch#dog {background:url(../img/img_searchCharactersDog.jpg) no-repeat 0 0;width:233px;height:327px;top:731px;right:11px;/*right:24px;top:880px;*/display:none}

#formMsg{display:none;padding:0 30px}
#search_0,#search_1,#search_2,#search_3,#search_4,#search_5,#search_6,#search_7,#search_8,#search_9,#searchErr{display:none}
#searchErrTxt{color:#2078fd;font-size:26px;font-weight:bold}
#paginationTop,#paginationBtm{display:none}
#searchPrevTop,#searchNextTop{}
#searchTips{clear:both;display:none}

.hrSolid{margin-left:19px;margin-right:19px}

#searchTips ul li{font-size:17px;padding:3px 20px 10px;list-style-type:none;line-height:20px;background:url(../../global/img/icon_ulBullet.png) no-repeat scroll left 10px;}
#searchTips dl{margin-top:15px;line-height:23px;padding-top:0px;}
#searchTips dl dd,#searchTips dl dt{position:relative;padding:4px 25px 15px 35px;}
#searchTips dl dd{font-size:16px;}
#searchTips dl dt{font-size:18px;}
#searchTips dl dd span,#searchTips dl dt{color:#000000;font-weight:bold;}
#searchTips dl dd span,#searchTips dl dt span{font-size:26px;position:absolute;top:0px;left:0px;}

#searchTips dl dd span, #searchTips dl dt {
color:#000000;
font-weight:bold;
}

#searchTips dl dt {
font-size:18px;
}

#searchTips dl dd, #searchTips dl dt {
padding:4px 25px 15px 35px;
position:relative;
}

form#searchForm{margin:0;padding-left:20px}
.left705{padding-top:20px}/*match colB for Player's Guide and FAQs*/
