h1.coolStuff{
background: url(../img/title.png) no-repeat scroll top left;
text-indent:-9999px;
margin-left: 5px;
float:left;
width: 176px;
height:26px;
line-height: 26px;
padding-bottom: 5px;
_background:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/cool-stuff/img/title.png',sizingMethod='crop');
}

div#mainContent{
position:relative;
}

ul.pgUlNav li a{
background-image: url(../img/btn_ToonFunLanding.gif);
display: block;
width:301px;
height:62px;
text-indent: -9999px;
background-repeat: no-repeat;
}

.boxMid960{
padding: 10px 25px;
width: 910px;
height:415px;
}

.boxTop960{
clear: both;
background:url() no-repeat scroll 0 0;height:0px;width:960px;
}

.boxMid960{
padding:10px 25px;
height:423px;
background:url(../img/bg-toon-clouds.jpg) no-repeat scroll 0 0;
}

.boxBot960{height:0px;background:url()}

h1,h2 {position:relative;width:575px;float:right;z-index:6;}
h1{margin: 10px 0px;}

ul.pgUlNav {
float: left;
width: 301px;
overflow: hidden;
}

ul.pgUlNav li{
list-style-type: none;
height: 61px;
padding: 0px;
margin-bottom: 10px;
}

ul.pgUlNav li a.navWallpaper{
background-position: 0px 0px;
}

ul.pgUlNav li a.navWallpaper:hover{
background-position: 0px -127px;
}

ul.pgUlNav li a.navIcons{
background-position: 0px -65px;
}

ul.pgUlNav li a.navIcons:hover{
background-position: 0px -192px;
}

ul.pgUlNav li a.navStayTooned{
background-position: 0px -127px;
}

ul.pgUlNav li a.navStayTooned:hover{
background-position: 0px -319px;
}

.charMainContent{
background: url(../img/bg_charToonFun.png) no-repeat scroll top left;
width: 489px;
height:375px;
position: absolute;
bottom: 14px;
right: 3px;
z-index:1;
}

form#searchForm{
float: right;
background: url(../img/players/bg_playersGuideSearch.png) no-repeat scroll center left;
width: 295px;
height:30px;
position:relative;
z-index:2;
margin:0px 0px 7px;
}

form.searchForm .inputText{
width: 157px;
height:20px;
border: none;
background-color: transparent;
padding: 10px 10px 0px;
}

form.searchForm .btnSubmit{
cursor: pointer;
background: url(../../global/img/btn_findIt.gif) no-repeat scroll 0 0;
width: 99px;
height:31px;
text-align: -9999px;
border: none;
margin-left:7px;
}

form.searchForm .btnSubmit:hover{
background-position: 0px -32px;

body form#searchForm {
margin:0px 0px 7px 0px;
}

