/*Contest Landing*/
h1.contestLanding {width:100%;background:url(../img/titles/landing.png) no-repeat scroll 0;margin:0px 0px 10px 5px;text-indent:-9999px}
#contest p { font-size: 16px; padding: 12px 10px 0 0;}
#contest ol { font-size: 16px; margin: 0 0 0 16px }
#contest .boxMid960{position:relative;}
#contest .boxMid960 #contestHeader{position:absolute;top:20px;left:0px;width:900px;text-align:center}
#contest .boxMid960 #colA{width:900px;padding:40px 0 0 40px;line-height:18px}
#contest .boxMid960 #colB{width:900px;padding:0 40px 0 40px;line-height:18px}
#contest .boxMid960 #ctImg{position:absolute;top:100px;left:464px;}
#ctLandingLinks{position:relative;height:100px}
#ctLandingLinks #mailInEntry{position:absolute;top:20px;left:262px;}
#ctLandingLinks #onlineEntry{position:absolute;top:20px;left:491px;}
#ctLandingLinks #terms{position:absolute;top:70px;left:257px;}
#IE6 h1.contestLanding{background: none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='https://toontastic.sunrise.games/toontown/en/contest/img/titles/landing.png');}

/*Contest Writing*/
h1.contestWriting {width:100%;background:url(../img/titles/writing-contest-entry.jpg) no-repeat scroll 0;margin:0px 0px 10px 5px;text-indent:-9999px}
#contestWriting p { font-size: 16px; padding: 12px 10px 0 0;}
#contestWriting .boxMid960{position:relative;/*height:720px*/}
#contestWriting .boxMid960 #contestHeader{position:absolute;top:0px;left:40px;}
#contestWriting .boxMid960 #colA{width:420px;padding:40px 0 0 40px;line-height:18px}
#contestWriting .boxMid960 #ctImg{position:absolute;top:100px;left:464px;}
#contestWriting #colA ol li {font-size: 16px;line-height: 23px;padding: 4px 15px 0px 0px;margin:0 0  0 20px}
#contestWriting .boxMid960 #colB{width:900px;padding:0 40px 20px 40px;line-height:18px}
#contestWriting #termsOfUse{position:relative;height:50px}
#contestWriting #termsOfUse #box{position:absolute;top:10px;left:0px;}
#contestWriting #termsOfUse #copy{position:absolute;top:-6px;left:30px;}
#ctLandingLinks{position:relative;height:100px}
#contestWriting .disclaimer { font-size: 12px; line-height: 16px; clear: both; width: 400px; padding: 20px 0 50px 15px; }
#contestWriting label { color: #1D1D1D; font-size: 18px; font-weight: bold; clear: left;display:block }
#contestWriting textarea { resize: none; font-family: Arial,Helvetica,sans-serif; font-style: normal; font-size: 12px; overflow: auto; }
#contestWriting input.smText, input.medText, textarea.bigText,textarea.bigText,.textAreaWrapper,.inputWrapperMed,.inputWrapperSm{ background: url(../../global/img/form.png); _background: url(../../global/img/form.png) no-repeat fixed; color: #515151; font-size: 12px; border: none; }
#contestWriting input.smText,input.medText,.inputWrapperMed,.inputWrapperSm{ height: 23px; }
#contestWriting textarea.bigText,#contestWriting .textAreaWrapper { width: 311px; }
#contestWriting .inputWrapperMed{ background-position: 0 -51px; padding: 0px 10px; margin-bottom: 6px; height: 32px; }
#contestWriting input.smText, input.medText { background: none; }
#contestWriting input.medText, #contestWriting .inputWrapperSm{ width: 202px; }
#contestWriting input.medText { /*padding-top: 8px; */}
.inputWrapperSm { background-position: 0 -270px; background-repeat: no-repeat; height: 30px; padding-left: 8px; margin-bottom: 5px; margin-top:5px }
.inputWrapperSm div { margin-left: 20px}
.inputWrapperSm input { padding-top: 8px; }
.inputWrapperMed,.inputWrapperSm { float: left; }
#contestWriting textarea.bigText { height: 135px; background: none; }
#contestWriting .textAreaWrapper { background-position: 0 -84px; height: 135px; padding: 8px 10px; float: left; margin-top:5px}
#contestWriting input#bugSubmit { border: medium none; bottom: 24px; height: 50px; position: absolute; right: 205px; _right: 200px; width: 145px; text-indent: -99999px; font-size: 0px; display: block; line-height: 0px; }
#contestWriting .note { font-size: 14px; font-weight: bold; line-height: 18px; clear: both; margin: 0 0 15px; }
#contestWriting label.ttLabel1  { width: 400px; clear: both; }
#contestWriting #formMsg{padding:10px 0}


/*Contest Art*/
h1.contestArt {width:100%;background:url(../img/titles/art-contest-entry.png) no-repeat scroll 0;margin:0px 0px 10px 5px;text-indent:-9999px}
#contestArt p { font-size: 16px; padding: 12px 10px 0 0;}
#contestArt .boxMid960{position:relative;/*height:720px*/}
#contestArt .boxMid960 #contestHeader{position:absolute;top:0px;left:40px;}
#contestArt .boxMid960 #colA{width:420px;padding:40px 0 0 40px;line-height:18px}
#contestArt .boxMid960 #ctImg{position:absolute;top:100px;left:464px;}
#contestArt #colA ol li {font-size: 16px;line-height: 23px;padding: 4px 15px 0px 0px;margin:0 0  0 20px}
#contestArt .boxMid960 #colB{width:900px;padding:0 40px 20px 40px;line-height:18px}
#contestArt #termsOfUse{position:relative;height:50px}
#contestArt #termsOfUse #box{position:absolute;top:10px;left:0px;}
#contestArt #termsOfUse #copy{position:absolute;top:-6px;left:30px;}
#ctLandingLinks{position:relative;height:100px}
#contestArt .disclaimer { font-size: 12px; line-height: 16px; clear: both; width: 400px; padding: 20px 0 50px 15px; }
#contestArt label { color: #1D1D1D; font-size: 18px; font-weight: bold; clear: left;display:block }
#contestArt textarea { resize: none; font-family: Arial,Helvetica,sans-serif; font-style: normal; font-size: 12px; overflow: auto; }
#contestArt input.smText, input.medText, textarea.bigText,textarea.bigText,.textAreaWrapper,.inputWrapperMed,.inputWrapperSm{ background: url(../../global/img/form.png); _background: url(../../global/img/form.png) no-repeat fixed; color: #515151; font-size: 12px; border: none; }
#contestArt input.smText,input.medText,.inputWrapperMed,.inputWrapperSm{ height: 23px; }
#contestArt textarea.bigText,#contestArt .textAreaWrapper { width: 311px; }
#contestArt .inputWrapperMed{ background-position: 0 -51px; padding: 0px 10px; margin-bottom: 6px; height: 32px; }
#contestArt input.smText, input.medText { background: none; }
#contestArt input.medText, #contestArt .inputWrapperSm{ width: 202px; }
#contestArt input.medText { /*padding-top: 8px; */}
.inputWrapperSm { background-position: 0 -270px; background-repeat: no-repeat; height: 30px; padding-left: 8px; margin-bottom: 5px; margin-top:5px }
.inputWrapperSm div { margin-left: 20px}
.inputWrapperSm input { padding-top: 8px; }
.inputWrapperMed,.inputWrapperSm { float: left; }
#contestArt textarea.bigText { height: 135px; background: none; }
#contestArt .textAreaWrapper { background-position: 0 -84px; height: 135px; padding: 8px 10px; float: left; margin-top:5px}
#contestArt input#bugSubmit { border: medium none; bottom: 24px; height: 50px; position: absolute; right: 205px; _right: 200px; width: 145px; text-indent: -99999px; font-size: 0px; display: block; line-height: 0px; }
#contestArt .note { font-size: 14px; font-weight: bold; line-height: 18px; clear: both; margin: 0 0 15px; }
#contestArt label.ttLabel1  { width: 400px; clear: both; }
#contestArt #formMsg{padding:10px 0}

/*Contest Thanks*/
h1.contestThanks {width:100%;background:url(../img/titles/submission.png) no-repeat scroll 0;margin:0px 0px 10px 5px;text-indent:-9999px}
#contestThanks p { font-size: 16px; padding: 12px 10px 0 0;}
#contestThanks .boxMid960{position:relative;height:400px}
#contestThanks .boxMid960 #colA{position:absolute;top:0px;left:0px;width:420px;padding:20px 0 0 40px;line-height:18px}
#contestThanks .boxMid960 #ctImg{position:absolute;top:15px;left:464px;}

.contestErr{height:200px}
#colA ul li.questionBullets {font-size: 16px;line-height: 23px;padding: 4px 15px 10px 20px;}
#colA ul li {	background: url("../../global/img/icon_ulBullet.png") no-repeat scroll left 10px transparent;font-size: 16px; line-height: 20px;list-style-type: none;	padding: 3px 20px 10px;}
.ctSprt { background: transparent url(../img/btns/entry.gif) no-repeat scroll 0 0;border: none; outline: none; cursor: pointer; text-indent: -9999em; }
input.ctSprt { display: block; text-transform: capitalize; } /* Necessary for IE7/IE6 */
a.ctSprt { display: block; text-indent: -9999em; }
div.ctSprt {text-indent: -9999em; }
.ctSprt.mailIn {width:124px;height:36px;background-position:0 0}
.ctSprt.mailIn:hover {width:124px;height:36px;background-position:-125px 0}
.ctSprt.online {width:124px;height:36px;background-position:0 -34px}
.ctSprt.online:hover {width:124px;height:36px;background-position:-125px -34px}

.ctSprt2 { background: transparent url(../img/btns/play-toon-hq.gif) no-repeat scroll 0 0;border: none; outline: none; cursor: pointer; text-indent: -9999em; }
input.ctSprt2 { display: block; text-transform: capitalize; } /* Necessary for IE7/IE6 */
a.ctSprt2 { display: block; text-indent: -9999em; }
div.ctSprt2 {text-indent: -9999em; }
#ctLandingLinks2{position:relative;height:100px}
#contestWriting #ctLandingLinks2 .ctSprt2.play, #contestArt #ctLandingLinks2 .ctSprt2.play{width:124px;height:36px;background-position:0 0;position:absolute;top:100px;left:20px;}
#contestWriting #ctLandingLinks2 .ctSprt2.play:hover, #contestArt #ctLandingLinks2 .ctSprt2.play:hover {width:124px;height:36px;background-position:-125px 0;position:absolute;top:100px;left:20px;}
#contestWriting #ctLandingLinks2 .ctSprt2.toonhq, #contestArt #ctLandingLinks2 .ctSprt2.toonhq {width:124px;height:36px;background-position:0 -34px;position:absolute;top:100px;left:200px;}
#contestWriting #ctLandingLinks2 .ctSprt2.toonhq:hover, #contestArt #ctLandingLinks2 .ctSprt2.toonhq:hover {width:124px;height:36px;background-position:-125px -34px;position:absolute;top:100px;left:200px;}

#contestThanks #ctLandingLinks2 .ctSprt2.play {width:124px;height:36px;background-position:0 0;position:absolute;top:100px;left:20px;}
#contestThanks #ctLandingLinks2 .ctSprt2.play:hover {width:124px;height:36px;background-position:-125px 0;position:absolute;top:100px;left:20px;}
#contestThanks #ctLandingLinks2 .ctSprt2.toonhq {width:124px;height:36px;background-position:0 -34px;position:absolute;top:100px;left:200px;}
#contestThanks #ctLandingLinks2 .ctSprt2.toonhq:hover {width:124px;height:36px;background-position:-125px -34px;position:absolute;top:100px;left:200px;}

#contest #ctLandingLinks2 .ctSprt2.play {width:124px;height:36px;background-position:0 0;position:absolute;top:100px;left:20px;}
#contest #ctLandingLinks2 .ctSprt2.play:hover {width:124px;height:36px;background-position:-125px 0;position:absolute;top:100px;left:20px;}
#contest #ctLandingLinks2 .ctSprt2.toonhq {width:124px;height:36px;background-position:0 -34px;position:absolute;top:100px;left:200px;}
#contest #ctLandingLinks2 .ctSprt2.toonhq:hover {width:124px;height:36px;background-position:-125px -34px;position:absolute;top:100px;left:200px;}
