.boxMid960 {position:relative;padding-top: 0px;}

h1.contact {background: url(../img/txt_sumbitContact.png) no-repeat scroll 0 0;text-indent:-9999px;margin-left:33px;height:30px;}

#leftCol, #rightCol {float: left;}
#leftCol {margin-left: 20px;_margin-left:10px;}
#leftCol p, #rightCol p {margin-top:10px;text-align:right;font-size: 12px;width:325px;_width:305px;float: left;text-align: left;}
#rightCol {width:625px;float: right;}

span.fanMail {background:url(../img/txt_contactFan.png) no-repeat scroll 0 0;display:block;height:31px;width:105px;}

label {color:#1D1D1D;float:left;font-size:18px;font-weight:bold;padding-top:19px;width:210px;text-align: right;margin-right: 10px;}

textarea, input.bigText {background:url(../img/bg_contactTxtSpt.png) no-repeat scroll 0 0;width: 352px;border: none;color:#666666;font-size:12px;}
input.bigText{padding:8px 10px 0px;height:23px;}
textarea {resize:none;font-family:Arial,Helvetica,sans-serif;font-style: normal;font-size:12px;overflow: auto;}
textarea.bigText {background-position:0 -32px;height:115px;padding:8px 10px 8px 10px; margin: 0px 0px 57px 0px;}

/* input#bugSubmit {background:url(../img/global/btn_submitSprite.png) no-repeat scroll 0 0;border:medium none;bottom:0;height:50px;position:absolute;right:285px;_right:200px;width:145px;text-indent:-99999px;font-size:0px;display:block;line-height:0px;} */

div.selector select {
	border:0 none;
	font-size:1.1em;
	line-height:23px;
	margin:0;
	padding:0 40px 0 0;
	position:relative;
}

div.selector select {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	width:219px;
}
div.selector {
	background:transparent url(../../global/img/bg_contactSelect.png) repeat-x scroll left center;
	border:medium none;
	color:#444444;
	display:block;
	float:right;
	height:34px;
	line-height:22px;
	margin-top:3px;
	position:relative;
	width:219px;
}

div.selector span {
	background:transparent url(../../global/img/bg_contactSelectBtn.png) no-repeat scroll 183px 10px;
	display:block;
	font-size:16px;
	left:6px;
	padding:6px 20px 0 10px;
	position:absolute;
	right:0;
	top:0;
}
input#Submit {
	background:transparent url(../../global/img/btn_submitSprite.png) no-repeat scroll 0 0;
	border:medium none;
	bottom:0;
	display:block;
	font-size:0;
	height:50px;
	line-height:50;
	position:absolute;
	/*right:285px;*/
	right:115px;/*TT change*/
	text-indent:-99999px;
	width:145px;
}

input#Submit:hover {background-position: 0 -51px;}

/* span.warning {color:#E94100;font-size:10px;font-weight:bold;} */

span.warning {
	color:#E94100;
	display:block;
	font-size:10px;
	font-weight:bold;
	margin:0 0 0 135px;
}

.thanks {
	padding:20px 0px 100px 0px;
	margin: auto;
	text-align: center;
}
.error {
  color:#ff0000;
  font-weight:bold;
	display:inline;
}
.character {background:url(../img/img_submitCharMonkey.png) no-repeat scroll 0 0;width:340px;height:298px;position:absolute;z-index: 10;bottom: -100px;left: -60px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../img/contact/img_submitCharMonkey.png',sizingMethod='crop');}

.clearAll {
	clear: both;
}

/*Begin TT Live Person*/
#contactTxt{padding:0 25px 10px 25px}
#contactTxt p { padding:12px 10px 0px 0; font-size:16px; }
#disneyButton,#ttLiveChatLogin {padding:140px 0 0 100px}
/*End TT Live Person*/


#contactTxt ul li{font-size:17px;padding:3px 20px 10px;list-style-type:none;line-height:20px;background:url(../../global/img/icon_ulBullet.png) no-repeat scroll left 10px;}
#contactTxt dl{margin-top:15px;line-height:23px;padding-top:0px;}
#contactTxt dl dd,#contactTxt dl dt{position:relative;padding:4px 25px 15px 35px;}
#contactTxt dl dd{font-size:16px;}
#contactTxt dl dt{font-size:18px;}
#contactTxt dl dd span,#contactTxt dl dt{color:#000000;font-weight:bold;}
#contactTxt dl dd span,#contactTxt dl dt span{font-size:26px;position:absolute;top:0px;left:0px;}

#contactTxt dl dd span, #contactTxt dl dt {
color:#000000;
font-weight:bold;
}

#contactTxt dl dt {
font-size:18px;
}

#contactTxt dl dd, #contactTxt dl dt {
padding:4px 25px 15px 35px;
position:relative;
}
