h1.error{width:100%;background:url(../img/uh-oh.png) no-repeat scroll;margin:0px 0px 10px 5px;text-indent:-9999px;}
h1.thanksTitle{width:100%;background:url(../img/thanks.png) no-repeat scroll;margin:0px 0px 10px 5px;text-indent:-9999px;}
h1.pageNotFoundTitle{width:100%;background:url(../img/page-not-found.png) no-repeat scroll;margin:0px 0px 10px 5px;text-indent:-9999px;}

.boxMid960{padding:20px;width:920px;overflow:hidden;}
.boxMid960 p {width: 480px;font-size:18px;line-height:24px;position:relative;float:left;display:block;}
.boxMid960 ul {list-style:none;font-size:18px;font-weight:bold;margin:20px;position:relative;float:left;clear:left;}
.boxMid960 ul li {margin-bottom:10px;}

#flippyMap{position:relative;float:right;margin:-100px 0px 0px 0px;}

#error #colA{padding:0;width:960px;height:400px;position:relative}
#error #errMsg1{width:600px;height:20px;position:absolute;top:20px;left:40px;font-size:24px;color:#000;font-weight:bold}
#error #errMsg2{width:600px;height:20px;position:absolute;top:75px;left:40px;font-size:18px;color:#000}
#error {position:relative}
#error #errImg{width:370px;height:350px;position:absolute;top:250px;left:580px;background:url(../img/fishing.png) no-repeat scroll 0}
#error .boxMid960 {height:280px;position:relative}

/*Begin Report Bug Thanks*/
#reportBugThanks .boxMid960 {
	position:relative;
}
#reportBugThanks #flippy {
  position: absolute;
		top: 100px;
		right: 10px;
}
#reportBugThanks .inner {
	width: 480px;
}
/*End Report Bug Thanks*/

