.boxMid960 { height:500px; }

/* ---- homepage redundant nav ---- */
.bottomInnerContainerTop,.bottomInnerContainerBot { width:974px; }
.bottomInnerContainerTop,.bottomInnerContainerBot { height:15px; overflow:hidden; }
.bottomInnerContainerTop { background:url(../../global/img/bg_homepageTop.png) no-repeat scroll 0 0; }
.bottomInnerContainerMid { background-color:#95b9eb; overflow:hidden; width:950px; padding:35px 12px 0; height:242px; }
.bottomInnerContainerBot { background:url(../../global/img/bg_homepageBot.png) no-repeat scroll 0 0; }
.bottomInnerContainerMid dl { list-style:none; float:left; width:190px; height:195px; font-weight:700; font-size:13px; color:#000; text-align:center; background-color:#95b9ed; }
.bottomInnerContainerMid dl dt,.bottomInnerContainerMid dl dd { margin:0 auto; }
.bottomInnerContainerMid dl dt,.bottomInnerContainerMid dl dt a { width:172px; margin:0 auto; }
.bottomInnerContainerMid dl dt { height:134px; margin-bottom:5px; }
.bottomInnerContainerMid dl dd { height:56px; width:152px; padding:0 10px; line-height:16px; }
.bottomInnerContainerMid dl dt a { height:134px; display:block; text-indent:-9999px; }

/* ---- backgrounds for redundant nav ---- */
/* this gets loaded in with jquery with a flash callback */
/*.bottomInnerContainerMid dl dt a { background-image:url(../../global/img/img_homeSubNavSprite.jpg); background-repeat:no-repeat; }*/
.bottomInnerContainerMid dl#toonHQ dt a { background-position:0 0 !important; }
.bottomInnerContainerMid dl#about dt a { background-position:-172px 0 !important; }
.bottomInnerContainerMid dl#membership dt a { background-position:-344px 0 !important; }
.bottomInnerContainerMid dl#parents dt a { background-position:-516px 0 !important; }
.bottomInnerContainerMid dl#help dt a { background-position:-688px 0 !important; }

/* ---- hovers for redundant nav ---- */
.bottomInnerContainerMid dl#toonHQ dt a:hover { background-position:0 -134px !important; }
.bottomInnerContainerMid dl#about dt a:hover { background-position:-172px -134px !important; }
.bottomInnerContainerMid dl#membership dt a:hover { background-position:-344px -134px !important; }
.bottomInnerContainerMid dl#parents dt a:hover { background-position:-516px -134px !important; }
.bottomInnerContainerMid dl#help dt a:hover { background-position:-688px -134px !important; }

/* ---- homepage spotlight flash ---- */
#homepage #mainContent { padding:0px 0px 15px; width:984px; }
#homepage #homepageFlash { margin:0 auto; width:995px; height:590px; z-index:2; position:relative; }
#homepage #header { min-height:98px; _height:98px; z-index:100; }
#homepage #homepagelowerNav { width:974px; overflow:hidden; z-index:0; margin:-51px auto 0; position:relative;left: 5px; }

/* ---- homepage no flash ---- */
.flash-update { text-align:center; font-size:18px; }
.flash-update p { margin-top:100px; }

/*TT change*/
#mainContent #ttNoFlash{position:relative}
#ttNoFlash{position:absolute;top:132px; left:-12px}